<template>

<div id="app" >
           
    <body class="articles-config ">

<!-- HEADER COMPONENT -->
        <Header :logo_image="logo_image" :categories= "categories" :products = "products"></Header>
        
<!-- HEADER COMPONENT -->
        <main>
            <div v-if="$page.props.flash.status" class="bg-blue-500 text-white text-sm font-bold p-4">
                    <p>{{ $page.props.flash.status }}</p>

            </div>
            <slot></slot>
        </main>

        
<!--SEGUROS COMPONENT -->

        <div class="articles-config flex grid grid-cols-3 px-16"> 

            <div class="p-10" >
                
                <div class=" text-black text-7xl  primary-text box-content w-60 h-60 py-6 " >
                    <h1>Créditos Hipotecarios</h1>
                </div> 

                <div class="text-gray-800 secodary-text box-content h-5 w-30 py-6 " >
                    <p>Créditos de consumo lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et cursus risus.</p>
                </div>

                <div class= "box-content py-6 ">
                    <button   class="  px-6 text-gray-800 rounded-xl mr-7" type="button"> Vivienda usada</button>
                </div>
                <div class= "box-content  py-6 ">
                    <button   class="  px-6 text-gray-800 rounded-xl mr-7" type="button"> Vivienda nueva </button>
                </div>
                
               
                

            </div>

            <div align="center" class="col-start-2 col-span-2 ">

                <img v-bind:src="carInsurance_image" alt="imagen introduccion home" class="pt-16" > 

            </div>

            <te-llamamos :te_llamamos_button="te_llamamos_button" > </te-llamamos>
                
        </div> 

<!-- FORM COMPONENT-->
        <div class="px-16 " align= "center">
        <opportunity-form :form="form" class=" w-full " >
                            
            <template v-slot:options >
                <!-- ejemplo para asunto fijo
                <div class="grid grid-cols-1 mt-1 ">

                    <p class="py-2 px-3 rounded-lg border-2 mt-1  focus:ring-purple-600 focus:border-transparent" type="text"  >celular</p>
                </div>
                -->
                <!--para agregar mas inputs
                <div class="grid grid-cols-1 mt-5 mx-7">

                    <input class="py-2 px-3 rounded-lg border-2 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" placeholder="celular" />
                </div>
                -->
                <label   class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Asunto</label>

                    <select v-show="false" v-model="form.product_id" class="py-2 px-3 rounded-lg border-2  mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent">
                        <option  v-bind:value="product.id">
                            {{product.name}}
                        </option>
                        
                    </select>
                    <div class="grid grid-cols-1 ">

                        <p class="py-2 px-3 rounded-lg border-2 mt-1  focus:ring-purple-600 focus:border-transparent" type="text"  >{{product.name}}</p>
                    </div>
                    <!-- para pruebas <span>selected: {{ form.product_id }}</span>-->
            </template>

        </opportunity-form>
        </div>
<!-- FORM COMPONENT-->

<!-- CARDS DESCRIPTION COMPONENT-->

        <div class=" py-16 px-16 grid grid-cols-2 gap-4">
            <div class=" rounded-lg " align="center"  >
                <img class="h-80 w-98" v-bind:src="intro_image" alt="imagen seguros vehiculos" > 
            </div>

            <div class=" p-16 bg-white  rounded-lg ">
                <div class=" text-black text-5xl  primary-text box-content w-2/5 " >
                    <p >{{product.name}}</p>
                </div> 
                <div>
                    <p>
                    {{product.description}}
                </p>

                </div>

                

            </div>

        </div>

<!-- CARDS DESCRIPTION COMPONENT-->



<!--SEGUROS COMPONENT -->

<!-- FOOTER SCOMPONENT -->
        
        <Footer :logo_image = "logo_image" 
                :facebook_icon = "facebook_icon"
                :instagram_icon = "instagram_icon"
                :twitter_icon = "twitter_icon" ></Footer>       
<!-- FOOTER COMPONENT -->
    </body>
</div>
  
</template>


<script>
//import JetApplicationMark from '@/Jetstream/ApplicationMark'
//import JetBanner from '@/Jetstream/Banner'
//import JetDropdown from '@/Jetstream/Dropdown'
//import JetDropdownLink from '@/Jetstream/DropdownLink'
import JetNavLink from '@/Jetstream/NavLink'
import OpportunityForm from '@/Layouts/OpportunityForm'

import TeLlamamos from '@/Layouts/TeLlamamos'

import Header from '@/Layouts/Header'
import Footer from '@/Layouts/Footer'
//import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'
import logo_image from '@/Pages/Utilities/Logo/Logo1.png'
import intro_image from '@/Pages/Utilities/Images/pic.png'
import facebook_icon from '../../../../public/images/facebook.png'
import instagram_icon from '../../../../public/images/instagram.png'
import twitter_icon from '../../../../public/images/twitter.png'
import te_llamamos_button from '../../../../public/images/tellamamos.png'
import carInsurance_image from '@/Pages/Utilities/Images/carsInsuranceimg.png'




export default {
    

    
      
   props: {
        logo: String,
        products: Array,
        categories: Array,
        product: Object,
       
    },
    components: {
            //JetApplicationMark,
            //JetBanner,
            //JetDropdown,
            //JetDropdownLink,
            JetNavLink,
            OpportunityForm,

            TeLlamamos,

            Header,
            Footer,
            //JetResponsiveNavLink,
        },

    
    
    data () {// esta funcion devuelve el objeto
        return {
            title: 'broker',     
            

            logo_image: logo_image , 
            intro_image: intro_image,
            facebook_icon: facebook_icon,
            instagram_icon: instagram_icon,
            twitter_icon: twitter_icon,
            te_llamamos_button: te_llamamos_button,

            carInsurance_image: carInsurance_image,
            
            form: {
                name:  '',
                email:  '',
                customer_phone: '',
                product_id: this.product.id,
                message: '',
            }
            
        }
    }

}


</script>

<style>
     

.intro-message{
font-family: Secular One;
font-style: normal;
font-weight: normal;
line-height: 80px;
/* or 111% */

letter-spacing: -3px;

color: #333333;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}


.snap-x {
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: end;
}

 .centrado{
		    margin:10px auto;
		    display:block;
    }

    hr, .hrcolor {
   height: 1px;
   border: 0;
   color: #666;
   background-color: #000;
}

 .tab {
            overflow: hidden;
            }
            .tab-content {
            max-height: 0;
            transition: all 0.5s;
            }
            input:checked + .tab-label .test {
                background-color: #000;
            }
            input:checked + .tab-label .test svg {
                transform: rotate(180deg);
                stroke: #fff;
            }
            input:checked + .tab-label::after {
            transform: rotate(90deg);
            }
            input:checked ~ .tab-content {
            max-height: 100vh;
            }

</style>

