<template>

<!-- HEADER COMPONENT -->
    <Header :logo_image="logo_image" ></Header>
        
<!-- HEADER COMPONENT -->
    <main>
        <div v-if="$page.props.flash.status" class="bg-blue-500 text-white text-sm font-bold p-4">
                <p>{{ $page.props.flash.status }}</p>

        </div>
        <slot></slot>
    </main>


    <div >
        <div align="center" >

            <img v-bind:src="carInsurance_image" alt="imagen introduccion home" class="pt-16" > 

        </div>
                
        <te-llamamos :te_llamamos_button="te_llamamos_button" > </te-llamamos>
              
        <div class="page-config grid grid-cols-2 px-16 py-2" >
        
            <div class=" box-content w-98 h-64 pt-20">

                <h2 class=" text-black  secundary-text ">SEGUROS</h2>
                <p class=" pt-10 text-white  primary-text text-5xl">SEGUROS   <br>PARA TODO TIPO DE RIESGO</p>
            
            </div>
            
            <div class=" box-content w-98 h-64 pt-14">

                <p class="text-white secundary-text pt-24 pr-36 pl-12 pb-8" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, 
                at aliquam felis consectetur.</p>
                
            </div>

        </div> 

        <div id="seguros-page" class="flex page-config grid gap-10  grid-cols-2 px-16 py-14">

            <div class="box-content h-98 w-98" >

                <div class=" rounded-t-lg articles-config" align="center" >
                    <img class="h-80 w-98" v-bind:src="intro_image" alt="imagen introduccion home" > 
                </div>

                <div class="rounded-b-lg  bg-white p-10" >

                    <p class="leading-loose text-black  text-2xl  primary-text"> 
                        SEGUROS PARA VEHICULOS
                    </p>

                    <p class="text-gray-400 text-base  secondary-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                    </p>

                </div>

            </div>

            <div class="box-content h-98 w-98" >

                <div class=" rounded-t-lg articles-config" align="center" >
                    <img class="h-80 w-98" v-bind:src="intro_image" alt="imagen introduccion home" > 
                </div>

                <div class="rounded-b-lg  bg-white p-10" >

                    <p class="leading-loose text-black  text-2xl  primary-text"> 
                        SEGUROS DE VIDA
                    </p>

                    <p class="text-gray-400 text-base  secondary-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                    </p>

                </div>

            </div>

            <div class="box-content h-98 w-98" >

                <div class=" rounded-t-lg articles-config" align="center" >
                    <img class="h-80 w-98" v-bind:src="intro_image" alt="imagen introduccion home" > 
                </div>

                <div class="rounded-b-lg  bg-white p-10" >

                    <p class="leading-loose text-black  text-2xl  primary-text"> 
                        SEGUROS PERSONALES
                    </p>

                    <p class="text-gray-400 text-base  secondary-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                    </p>

                </div>

            </div>

            <div class="box-content h-98 w-98" >

                <div class=" rounded-t-lg articles-config" align="center" >
                    <img class="h-80 w-98" v-bind:src="intro_image" alt="imagen introduccion home" > 
                </div>

                <div class="rounded-b-lg  bg-white p-10" >

                    <p class="leading-loose text-black  text-2xl  primary-text"> 
                        SEGUROS PARA EL HOGAR
                    </p>

                    <p class="text-gray-400 text-base  secondary-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                    </p>

                </div>

            </div>

        </div>

        <div class="flex article-config px-16 py-10 ">

            <div class="flex w-screen rounded-lg articles-config grid gap-2 grid-cols-5">

                <div  align="center" class="px-2 col-start-1 col-end-2">
                    <img class="h-40 w-40" v-bind:src="intro_image" alt="imagen introduccion home" > 
                </div>

                <div class="py-10 col-start-2 col-end-5">
                    <h3  class="leading-loose text-black  text-2xl  primary-text">Buscar Agente</h3>
                    <p class="text-gray-500 text-base  secondary-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus</p>
                </div>
            
                <a href="#contacts-form" class= "py-16 col-start-5 box-content h-3 w-40 py-10 ">
                    <button   class="bg-gray-800 py-2 px-11 text-gray-300 rounded-xl mr-7" type="button"> contactanos</button>
                </a>

            </div>

        </div>
    </div>
    <!-- FOOTER SCOMPONENT -->
        
        <Footer :logo_image = "logo_image" 
                :facebook_icon = "facebook_icon"
                :instagram_icon = "instagram_icon"
                :twitter_icon = "twitter_icon" >
        </Footer>    

<!-- FOOTER COMPONENT -->

</template>

<script>
//import JetApplicationMark from '@/Jetstream/ApplicationMark'
//import JetBanner from '@/Jetstream/Banner'
//import JetDropdown from '@/Jetstream/Dropdown'
//import JetDropdownLink from '@/Jetstream/DropdownLink'
import JetNavLink from '@/Jetstream/NavLink'
import OpportunityForm from '@/Layouts/OpportunityForm'

import TeLlamamos from '@/Layouts/TeLlamamos'

import Header from '@/Layouts/Header'
import Footer from '@/Layouts/Footer'
//import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'
import logo_image from '@/Pages/Utilities/Logo/Logo1.png'
import intro_image from '@/Pages/Utilities/Images/pic.png'
import facebook_icon from '../../../../public/images/facebook.png'
import instagram_icon from '../../../../public/images/instagram.png'
import twitter_icon from '../../../../public/images/twitter.png'
import te_llamamos_button from '../../../../public/images/tellamamos.png'
import carInsurance_image from '@/Pages/Utilities/Images/carsInsuranceimg.png'


export default {
    

    methods: {
      showUser() {
          console.log(this.$page.auth.user.loggedIn);
      },
      
   },
    components: {
            //JetApplicationMark,
            //JetBanner,
            //JetDropdown,
            //JetDropdownLink,
            JetNavLink,
            OpportunityForm,

            TeLlamamos,
            
            Header,
            Footer
            //JetResponsiveNavLink,
        },

    el: '#app',//pseudo selector de css, todas las aplicaciones de vue tienen un unico elmento padre, lo que este fuera de ese elemento se considera fuera de la aplicacion
    props: {
        logo: String,
        products: Object,
       
    },
    data () {// esta funcion devuelve el objeto
        return {
            title: 'broker',     
            logo_image: logo_image , 
            intro_image: intro_image,
            facebook_icon: facebook_icon,
            instagram_icon: instagram_icon,
            twitter_icon: twitter_icon,
            te_llamamos_button: te_llamamos_button,

            carInsurance_image: carInsurance_image,
            
            form: {
                name:  '',
                email:  '',
                customer_phone: '',
                subject: '',
                message: '',
            }
            
        }
    }

}


</script>

<style>
     

.intro-message{
font-family: Secular One;
font-style: normal;
font-weight: normal;
line-height: 80px;
/* or 111% */

letter-spacing: -3px;

color: #333333;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}


.snap-x {
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: end;
}

 .centrado{
		    margin:10px auto;
		    display:block;
    }

    hr, .hrcolor {
   height: 1px;
   border: 0;
   color: #666;
   background-color: #000;
}

 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }


</style>

