<template>

    <body>

        <div class=" flex items-stretch ">

            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed ">
              <div class="w-56 ">
                    <Sidenav/>   
                </div>
                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
                
                <div class="flex-grow  articles-config px-12  py-6 ">

                    <div class="flex justify-between items-center ">
                        
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Cursos</h1>
                        </div>
                        
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
                    </div>
            
             <!-- contenido dashboard -->

                    <div class="rounded-xl my-10  h-5/6  overflow-auto bg-white ">
                        
                        <div class="flex flex-col bg-white ">
                        
                            <div class="mx-5 my-1 ">
                                <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                                  Creación de cursos
                                </h2>
                            </div>

                           <div class="flex justify-between align-baseline px-10">

                                <div class="py-5">
                                    <h3 class="primary-text text-xl">Nuevos Cursos</h3>
                                    <p class="secundary-text">Crea contenido para cursos y material de entrenamiento de    <b>Broker Financial</b> </p>
                                </div> 
                                
                                <div>
                                    <button @click="submit" class="bg-gradient-to-r from-green2     border-none   to-green3   text-white rounded-xl  py-1 px-14    align-middle">
                                    Crear
                                    </button>
                                </div>

                           </div>

                            <div class=" bg-white rounded-xl px-10 grid grid-cols-2 gap-10">

                                <div class="grid-flow-col " >

                                    <p class="py-2 text-lg "> <b> Imagen de presentación </b> </p>

                                    <div  >
                                     <input class="h-96 w-96 ml-14 relative focus:outline-none" type="file" @change="select_file">
                                         <div class="bg-gray-200 rounded-xl h-80 shadow-lg  pt-10 m-5 -mt-80" align="center">
                                                        
                                                        <img v-if="preview == ''" class="object-contain h-52 w-full" v-bind:src="Cloud_icon" alt="imagen editar cursos" > 
                                                        <img v-else class="object-contain h-60 w-full " :src="preview" >
                                                    
                                
                                            </div>
                                            

                                    </div>
                                     

                                </div>

                                <div class="grid-flow-col  " >

                                    <form @submit.prevent="submit">

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Nombre </b> </p>
                                        </label>
                                        <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.name"
                                        ></textarea>
                                       

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Creador </b> </p>
                                        </label>
                                        <select v-model="form.user_id" class="form-input w-full rounded-md shadow-lg articles-config border-none">
                                            <option v-for="admin in admins" :key="admin.id" v-bind:value="admin.id">
                                                {{admin.name}}
                                            </option>  
                                        </select>

                                        

                                        <label class="block font-medium text-sm text-gray-700">
                                           <p class="py-2 text-lg "> <b> Descripción </b> </p>
                                        </label>
                                        <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.description"
                                            rows="8"
                                        ></textarea>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Categoria </b> </p>
                                        </label>
                                        <select v-model="form.course_category_id" class="form-input w-full rounded-md shadow-lg articles-config border-none">
                                            <option v-for="category in categories" :key="category.id" v-bind:value="category.id">
                                                {{category.name}}
                                            </option>
                                        </select>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Disponibilidad </b> </p>
                                        </label>
                                        <select v-model="form.visible" class="form-input w-full rounded-md shadow-lg  articles-config border-none mb-10">
                                            <option value="1">Disponible</option>
                                            <option value="0">No Disponible</option>
                                        </select>

                                    </form>
                                </div>
                            </div>

                        </div>
 
                    </div>

             <!-- contenido dashboard -->

                </div>

    
                
            </div>

        </div>

    </body>

</template>

<script>
    import Messages from '../../Pages/Messages/miniContainer.vue'
    import AdminLayout from '@/Layouts/AdminLayout'
    import Label from '../../Jetstream/Label.vue'
    import Button from '../../Jetstream/Button.vue'
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Cloud_icon from '../../../../public/images/wcloud.png'

    

    export default {

        components: {
            
            Label,
            Button,
            Sidenav,
            DropdownProfile,
            AdminLayout,
            Messages,
            
        },

        props: {
            lessons: Array,
            categories: Array,
            admins: Array,
        },

        data (){
            
            return {

                Cloud_icon:Cloud_icon,
                preview: '',
                
                form: {
                    name: '',
                    slug: '',//this contains infotmation that is going to be display in a box
                    //media_storage_id: '',
                    thumbnail: null, 
                    description: '',// in this case it should be empty 
                    user_id: '',
                    course_category_id: '',
                    visible:'',
                    
                }
                
            }
        },

        
        // computed: {
        //     slug: function() {
            
        //     return slug;
        //     }
        // },

        mounted() {

        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }       
                    
        },

        methods: {
            updatePhotoPreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.preview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.photo.files[0]);
            },
            select_file(event){
                this.form.thumbnail = event.target.files[0];
                this.preview = URL.createObjectURL(this.form.thumbnail)
                
            },
            submit (){
                var slug = this.sanitizeTitle(this.form.name);
                this.form.slug = slug
                this.$inertia.post(this.route('courses.store'),this.form)
            },
            sanitizeTitle: function(title) {
                var slug = "";
                // Change to lower case
                var titleLower = title.toLowerCase();
                // Letter "e"
                slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e');
                // Letter "a"
                slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a');
                // Letter "o"
                slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o');
                // Letter "u"
                slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u');
                // Letter "d"
                slug = slug.replace(/đ/gi, 'd');
                // Letter "ñ"
                slug = slug.replace(/[ñ]/, 'n');
                // Trim the last whitespace
                slug = slug.replace(/\s*$/g, '');
                // Change whitespace to "-"
                slug = slug.replace(/\s+/g, '-');
                
                return slug;
            }
        }
    }
</script>

<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
    }
</style>