<template>

    <body>

        <div class=" flex items-stretch ">

            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div>

                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
                
                <div class="flex-grow  articles-config px-12  py-6 " >

                    <div class="flex justify-between items-center ">
                        
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Cursos</h1>
                        </div>

                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
                        
                    </div>

                    <!-- contenido dashboard -->

                    <div class="rounded-xl  my-6  h-5/6  overflow-auto bg-white">

                    <div class="flex flex-col bg-white  ">

                        <div class="mx-5 my-1 ">
                            <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                            Administración de Cursos
                            </h2>
                        </div>
                    

                        <div class="flex justify-between align-baseline px-10">

                            <div class="py-5">
                                <h3 class="primary-text text-xl">Contenido de Cursos</h3>
                                <p class="secundary-text">Aquí podrás crear, editar y eliminar material de entrenamiento y cursos de Broker Financiall.</p>
                            </div>

                            <div class="w-36  h-10  m-4">
                                <inertia-link :href="route('courses.create')" class="bg-gradient-to-r from-green2     border-none   to-green3   text-white rounded-xl  py-1 px-14    align-middle">
                                    Crear
                                </inertia-link>
                            </div>

                        </div>  

                        <div class=" m-10 bg-white">
                                                                        
                            <table class=" grid grid-row gap-y-6 gap-x-10 " >

                                <tr v-for="course in courses" :key="course.id" class="articles-config rounded-2xl flex justify-between   items-center " >

                                    <td class="  px-4 py-2  w-52   h-28   rounded-xl shadow-xl bg-gray-200 ">
                                        <div  v-if="course.media_storage != null">
                                        <img class="object-contain h-24 w-full " :src=" course.media_storage.nameUrl" width="300" height="180">
                                        </div>
                                        
                                    </td>

                                    <td class="  px-4 py-2 w-1/5 uppercase primary-text ">
                                        {{course.name}}
                                    </td>

                                    <td class=" w-2/5  px-4 py-2 secundary-text">
                                        {{(course.description.length >= 26 ) ? course.description.substring(0,26)+ '...' : course.description.substring(0,18)}}
                                    </td>

                                    <td class=" px-12  py-2 ">
                                        <inertia-link :href="route('courses.show', course.id)">
                                                                        
                                            <img  v-bind:src="Delete_icon" alt="imagen ver cursos" >
                                            <p class=" text-center primary-text "> ver</p>
                                            
                                        </inertia-link>
                                    </td>

                                    <td class=" px-12  py-2  ">
                                        <inertia-link  :href="route('courses.edit', course.id)">
                                    
                                            <img  v-bind:src="Edit_icon" alt="imagen editar cursos" > 
                                            <p class="primary-text -mx-2"> editar</p>  
                                        </inertia-link>    
                                                    
                                    </td>

                                </tr>

                            </table>

                        </div>    

                    </div>


                    
                    </div>

                    <!-- contenido dashboard -->
                </div>    

            </div>

        </div>
        
    </body>
    
</template>

<script>
    import AdminLayout from '@/Layouts/AdminLayout'
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Edit_icon from '../../../../public/images/Edit1.png'
    import Delete_icon from '../../../../public/images/Delete1.png'
    import Messages from '../../Pages/Messages/miniContainer.vue'
    
    

    export default {
        components: {
            
            AdminLayout,
            Sidenav,
            DropdownProfile,
            Messages,
            
        },
        //courses properties added to system
        props: {
            courses: Array,
            
        },
        
        data (){
            
            return{
                Edit_icon : Edit_icon,
                Delete_icon : Delete_icon,
            }
            
        },
        
        

        mounted() {

        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }       
                    
        },
        
    }
</script>

<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
    }
</style>