<template>
<body class="w-full h-full">

    <div class="flex m-6 pt-3 items-center  gap-5">
        <div class="rounded-full bg-gray-200  w-12 h-12 "> avatar</div>
        <p>Usuario: </p>
    </div>
    
    <div class="flex flex-col articles-config rounded-2xl h-3/4 overflow-auto mx-6 ">
        <div v-for="message in messages" :key="message.id" class="grid grid-cols-12 ">
            <div v-if="message.user.id != userId" class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-blue2  flex-shrink-0 text-white">
                        {{message.user.firstname[0]}}
                    </div>
                    <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                        <div>{{message.message}}</div>
                    </div>
                </div>
            </div>
            <div v-if="message.user.id == userId" class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-green3 flex-shrink-0 text-white">
                        {{message.user.firstname[0]}}
                    </div>
                    <div class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl">
                        <div>{{message.message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    <textSender  class="mt-4" 
    :room="room"
    v-on:messagesent="getMessages()"
    ></textSender>

</body>

</template>

<script>

import textSender from './textSender.vue'
import AdminLayout from '@/Layouts/AdminLayout'
import Sidenav from '@/Layouts/Sidenav.vue'
import Messages from '@/Pages/Messages/miniContainer.vue'

export default ({
    components:{
        textSender,
        Sidenav,
        Messages,
        AdminLayout,
            
    },

    props:{
        userId: Number,
        room: Number,
    },

    data(){
        return {
            messages: []
        }
    },

    methods:{
        getMessages(){
            axios.post('/rooms/'+ this.room +'/messages')
            .then( response => {
                this.messages = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
    },

    created(){
        this.getMessages();
    },
       

    
})
</script>
<style >

</style>
