<template>
    <div v-for="room in Rooms" :key="room.id">
        <div class="group hover:bg-blue3  flex flex-row bg-gray-100 w-80 h-20     rounded-xl justify-start -ml-1 pl-5 mt-5 py-3"
        @click="enterChat(room.id)">
            <div class=" inline-flex flex-row space-x-3">
                            
                <div class="group-hover:bg-gray-300 rounded-xl  h-12   w-12  pt-1.5  pl-1.5 ">
                    <div class="  bg-gray-400 h-11 w-11 rounded-xl -m-1  ">

                    </div>
                </div>

                <div class="mt-1">
                    <p class="group-hover:text-white text-gray-900 font-extrabold tracking-tight text-xs">{{room.oldest_message[0].user.name}}</p>
                    <p class="group-hover:text-white text-gray-500 w-40 pr-2 text-xs">{{room.oldest_message[1].message}}</p>
                    <p class="group-hover:text-white text-gray-500 w-40 pr-2 text-xs">{{room.oldest_message[0].message}}</p>
                </div> 
                <div class="mt-2 -space-y-1 ">
                    <p class="group-hover:text-white text-xs text-gray-500">{{date_format(room.oldest_message[0].created_at)}}</p>
                    <p class="group-hover:text-white text-3xl text-gray-500 ">...</p>
                </div>  
            </div>                 
            
        </div>
    </div>
</template>

<script>

import moment from 'moment'

moment.locale('es');

export default ({
    components: {},

    data() {
        return {
            Rooms: [],
        }
    },

    methods: {
        getRooms(){
            axios.get('/rooms')
            .then( response => {
                this.Rooms = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
        date_format(date){
            return moment(date).fromNow();
        },

        enterChat(roomId){
            window.location.replace('/roomIndex/'+ roomId);
        },
    },

    created() {
        this.getRooms();
    }
})
</script>
