<template>
    <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
            <div class="flex-grow ml-4">
              <div class="relative w-full">
                <input type="text"
                v-model="message"
                @keyup.enter="sendMessage()"
                placeholder="Escribe algo..."
                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10">
                <button class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="ml-4">
              <button 
              @click="sendMessage()"
              class=" flex bg-gradient-to-r from-green2     border-none   to-green3 px-10 py-2 text-white rounded-xl mr-7 focus:outline-none items-center  ">
                <span>enviar</span>
                <span class="ml-2">
                  <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                  </svg>
                </span>
              </button>
            </div>
  </div>
</template>

<script>
export default {
    props: {
        room: Number,
    },
    data() {
        return {
            message: ''
        }
    },
    methods: {
        sendMessage(){
            if (this.message == '  '){
                return;
            }
            axios.post('/rooms/'+ this.room +'/newMessage', {
                message: this.message
            }).then(response => {
                if(response.status == 201){
                    this.message = '';
                    this.$emit('messagesent');
                }
        }).catch(error => {
            console.log(error);
        });

        }
    }
}
</script>