<template>

    <body>

            <div class=" flex items-stretch">
                <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed ">

                    <div class="w-56 ">
                    <Sidenav/>   
                </div>

                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
                
                    <div class="flex-grow  articles-config px-12  py-6 ">

                        <div class="flex justify-between items-center ">
                            
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Cursos</h1>
                        </div>
                        
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
                        </div>
                
                        <!-- contenido dashboard -->

                        <div class="rounded-xl my-10  h-5/6  overflow-auto bg-white ">

                            <div class="mx-5 my-1 ">

                                <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                                    Módulo de administración de Cursos
                                </h2>

                            </div>

                            <div class="px-10 grid grid-cols-2">
                               
                                <div class="grid">
                                   
                                    <div class="py-5">
                                        <div class="mb-10">
                                            <h3 class="primary-text text-xl">Nuevos Cursos</h3>
                                            <p class="secundary-text">Crea contenido para cursos y material de entrenamiento de    <b>Broker Financial</b> </p>
                                        </div>
                                    
                                        <form @submit.prevent="submit">
                                            
                                                <button class="bg-gradient-to-r from-green2     border-none   to-green3   text-white rounded-xl  py-1 px-14    align-middle">
                                                    Crear
                                                </button>
            
                                        </form>
                                    </div> 


                                </div> 
                
                                <div class="grid">

                                    <form @submit.prevent="submit">
                                        <label  class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Nombre </b> </p>
                                        </label>
                                        <textarea placeholder="Nombre de tu clase"
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.name"
                                        ></textarea>
                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Disponibilidad </b> </p>
                                        </label>
                                        <select v-model="form.visible" class="form-input w-full rounded-md shadow-lg articles-config border-none">
                                            <option value="" disabled selected>Selecciona una Opción</option>
                                            <option value="1">Disponible </option>
                                            <option value="0">No Disponible </option>
                                            
                                        </select>
                                        
                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Descripción </b> </p>
                                        </label>
                                        
                                        <textarea placeholder="Descripción de lo que aprenderán en esta clase"
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.description"
                                            rows="8"
                                        ></textarea>
                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Video </b> </p>
                                        </label>
                                        <textarea placeholder="Copia el codigo despues de https://www.youtube.com/watch?v="
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.video"
                                        ></textarea>
                                        <label  class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Archivo pdf: </b> </p>
                                        </label>
                                         <input class="" type="file" @change="select_file">
                                        
                                        <label class="block font-medium text-sm text-gray-700">
                                           <p class="py-2 text-lg "> <b> Curso de pertenencia </b> </p>
                                        </label>
                                        <p
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none "
                                            
                                        >{{courseName}}</p>

                      
                                                                            
                                    </form>
                                        
                                </div>  
                                
                            </div>    
                             
                        </div>

                        <!-- contenido dashboard -->
                    
                    </div>
                    

                    
                </div>
                
            </div>
            
    </body>

 


  
</template>

<script>
    import AdminLayout from '@/Layouts/AdminLayout'
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Messages from '../../../Pages/Messages/miniContainer.vue'
    
    

    export default {
        components: {
            
            AdminLayout,
            Sidenav,
            DropdownProfile,
            Messages,
           
            
        },
        props: {
            course: Array,
            courseName: String,
        },
        data (){
            return {
                form: {
                    name: '',
                    visible:'',
                    description: '',// in this case it should be empty 
                    video: '',
                    course_id: this.course,
                    media_upload: '',
                    
                    
                }
                
            }
        },

                mounted() {

        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }       
                    
        },
        methods: {
            submit (){
                this.$inertia.post(this.route('lesson.store'),this.form)
            },
            select_file(event){
                this.form.media_upload = event.target.files[0];
            },
        }
    }
</script>

<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
    }
</style>