<template>
    <body>
        
        <div class=" flex items-stretch ">

            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div>

                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
 
                <div class="flex-grow  articles-config px-12  py-6 ">

                    <div class="flex justify-between items-center ">

                        <div class="flex ">
                            <div class="justify-items-end">             
                                <admin-layout>
                                </admin-layout> 
                            </div>                              
                        </div>
                        
                    </div>
            
                    <!-- contenido dashboard -->

                    <div class="flex flex-col rounded-xl my-10 mx-auto  h-5/6   overflow-auto bg-white ">

                        <div class="flex flex-row mx-5 my-1  ">

                            <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                                Módulo de Gestión de Proveedores
                            </h2>

                        </div>

                        <div class="flex flex-row   justify-between align-baseline px-10" >

                            <div class="py-5">
                                <h3 class="primary-text text-xl">Edición de Proveedor</h3>
                                <p class="secundary-text">Si editas no podrás volver al estado anterior  </p>
                            
                          </div> 
                   
                            
                        </div>

                        <div class="flex flex-row justify-end mx-5 px-5 space-x-4  ">
                            <button @click="updateSubmit" class="bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white rounded-xl ">
                                    Finalizar
                            </button>

                            <button @click="destroy" class="bg-gradient-to-r from-red-400      border-none   to-red-600   py-2 px-11 text-white rounded-xl mr-7">
                                <a href="#" >
                                    Eliminar producto
                                </a>
                            </button>
                        </div>

                        <div class="flex flex-row gap-6 m-5 ">

                            <div class="flex flex-col mx-2">
                                <p class="py-2 text-lg mx-5 my-2 "> <b> Imagen de presentación </b> </p>

                                        <div  >
                                        <input class="h-96 w-96 ml-14 relative focus:outline-none" type="file" @change="select_file">
                                            <div class="bg-gray-200 rounded-xl h-80 shadow-lg  pt-10 m-5 -mt-80" align="center">
                                                            
                                                            
                                                            <img v-if="preview == ''" class="object-contain h-60 w-full " :src=" provider.media_storage.nameUrl" >
                                                            <img v-else class="object-contain h-60 w-full " :src="preview" >
                                                        
                                    
                                                </div>
                                                

                                        </div>
                            </div>

                                            
                            <div class=" flex flex-col mx-2  ">                                
                                <form >

                                    <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg my-2 "> <b> Nombre del proveedor </b> </p>
                                    </label>
                                    <textarea v-model="form.name"
                                        class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                        
                                    ></textarea>

                                    <div class="flex justify-between gap-10 my-7">
                                        <label class="block font-medium text-sm text-gray-700">
                                                <p class="py-2 text-lg my-2 "> <b> Telefono </b> </p>
                                        </label>
                                        <textarea v-model="form.phone"
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            
                                        ></textarea>
                                                                        <label class="block font-medium text-sm text-gray-700">
                                                <p class="py-2 text-lg my-2 "> <b> Correo </b> </p>
                                        </label>
                                        <textarea v-model="form.email"
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            
                                        ></textarea>
                                    </div>

                                    <label class="block font-medium text-sm text-gray-700">
                                        <p class="py-2 text-lg  my-2 "> <b> Descripción </b> </p>
                                    </label>
                                    <textarea v-model="form.description"
                                        class="form-input w-full  rounded-md shadow-lg articles-config border-none"
                                        
                                    ></textarea>


                                    
                                    

                                        

                                        <label class="block font-medium text-sm text-gray-700">
                                                <p class="py-2 text-lg  my-2 "> <b> Disponibilidad </b> </p>
                                        </label>
                                        
                                        <select v-model="form.status" class="form-input w-96 rounded-md shadow-lg articles-config border-none">
                                            <option value="1">Disponible </option>
                                            <option value="0">No Disponible</option>
                                            
                                        </select>

                                   

                                </form>

                            </div> 

                        </div>


                    <!-- contenido dashboard -->
                    
                    </div>

                   
                </div>

            </div>
        </div>

    </body>
</template>

<script>
    import AdminLayout from '@/Layouts/AdminLayout'
    import Messages from '@/Pages/Messages/miniContainer.vue'
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Cloud_icon from '../../../../../public/images/wcloud.png'
    import Edit_icon from '../../../../../public/images/Edit1.png'
    
    export default {

        components: {
            
            AdminLayout,
            Messages,
            Sidenav,
            DropdownProfile,
            
        },
        props:{
            provider: Object,
        },
        
        data (){
            return {

                Cloud_icon:Cloud_icon, 
                Edit_icon : Edit_icon,
                preview: '',
                thumbnail: null,
                form:{
                    name: this.provider.name,
                    phone: this.provider.phone,
                    email: this.provider.email,
                    description: this.provider.description,
                    status: this.provider.status,

                }
                
            }
        },
        methods:{
            select_file(event){
                this.thumbnail = event.target.files[0];
                this.preview = URL.createObjectURL(this.thumbnail)
                
            },
            updateSubmit(){
                
                return this.$inertia.post(this.route('providers.update', {provider: this.provider.id, _method: 'put' }), Object.assign( this.form, {thumbnail:  this.thumbnail}))
            },
            destroy(){
                if (confirm('¿Desea Eliminar?')){
                    this.$inertia.delete(this.route('providers.destroy', this.provider.id))
                }
            }
        },

        mounted() {

        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }       
                    
        },
        
    }
</script>

<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
    }
</style>