<template>
      <body>
      
        <div class="  items-stretch" >
            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed  ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div>
                
                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
              
                <div class="flex-grow  articles-config  px-12  py-6 " >

                    <div class="flex justify-between items-center   ">
                     
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Cotización</h1>
                        </div>
                        
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
                    </div>
               
                    <!-- contenido cotizacion -->
                    <div class="bg-white rounded-xl  my-6   h-5/6 w-auto overflow-auto">
                         
                        <!-- Agregar Productos -->  
                        <div class="flex flex-col  justify-between px-10 py-6 ">

                            <div class="flex items-center justify-between  gap-10">

                                <div class="flex items-center gap-10">
                                    <!-- <button type="button" class="  articles-config text-center  rounded-full w-10 h-10 
                                    hover:bg-blue3 "> <p class="text-xl  -ml-1 text-blue2 font-black transform rotate-90 hover:text-white">V</p>
                                    </button> -->
                                    <h1 class="primary-text text-xl">Edición de Productos</h1>     
                                </div>

                                <div class="flex">
                                    <button @click="deleteQuotation" type="button" class=" bg-gradient-to-r from-red-500     border-none   to-red-400   py-2 px-11 text-white rounded-xl mr-7 ">
                                        <p>Eliminar</p>
                                        <!--<img :src="Upload_icon" alt="icono solicitudes" class="flex w-5 h-5">-->
                                    </button>
                                </div>    

                            </div>
   
                            <div class="flex flex-auto flex-row py-10 gap-4 ">

                                <div class="flex flex-auto text-left">
                                    <div class="flex-col flex-auto  ">
                                        <div class="flex-row  " >
                                            <p class="my-1 py-1">Descripción 1</p>
                                            <input v-model="quotationDescription.description_1" type="text" name="descripcion 1" class="my-1 py-1 w-36 bg-gray-200 rounded-lg border-transparent text-center" 
                                            placeholder="Descripción 1" >
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-auto text-left">
                                    <div class="flex-col flex-auto  ">
                                        <div class="flex-row  " >
                                            <p class="my-1 py-1">Descripción 2</p>
                                            <input v-model="quotationDescription.description_2" type="text" name="Descripción 2" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                                            placeholder="Descripción 2" >
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-auto text-left">
                                    <div class="flex-col flex-auto  ">
                                        <div class="flex-row  " >
                                            <p class="my-1 py-1">Descripción 3</p>
                                            <input v-model="quotationDescription.description_3" type="text" name="Descripción 3" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                                            placeholder="Descripción 3" >
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-auto text-left">
                                    <div class="flex-col flex-auto  ">
                                        <div class="flex-row  " >
                                            <p class="my-1 py-1">Descripción 4</p>
                                            <input v-model="quotationDescription.description_4" type="text" name="Descripción 4" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                                            placeholder="Descripción 4" >
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-auto text-left">
                                    <div class="flex-col flex-auto  ">
                                        <div class="flex-row  " >
                                            <p class="my-1 py-1">Descripción 5</p>
                                            <input v-model="quotationDescription.description_5" type="text" name="Descripción 5" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                                            placeholder="Descripción 5" >
                                        </div>
                                    </div>
                                </div>

                            </div>                               
                    <!-- Ingreso descripciíon -->   
                    <!-- Ingreso descripciíon -->      
                            <div class="flex flex-auto flex-row py-10 gap-4 ">

                                <div class="flex flex-auto text-left">
                                    <div class="flex-col flex-auto  ">
                                        <div class="flex-row  " >
                                            <p class="my-1 py-1">Precio</p>
                                            <input v-model="quotationDescription.sale_price" type="text" name="descripcion 1" class="my-1 py-1 w-36 bg-gray-200 rounded-lg border-transparent text-center" 
                                            placeholder="Precio" >
                                        </div>
                                    </div>
                                </div>

                                

                            </div>

                            <div class="flex flex-auto text-right ">
                                <div class="flex-col flex-auto  ">
                                    <div class="flex-row mb-2 -mt-6 py-4 " >
                                        <button @click="updateQuotationDescription" type="button" class="bg-gray-700 text-white py-2  w-20  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">Actualizar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="flex flex-auto text-right ">
                                <div class="flex-col flex-auto  ">
                                    <div class="flex-row my-2  py-4 " >
                                        <button v-if="buttonStatus == 0 && $page.props.flash.status == null" class="bg-gray-200  py-2 px-11 text-white rounded-xl mr-7 ">
                                             Agregar otra comparación
                                        </button>
                                        <button v-else-if="buttonStatus == 1 && $page.props.flash.status != null"  @click= "addAnotherQuotation" type="button" class="bg-gradient-to-r from-green2 border-none to-green3  py-2 px-11 text-white rounded-xl mr-7">
                                            Agregar otra comparación
                                            
                                        </button>
                                        <button v-else   type="button" class="bg-gray-200 border-none to-green3  py-2 px-11 text-white rounded-xl mr-7">
                                            Agregar otra comparación
                                            
                                        </button>

                                        <button v-if="buttonStatus == 0 && $page.props.flash.status == null" class="bg-gray-200  py-2 px-11 text-white rounded-xl mr-7 ">
                                            Finalizar a cotización
                                        </button>
                                        
                                        <button v-else-if="buttonStatus == 1 && $page.props.flash.status != null" @click= "addToQuotation" type="button" class="bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white rounded-xl mr-7">Finalizar a cotización
                                        </button>
                                        <button v-else   type="button" class="bg-gray-200 border-none to-green3  py-2 px-11 text-white rounded-xl mr-7">
                                            Finalizar a cotización
                                            
                                        </button>
                                        
                                        
                                    </div>
                                </div>
                            </div>

                    <!-- Más detalles -->   


                        </div>

                    </div>
                    <!-- contenido cotizacion -->

                </div>     

            </div>
        </div>
    </body>
</template>

<script>
    
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Messages from '@/Pages/Messages/miniContainer.vue'
    import AdminLayout from '@/Layouts/AdminLayout'
    
    import maleta from '@/Pages/Utilities/Vectors/Maleta.png'
    import lines from '@/Pages/Utilities/Vectors/Lines.png'
    import flecha from '@/Pages/Utilities/Vectors/Flecha.png'
    import flechas from '@/Pages/Utilities/Vectors/Flechas.png'
    import PersonaB from '@/Pages/Utilities/Vectors/PersonaB.png'
    import notas from '@/Pages/Utilities/Vectors/Notas.png'
    import basura from '@/Pages/Utilities/Vectors/Basura.png'

    import Edit_icon from '../../../../../public/images/Notas.png'
    import Upload_icon from '../../../../../public/images/UploadIcon.png'



    
export default {
    components: {
   
        Sidenav,
        DropdownProfile,
        Messages,
        AdminLayout
        
       
        

        
    },
    props: {
      products: Array,
      providers: Array,
      forms: Array,
      quotation: Array,
      order: Object,
      quotations:Array

    },

           data () {// esta funcion devuelve el objeto
        return {
            
            maleta: maleta,
            lines: lines ,
            flecha: flecha,
            flechas: flechas,
            PersonaB: PersonaB,
            notas: notas,
            basura: basura,    
            
            Edit_icon: Edit_icon,
            Upload_icon: Upload_icon,

            buttonStatus: 0,
              
            quotationForm: {
                product_id: '',
                provider_id: '',
                order_id: (this.order != null) ? this.order.id : '',
                

            },
            titlesOrderForm: {
                title_1: (this.order != null) ? (this.order.title_1 == null ? 'Descripción 1' : this.order.title_1 ): 'Descripción 1',
                title_2: (this.order != null) ? (this.order.title_2 == null ? 'Descripción 2' : this.order.title_2 ): 'Descripción 2',
                title_3: (this.order != null) ? (this.order.title_3 == null ? 'Descripción 3' : this.order.title_3 ): 'Descripción 3',
                title_4: (this.order != null) ? (this.order.title_4 == null ? 'Descripción 4' : this.order.title_4 ): 'Descripción 4',
                title_5: (this.order != null) ? (this.order.title_5 == null ? 'Descripción 5' : this.order.title_5 ): 'Descripción 5',
                quotation_id: (this.quotation != null) ? this.quotation.id : '',
            },
            quotationDescription: {
                description_1: (this.quotation != null) ? ( this.quotation.description_1 == null ? this.quotation.form.description_1 : this.quotation.description_1 ):  '',
                description_2: (this.quotation != null) ? ( this.quotation.description_2 == null ? this.quotation.form.description_2 : this.quotation.description_2 ):  '',
                description_3: (this.quotation != null) ? ( this.quotation.description_3 == null ? this.quotation.form.description_3 : this.quotation.description_3 ):  '',
                description_4: (this.quotation != null) ? ( this.quotation.description_4 == null ? this.quotation.form.description_4 : this.quotation.description_4 ):  '',
                description_5: (this.quotation != null) ? ( this.quotation.description_5 == null ? this.quotation.form.description_5 : this.quotation.description_5 ):  '',
                sale_price: (this.quotation != null) ? ( this.quotation.sale_price == null ? this.quotation.form.sale_price : this.quotation.sale_price ):  '',
            }
        }

    },
       mounted() {

            // open
                const burger = document.querySelectorAll('.navbar-burger');
                const menu = document.querySelectorAll('.navbar-menu');

                if (burger.length && menu.length) {
                    
                    for (var i = 0; i < burger.length; i++) {
                        burger[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                // close
                const close = document.querySelectorAll('.navbar-close');
                const backdrop = document.querySelectorAll('.navbar-backdrop');

                if (close.length) {
                    console.log('asdasd')
                    for (var i = 0; i < close.length; i++) {
                        close[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                if (backdrop.length) {
                    for (var i = 0; i < backdrop.length; i++) {
                        backdrop[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
                       
                    
        },

    methods: {
        storeQuotations(){
            
            console.log('asdasds')
            //window.location.reload();
            return this.$inertia.post(this.route('quotation.store'),{order_id: this.order.id, form_id: this.formFiltered.id})
            
            this.$emit('button-clicked')
        
        },
        updateOrderTitles(){
            if(this.buttonStatus == 0){
               this.buttonStatus = 1;
               return    this.$inertia.put(this.route('update_titles', this.order.id),this.titlesOrderForm)
           }
           else{
               return    this.$inertia.put(this.route('update_titles', this.order.id),this.titlesOrderForm)
           }
            
            
        },
        updateQuotationDescription(){
            
             
            this.$inertia.patch(this.route('update_quotation_description', this.quotation.id),this.quotationDescription)
            return this.buttonStatus =1;
        },
        
        addToQuotation()
        {
            this.updateOrderTitles()
            this.updateQuotationDescription()
            
            return this.$inertia.put(this.route('order.submitedOrder',this.order.id))
        },
        addAnotherQuotation(){
            
            return this.$inertia.get(this.route('quotation.index_quotation',this.order.id))
        },
        deleteQuotation(){
             if (confirm('¿Desea Eliminar la cotización?')){
                return this.$inertia.delete(this.route('quotation.destroy', this.quotation.id))
             }
        }

    },
    computed:{
        formsToFindProviders(){
           if (this.forms != null){
            const { forms} = this;
            
            return forms.filter(form=> 
               form.product_id == this.quotationForm.product_id
             
            )
            } else return []
        },
        providersFiltered(){
            const providers_filtered = []
            this.formsToFindProviders.forEach(form => {
                
               providers_filtered.push(this.providers.find(provider => provider.id == form.provider_id))
            });
            const uniqueProvidersFiltered = [...new Map(providers_filtered.map(provider => [provider.id, provider])).values()]
            return uniqueProvidersFiltered
             
        },
        formFiltered(){
            const{forms} =this;
            return forms.find(form =>//encuantra el primero y lo imprime 
                form.product_id == this.quotationForm.product_id && form.provider_id == this.quotationForm.provider_id
            )
            
        },
    },

    

}
</script>

<style>
     .tab {
            overflow: hidden;
            }
            .tab-content {
            max-height: 0;
            transition: all 0.5s;
            }
            input:checked + .tab-label .test {
                background-color: #000;
            }
            input:checked + .tab-label .test svg {
                transform: rotate(180deg);
                stroke: #fff;
            }
            input:checked + .tab-label::after {
            transform: rotate(90deg);
            }
            input:checked ~ .tab-content {
            max-height: 100vh;
            }

        #ventas{
            height: 650px;
        }
</style>