<template>
    <h1>Post Method API- primer metodo</h1><br /> <br />
    
    <div>{{tokem}}</div>
    <label >form: {{form}}</label><br /> <br />
    <button class="bg-gradient-to-r from-green2 focus:outline-none text-sm    w-40    to-green3   text-white rounded-lg p-2 " type="button" v-on:click="tokemTest"> enviar tokem y formulario </button> <br /> <br />
    <button class="bg-gradient-to-r from-green2 focus:outline-none text-sm    w-40    to-green3   text-white rounded-lg p-2 " type="button" v-on:click="seccondMethod"> seccondMethod </button> <br /> <br />
    <button class="bg-gradient-to-r from-green2 focus:outline-none text-sm    w-40    to-green3   text-white rounded-lg p-2 " type="button" v-on:click="thirdMethod"> third Method </button> <br /> <br />
</template>

<script>
import axios from 'axios';

export default {
    components: {
        axios
    },
    props:{
        tokem: String,

    },

    data() {
        return{
           form: {
            planType: "FULL",
            carOwner: {
                birthDate: "1980-07-24",
                city: "11001",
                county: "11",
                documentNo: "80086000",
                documentType: "CED",
                gender: "M",
                occupation: "4",
                email: "lina.yanez.giraldo@zurich.com"
            },
            carData: {
                fasecoldaCode: "00801405",
                plate: "DQS243",
                productionYear: 2017,
                isNewCar: false,
                isDuringOwnerTransfer: false
                }
            }

        };

    },
    methods: {
          tokemTest() {
             //axios.defaults.withCredentials = true;
              const config = {
                 //mode: 'no-cors',
                 //withCredentials: true,
                //crossdomain: true,
                 
                 headers: { 
                     
					
				Authorization: `Bearer ${this.tokem.tokem}`,
                'Content-type': 'application/json; charset=UTF-8',
                
                //Accept: "application/json",
                //"Content-Type": "application/json",
                //"Cache-Control": "no-cache",
                //"Postman-Token": "42e6c291-9a09-c29f-f28f-11872e2490a5"
                 
                 
                    
                //'Access-Control-Allow-Origin': '*',
                
                    
                    
                    
                  }
             };
             //console.log(this.form)
             const bodyParameters = {
                "planType": "FULL",
                "carOwner": {
                    "birthDate": "1980-07-24",
                    "city": "11001",
                    "county": "11",
                    "documentNo": "80086000",
                    "documentType": "CED",
                    "gender": "M",
                    "occupation": "4",
                    "email": "lina.yanez.giraldo@zurich.com"
                },
                "carData": {
                    "fasecoldaCode": "00801405",
                    "plate": "DQS243",
                    "productionYear": 2017,
                    "isNewCar": false,
                    "isDuringOwnerTransfer": false
                }
                };
             let result =  axios.put( 
             'https://qlik.zurichseguros.com.co/api/policy-ws/car/calculate/v1',
             JSON.stringify(bodyParameters),
             config, 
             );

              console.warn(result);

            /**
             * testing with fetch
             */
            //  const requestOptions = {
            //     method: "PUT",
            //     headers: { 
                    
            //         mode: 'no-cors',
            //         Authorization: `Bearer ${this.tokem.tokem}`,
            //         },
            //         body: this.form
            // };
            // fetch("https://qlik.zurichseguros.com.co/api/policy-ws/car/calculate/v1", requestOptions)
            //     .then(response => response.json())
            //     .then(response => console.log('Success:', response))

            

              
            
         },
         seccondMethod()
         {
             fetch('https://jsonplaceholder.typicode.com/posts/1', {
                method: 'PUT',
                body: JSON.stringify({
                    id: 1,
                    title: 'foo',
                    body: 'bar',
                    userId: 1,
                }),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                },
                })
                .then((response) => response.json())
                .then((json) => console.log(json));
         },
         thirdMethod()
         {
             fetch('https://qlik.zurichseguros.com.co/api/policy-ws/car/calculate/v1', {
                method: 'PUT',
                //mode: 'no-cors',
                body: JSON.stringify({
                    "planType": "FULL",
                    "carOwner": {
                        "birthDate": "1980-07-24",
                        "city": "11001",
                        "county": "11",
                        "documentNo": "80086000",
                        "documentType": "CED",
                        "gender": "M",
                        "occupation": "4",
                        "email": "lina.yanez.giraldo@zurich.com"
                    },
                    "carData": {
                        "fasecoldaCode": "00801405",
                        "plate": "DQS243",
                        "productionYear": 2017,
                        "isNewCar": false,
                    "isDuringOwnerTransfer": false
                    }
                }),
                headers: {
                    Authorization: `Bearer ${this.tokem.tokem}`,
                    'Content-type': 'application/json; charset=UTF-8',

                },
                })
                .then((response) => response.json())
                .then((json) => console.log(json));
         }
        

            
        
    }

}
</script>

<style>

</style>