<template>
    <h1>Post Method API</h1>
    <input type="text" name="username" v-model="username"> <br /> <br />
    <input type="password" name="password" v-model="password"> <br /> <br />
    <button v-on:click="authZurich"> Entrar </button> <br /> <br />
    <label >Tokem: {{tokem}}</label>
</template>

<script>
import axios from 'axios';

export default {
    components: {
        axios
    },
    data() {
        return{
            username: "ncdc_1",
            password: "ncdc_1",
            tokem: "",
        };

    },
    methods: {
        async authZurich() {
            let result = await axios.post("https://qlik.zurichseguros.com.co/api/token", {
                username: this.username,
                password: this.password

            });
            this.tokem = result.data.access_token
            console.warn(result.data.access_token);
            return this.$inertia.get(this.route('zurichApitestPrimerMetodo'),{tokem: this.tokem})
            
        }
    }

}
</script>

<style>

</style>