<template>

    <body>

        <div class=" flex items-stretch ">

            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed ">
                <div class="w-56 ">
                    <Sidenav/>   
                </div>
                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
                
                <div class="flex-grow  articles-config px-12  py-6 ">

                    <div class="flex justify-between items-center ">
                        
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Cursos</h1>
                        </div>
                        
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
                    </div>
            
             <!-- contenido dashboard -->

                    <div class="rounded-xl my-10  h-5/6  overflow-auto bg-white ">
                        
                        <div class="flex flex-col bg-white ">
                        
                            <div class="mx-5 my-1 ">
                                <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                                  Creación de cursos
                                </h2>
                            </div>

                           <div class="flex justify-between align-baseline px-10">

                                <div class="py-5">
                                    <h3 class="primary-text text-xl">Nuevo Usuario</h3>
                                    <p class="secundary-text">Crea usuarios para  <b>Broker Financial</b> </p>
                                </div> 
                                
                                <div>
                                    <button @click="submit" class="bg-gradient-to-r from-green2     border-none   to-green3   text-white rounded-xl  py-1 px-14    align-middle">
                                    Crear
                                    </button>
                                </div>

                           </div>

                            <div class=" bg-white rounded-xl px-10  gap-10">
<!-- User::factory()->create([
            'firstname' => 'Pedro',
            'lastname' => 'Montaño',
            'email' => 'admin@test.com',
            'password' => bcrypt('123456'),
            //'admin' => true,
            //'agent' => false,
            'user_type' => 2,
            'birthday' => '1995-04-19 00:00:00',
            'gender' => 'MALE',
            'telephone' => '7508389',
            'mobile_number' => '3214828849',
            ]); -->

                                <div class="grid-flow-col  " >

                                    <form @submit.prevent="submit">

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Nombres </b> </p>
                                        </label>
                                        <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.firstname"
                                        ></textarea>
                                       

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Apellidos </b> </p>
                                        </label>
                                        <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.lastname"
                                        ></textarea>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Correo </b> </p>
                                        </label>
                                        <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.email"
                                        ></textarea>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Contraseña </b> </p>
                                        </label>
                                       <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.password"
                                        ></textarea>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Tipo de usuario </b> </p>
                                        </label>
                                        <select v-model="form.user_type" class="form-input w-full rounded-md shadow-lg articles-config border-none">
                                            <option v-for="category in categories" :key="category.id" v-bind:value="category.id">
                                                {{category.name}}
                                            </option>
                                        </select>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Género </b> </p>
                                        </label>
                                        <select v-model="form.gender" class="form-input w-full rounded-md shadow-lg articles-config border-none">
                                            <option v-for="category in categories" :key="category.id" v-bind:value="category.id">
                                                {{category.name}}
                                            </option>
                                        </select>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Teléfono </b> </p>
                                        </label>
                                        <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.telephone"
                                        ></textarea>

                                        <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg "> <b> Número de celular </b> </p>
                                        </label>
                                        <textarea
                                            class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                            v-model="form.mobile_number"
                                        ></textarea>

                                         

                                        

                                    </form>
                                    
                                </div>
                            </div>

                        </div>
 
                    </div>

             <!-- contenido dashboard -->

                </div>

    
                
            </div>

        </div>

    </body>

</template>

<script>
    import Messages from '../Pages/Messages/miniContainer.vue'
    import AdminLayout from '@/Layouts/AdminLayout'
    import Label from '../Jetstream/Label.vue'
    import Button from '../Jetstream/Button.vue'
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Cloud_icon from '../../../public/images/wcloud.png'

    

    export default {

        components: {
            
            Label,
            Button,
            Sidenav,
            DropdownProfile,
            AdminLayout,
            Messages,
            
        },

        props: {
            lessons: Array,
            categories: Array,
            admins: Array,
        },

        data (){
            
            return {

                Cloud_icon:Cloud_icon,
                preview: '',
                
                form: {
                    firstname: '',
                    lastname: '',//this contains infotmation that is going to be display in a box
                    //media_storage_id: '',
                    email: '', 
                    password: '',// in this case it should be empty 
                    user_type: 0,
                    gender: 'MALE',
                    telephone:'',
                    mobile_number:'',
                    
                }
                
            }
        },

        
        // computed: {
        //     slug: function() {
            
        //     return slug;
        //     }
        // },

        mounted() {

        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }       
                    
        },

        methods: {
            
            submit (){
                
                this.$inertia.post(this.route('users.store'),this.form)
            },
           
        }
    }
</script>

<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
    }
</style>