
<template>
<!-- HEADER COMPONENT -->
        <Header :logo_image="logo_image" :categories= "categories" :products = "products"></Header>
<!-- HEADER COMPONENT -->
<div id="app" >
           
    <body class="articles-config ">
 


            <main>
                <div v-if="$page.props.flash.status" class=" text-white bg-blue-500 text-sm font-bold p-4">
                     <p>{{ $page.props.flash.status }}</p>
                </div>
                <slot></slot>
            </main>


<!-- PRESENTATION COMPONENT -->


       
        <div class="flex articles-config  fondo-home  h-3/4  bg-white  "> 

            <div class=" flex flex-row px-10 mx-6 "  >

                <div class="flex flex-col mx-6 px-10">
                <div class=" text-black text-7xl   primary-text box-content w-60 h-60 py-6" >
                    <h1>Lorem Ipsum Sorento</h1>
                </div> 

                <div class="text-gray-800 secodary-text box-content h-5 w-30  text-xl" >
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et cursus risus.</p>
                </div>

                <a href="#contacts-form" class= "box-content h-3 w-40 py-20  ">
                    <button   class="bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white rounded-xl mr-7"  type="button"> contactanos</button>
                </a>
                </div>

                <div class="flex flex-col ">
                    <div class=" rounded-t-lg Page-config " >
                        <img class=" rounded-t-xl mt-28   " v-bind:src="intro_image " alt="Seguros que cubren todo riesgo" > 
                    </div>
                </div>

            </div>

            <div class="my-10" >
                <te-llamamos :te_llamamos_button="te_llamamos_button" >
                </te-llamamos>  
            </div>

        </div> 
<!-- PRESENTATION COMPONENT -->

<!-- OUR SERVICES COMPONENT -->
        <div class="articles-config px-10 m-6">

            <div class=" grid grid-cols-2 px-16 align-baseline " >
            
                <div class=" box-content mx-6 px-10 ">

                    <h2 class=" text-black  secundary-text ">NUESTROS SERVICIOS</h2>
                    <p class=" py-4 text-white  primary-text text-5xl">SEGUROS Y PRODUCTOS FINANCIEROS  <br> SERVICIOS A TU MEDIDA</p>
                
                </div>
                
                <div class=" box-content mx-10 px-10 ">

                    <p class="text-white secundary-text text-xl p-12 " >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, 
                    at aliquam felis consectetur.</p>
                    
                </div>

            </div> 

            <div id="seguros-page" class="articles-config grid gap-y-10 gap-x-4  grid-cols-2   ">

                <div class="box-content mx-32 shadow-xl  rounded-xl" >

                    <div class=" rounded-t-lg Page-config" align="center" >
                        <img class="rounded-t-xl w-screen" v-bind:src="Seguros_image" alt="Seguros que cubren todo riesgo" > 
                    </div>

                    <div class="rounded-b-xl bg-white px-10 py-6 " >

                        <p class="leading-loose text-black  text-2xl  primary-text"> 
                            Seguros para todo tipo de riesgo
                        </p>

                        <p class="text-gray-400 text-base  secondary-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        </p>

                    </div>

                </div>

                <div class="box-content mx-32 shadow-xl  rounded-xl" >

                    <div class=" rounded-t-lg " align="center" >
                        <img class="rounded-t-xl w-screen"  v-bind:src="Productos_image" alt="Productos financieros a su medida" > 
                    </div>

                    <div class="rounded-b-xl  bg-white  px-10 py-6 " >

                        <p class="leading-loose text-black  text-2xl  primary-text"> 
                            Productos financieros a la medida
                        </p>

                        <p class="text-gray-400 text-base  secondary-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        </p>

                    </div>

                </div>

                <div class="box-content mx-32 shadow-xl  rounded-xl" >

                    <div align="center" >
                        <img class="rounded-t-xl w-screen"   v-bind:src="Cotizaciones_image" alt="Cotizaciones en linea" > 
                    </div>

                    <div class=" rounded-b-xl  bg-white px-10 py-6  " >

                        <p class="leading-loose text-black  text-2xl  primary-text"> 
                            Cotizaciones en linea
                        </p>

                        <p class="text-gray-400 text-base  secondary-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        </p>

                    </div>

                </div>

                <div class="box-content mx-32 shadow-xl  rounded-xl " >

                    <div class=" rounded-t-lg " align="center" >
                        <img class="rounded-t-xl w-screen "  v-bind:src="Agentes_image" alt="imagen introduccion home" > 
                    </div>

                    <div class="rounded-b-xl  bg-white px-10 py-6 " >

                        <p class="leading-loose text-black  text-2xl  primary-text"> 
                            Agentes especializados 
                        </p>

                        <p class="text-gray-400 text-base  secondary-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        </p>

                    </div>

                </div>

            </div>
        </div>
<!-- OUR SERVICES COMPONENT -->

<!-- SEARCH AGENT COMPONENT -->     
        <div class=" articles-config px-20  py-10 m-9   ">

            <div class="  rounded-xl fondo-card h-40      page-config grid gap-2 grid-cols-5">

                <div  align="center" class=" col-start-1 col-end-2">
                    <img class="-mt-14       "  v-bind:src="Agent1_image" alt="imagen introduccion home" > 
                </div>

                <div class="py-10 col-start-2 col-end-5">
                    <h3  class="leading-loose   text-2xl white-text">Buscar Agente</h3>
                    <p class="text-white  text-base  secondary-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus</p>
                </div>
            
                <a href="#contacts-form" class= " col-start-5 box-content h-3 w-40 py-10 ">
                    <button   class="bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white rounded-xl mr-7" type="button"> contactanos</button>
                </a>

            </div>

        </div>
<!-- SEARCH AGENT COMPONENT -->      

<!-- ABOUT US COMPONENT -->     
        <div class="page-config grid grid-cols-2 "> 

            <div align="center">

                <img class="w-11/12 -ml-20  -mt-1 " v-bind:src="home_2" alt="imagen introduccion home" > 

            </div>

            <div class="py-20 " >

                <div class="py-6 text-white text-xl">
                    <p>Nosotros</p>
                </div>
                
                <div class=" white-text text-5xl  tex   box-content w-2/5  py-6" >
                    <p >Lorem ipsum dolor sit amet</p>
                </div> 

                <div class="text-white  secodary-text box-content w-3/5 py-6" >
                    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et cursus risus. 
                        Quisque scelerisque ligula eu sapien venenatis, at aliquam felis consectetur.</p>
                </div>

                <div class= "  grid grid-cols-2 py-6 w-2/5 ">

                    <div class=" w-3/4 bg-green2    white-text  rounded-xl ml-10"  >
                        <p align="center" class=" white-text text-7xl" >+10</p>      
                    </div>

                    <div class="">
                        <p class="text-white text-base"> Años  en <br> el  mercado</p>
                    </div>

                </div>

            </div>

          

        </div> 
<!-- ABOUT US COMPONENT --> 

<!-- WHY CHOOSE US COMPONENT --> 
        <div >
            <div class="page-config pt-4 " align="center">
                <p class="text-white  p-3  text-xl   " >ventajas</p>
                <p class="white-text text-5xl p-3">Por que Elegirnos</p>
            </div>

            <div class="page-config grid grid-cols-3 gap-10  px-16 pt-8 pb-24">
                
                <div class="box-content h-98 px-4" >

                    <div class=" bg-white  rounded-t-3xl "  >
                        <img class="h-80 w-screen " v-bind:src="Soporte_image" alt="imagen introduccion home" > 
                    </div>

                    <div class="rounded-b-3xl  bg-white p-10" >

                        <p class="leading-loose text-black  text-2xl  primary-text"> 
                            Soporte 24/7 
                        </p>

                        <p class="text-gray-400 text-base  secondary-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        </p>

                    </div>

                </div>

                <div class="box-content h-98  px-4" >

                    <div class=" bg-white rounded-t-3xl  ">
                        <img class="  h-80 w-screen" v-bind:src="Security_image" alt="imagen introduccion home" > 
                    </div>

                    <div class="rounded-b-3xl  bg-white p-10" >

                        <p class="leading-loose text-black  text-2xl  primary-text"> 
                            Seguridad  
                        </p>

                        <p class="text-gray-400 text-base  secondary-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        </p>

                    </div>

                </div>

                <div class="box-content h-98 px-4 " >

                    <div class=" bg-white  rounded-t-3xl  " >
                        <img class="h-80 w-screen" v-bind:src="Advisory_image" alt="imagen introduccion home" > 
                    </div>

                    <div class="rounded-b-3xl  bg-white p-10" >

                        <p class="leading-loose text-black  text-2xl  primary-text"> 
                            Asesoria Personalizada
                        </p>

                        <p class="text-gray-400 text-base  secondary-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        </p>

                    </div>

                </div>

            </div>

        </div>
<!-- WHY CHOOSE USCOMPONENT -->          
            
<!-- FREQUENT QUESTIONS USCOMPONENT -->   
        <div>
            <div class="articles-config grid grid-cols-2 "> 

                <div  align="center">

                    <img  v-bind:src="home_3" alt="imagen introduccion home" > 

                </div>

                <div class="py-16 " >

                    <div class="py-6 primary-text ">
                        <p>PQR</p>
                    </div>
                    
                    <div class=" text-black text-6xl  primary-text box-content " >
                        <p >Preguntas </p>
                        
                        <p>Frecuentes</p>
                    </div> 
   
                    <div class="flex-col ">
              
                        <div class="tabs">

                            <div class="tab">
                                <div class="  relative">
                                    <input class="w-full absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck1">
                                    <div class="flex  items-center py-5 pr-8 cursor-pointer select-none tab-label" for="chck1">  
                                        <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
                                            <!-- icon by feathericons.com -->
                                            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24"
                                            stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                <polyline points="6 9 12 15 18 9">
                                                </polyline>
                                            </svg>
                                        </div>
                                        <span class="px-4 text-grey-darkest font-thin text-xl">
                                            Massa vitae tortor condimentum lacinia quis vel eros donec
                                        </span>
                                    </div>
                                    <div class="tab-content rounded-2xl bg-white mr-16">
                                        <div class="pl-8 pr-8 pb-5 text-gray-800">
                                            <ul class="pl-4 pr-16">
                                                <li class="pb-2">
                                                    consectetur adipiscing elit
                                                </li>
                                                <li class="pb-2">
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                                    Viverra orci sagittis eu volutpat odio facilisis mauris
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab">
                                <div class="  relative">
                                    <input class="w-full absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck1">
                                    <div class="flex  items-center py-5 pr-8 cursor-pointer select-none tab-label" for="chck1">  
                                        <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
                                            <!-- icon by feathericons.com -->
                                            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24"
                                            stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                <polyline points="6 9 12 15 18 9">
                                                </polyline>
                                            </svg>
                                        </div>
                                        <span class="px-4 text-grey-darkest font-thin text-xl">
                                            Massa vitae tortor condimentum lacinia quis vel eros donec
                                        </span>
                                    </div>
                                    <div class="tab-content rounded-2xl bg-white mr-16">
                                        <div class="pl-8 pr-8 pb-5 text-gray-800">
                                            <ul class="pl-4 pr-16 ">
                                                <li class="pb-2">
                                                    consectetur adipiscing elit
                                                </li>
                                                <li class="pb-2">
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                                    Viverra orci sagittis eu volutpat odio facilisis mauris
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab">
                                <div class="  relative">
                                    <input class="w-full absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck1">
                                    <div class="flex  items-center py-5 pr-8 cursor-pointer select-none tab-label" for="chck1">  
                                        <div class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
                                            <!-- icon by feathericons.com -->
                                            <svg aria-hidden="true" class="" data-reactid="266" fill="none" height="24"
                                            stroke="#606F7B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                <polyline points="6 9 12 15 18 9">
                                                </polyline>
                                            </svg>
                                        </div>
                                        <span class="px-4 text-grey-darkest font-thin text-xl">
                                            Massa vitae tortor condimentum lacinia quis vel eros donec
                                        </span>
                                    </div>
                                    <div class="tab-content  rounded-2xl bg-white mr-16">
                                        <div class="pl-8 pr-8 pb-5 text-gray-800    ">
                                            <ul class="pl-4 pr-16">
                                                <li class="pb-2">
                                                    consectetur adipiscing elit
                                                </li>
                                                <li class="pb-2">
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                                    Viverra orci sagittis eu volutpat odio facilisis mauris
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
          
                    </div>
       
                </div>

            </div> 
 <!-- Testimonios -->
            <div align="center " >

                <div class="px-16   flex flex-col items-center m-8 article-config">
                    <p class="secundary-text pb-6">TESTIMONIOS</p>
                    <p class="primary-text text-black text-5xl py-6"> Que dicen de nosotros </p>
                
                    <div class="w-full mt-10  rounded-lg overflow-x-hidden flex snap-x "  >                    

                        <div class="article-config grip grip-col-2 gap-20  snap-start w-full  flex  text-white text-4xl flex-shrink-0" id="slide-1">

                            <div class="w-full shadow-2xl ">
                                <div class=" bg-white  rounded-2xl " >
                                    <p align="right" class="pt-8 px-16 primary-text text-gray-500  text-7xl">"</p>
                                    <p align="left" class="secundary-text text-xl text-black px-16 pb-16 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, at aliquam felis consectetur. 
                                    </p>
                                    <div class="flex grip grip-col-2 w-full px-16 pb-16">
                                        <div class="w-1/4 " >
                                            <img class="h-28 w-32 rounded-full " v-bind:src="Protait1_image" alt="imagen introduccion home" > 
                                        </div>
                                        <div align="left" class="py-4">
                                            <p class="text-black text-xl  primary-text">
                                            Lorem   ipsum 
                                            </p>
                                            <p class="text-gray-400 text-base  secondary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                            </p>
                                        </div>
                                    </div>
                                </div>                           
                            </div>

                            <div class="w-full shadow-2xl "> 
                                <div class=" bg-white  rounded-2xl " >
                                    <p align="right" class="pt-8 px-16 primary-text text-gray-500  text-7xl">"</p>
                                    <p align="left" class="secundary-text text-xl text-black px-16 pb-16 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, at aliquam felis consectetur. 
                                    </p>
                                    <div class="flex grip grip-col-2 w-full px-16 pb-16">
                                        <div class="w-1/4 " >
                                            <img class="h-28 w-32 rounded-full " v-bind:src="Protait2_image" alt="imagen introduccion home" > 
                                        </div>
                                        <div align="left" class="py-4">
                                            <p class="text-black text-xl  primary-text">
                                            Lorem   ipsum 
                                            </p>
                                            <p class="text-gray-400 text-base  secondary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="article-config grip grip-col-2 gap-20 snap-start w-full  flex  text-white text-4xl flex-shrink-0" id="slide-2">

                            <div class="w-full shadow-2xl ">
                                <div class=" bg-white  rounded-2xl " >
                                    <p align="right" class="pt-8 px-16 primary-text text-gray-500  text-7xl">"</p>
                                    <p align="left" class="secundary-text text-xl text-black px-16 pb-16 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, at aliquam felis consectetur. 
                                    </p>
                                    <div class="flex grip grip-col-2 w-full px-16 pb-16">
                                        <div class="w-1/4 " >
                                            <img class="h-28 w-32 rounded-full " v-bind:src="Protait1_image" alt="imagen introduccion home" > 
                                        </div>
                                        <div align="left" class="py-4">
                                            <p class="text-black text-xl  primary-text">
                                            Lorem   ipsum 
                                            </p>
                                            <p class="text-gray-400 text-base  secondary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                            </p>
                                        </div>
                                    </div>
                                </div>                           
                            </div>

                              <div class="w-full shadow-2xl "> 
                                <div class=" bg-white  rounded-2xl " >
                                    <p align="right" class="pt-8 px-16 primary-text text-gray-500  text-7xl">"</p>
                                    <p align="left" class="secundary-text text-xl text-black px-16 pb-16 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, at aliquam felis consectetur. 
                                    </p>
                                    <div class="flex grip grip-col-2 w-full px-16 pb-16">
                                        <div class="w-1/4 " >
                                            <img class="h-28 w-32 rounded-full " v-bind:src="Protait2_image" alt="imagen introduccion home" > 
                                        </div>
                                        <div align="left" class="py-4">
                                            <p class="text-black text-xl  primary-text">
                                            Lorem   ipsum 
                                            </p>
                                            <p class="text-gray-400 text-base  secondary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="article-config grip grip-col-2 gap-20 snap-start w-full  flex  text-white text-4xl flex-shrink-0" id="slide-3">

                            <div class="w-full shadow-2xl ">
                                <div class=" bg-white  rounded-2xl " >
                                    <p align="right" class="pt-8 px-16 primary-text text-gray-500  text-7xl">"</p>
                                    <p align="left" class="secundary-text text-xl text-black px-16 pb-16 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, at aliquam felis consectetur. 
                                    </p>
                                    <div class="flex grip grip-col-2 w-full px-16 pb-16">
                                        <div class="w-1/4 " >
                                            <img class="h-28 w-32 rounded-full " v-bind:src="Protait1_image" alt="imagen introduccion home" > 
                                        </div>
                                        <div align="left" class="py-4">
                                            <p class="text-black text-xl  primary-text">
                                            Lorem   ipsum 
                                            </p>
                                            <p class="text-gray-400 text-base  secondary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                            </p>
                                        </div>
                                    </div>
                                </div>                           
                            </div>

                              <div class="w-full shadow-2xl "> 
                                <div class=" bg-white  rounded-2xl " >
                                    <p align="right" class="pt-8 px-16 primary-text text-gray-500  text-7xl">"</p>
                                    <p align="left" class="secundary-text text-xl text-black px-16 pb-16 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Vivamus et cursus risus. Quisque scelerisque ligula eu sapien venenatis, at aliquam felis consectetur. 
                                    </p>
                                    <div class="flex grip grip-col-2 w-full px-16 pb-16">
                                        <div class="w-1/4 " >
                                            <img class="h-28 w-32 rounded-full " v-bind:src="Protait2_image" alt="imagen introduccion home" > 
                                        </div>
                                        <div align="left" class="py-4">
                                            <p class="text-black text-xl  primary-text">
                                            Lorem   ipsum 
                                            </p>
                                            <p class="text-gray-400 text-base  secondary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="flex mt-8 gap-8 ">

                            <a class="w-8 mr-1 h-8 shadow-2xl border-solid border-black   hover:bg-blue-900 bg-white  rounded-full has-border flex justify-center items-center" href="#slide-1"></a>
                            <a class="w-8 mr-1 h-8 shadow-2xl  hover:bg-blue-900 bg-white   rounded-full has-border flex justify-center items-center" href="#slide-2"></a>
                            <a class="w-8 mr-1 h-8 shadow-2xl  hover:bg-blue-900  bg-white  rounded-full has-border flex justify-center items-center" href="#slide-3"></a>
    
                    </div>
                

                </div>

<!-- Necesitas ayuda -->    
            <div class="flex  ">

                <div class=" articles-config px-16  py-10 m-10   ">

                    <div class="  rounded-xl fondo-card h-40     page-config grid gap-2 grid-cols-5">

                        <div  align="center" class=" col-start-1 col-end-2">
                            <img class="-mt-14       "  v-bind:src="Agent2_image" alt="imagen introduccion home" > 
                        </div>

                        <div class="py-10 col-start-2 col-end-5">
                            <h3  class="leading-loose   text-2xl white-text">¿Necesitas ayuda?</h3>
                            <p class="text-white  text-base  secondary-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus</p>
                        </div>
                    
                        <a href="#contacts-form" class= "py-16 col-start-5 box-content h-3 w-40 py-10 ">
                            <button   class="bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white rounded-xl mr-7" type="button"> contactanos</button>
                        </a>

                    </div>

                </div>

            </div>
<!-- Necesitas ayuda -->    

        <div class="article-config grid grid-cols-2 gap-4  " id="contacts-form"> 

            <div class="-ml-48      ">

                <img  class="w-2/3 "  v-bind:src="home_4 " alt="imagen introduccion home" > 

            </div>

            <div class="pt-16 -ml-40">

                <div align="left" class="w-1/2 ">
                    <p>Consigue una cotización</p>
                </div>
                
                <div align="left" class=" text-black text-5xl  primary-text box-content w-1/2  py-6" >
                    <p >Cotiza con nosotros</p>
                </div> 

                <div  >
                    <opportunity-form :form="form" >
                        

                        <template v-slot:options>
                            <!-- ejemplo para asunto fijo
                            <div class="grid grid-cols-1 mt-1 ">
                
                                <p class="py-2 px-3 rounded-lg border-2 mt-1  focus:ring-purple-600 focus:border-transparent" type="text"  >celular</p>
                            </div>
                            -->
                            <!--para agregar mas inputs
                            <div class="grid grid-cols-1 mt-5 mx-7">
                
                                <input class="py-2 px-3 rounded-lg border-2 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" placeholder="celular" />
                            </div>
                            -->
                            <label  class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Asunto</label>
                
                                <select v-model="form.product_id" class="py-2 px-3 rounded-lg border-2  mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent">
                                    
                                    <option disabled selected value="">Seguros o Productos Financieros</option>

                                    <option v-for="product in products" :key="product.id" v-bind:value="product.id">
                                        {{product.name}}
                                    </option>
                                    
                                </select>
                                <!-- para pruebas <span>selected: {{ form.product_id }}</span>-->
                        </template>
                    </opportunity-form>

                </div>
            </div>

          

                </div> 
             
            </div>
 <!-- Testimonios -->
        </div> 
<!-- FREQUENT QUESTIONS USCOMPONENT -->    

<!-- FOOTER SCOMPONENT -->
        
        <Footer :logo1_image = "logo1_image" 
                :facebook_icon = "facebook_icon"
                :instagram_icon = "instagram_icon"
                :twitter_icon = "twitter_icon" ></Footer>       
<!-- FOOTER COMPONENT -->
    </body>
</div>
  
</template>


<script>
//import JetApplicationMark from '@/Jetstream/ApplicationMark'
//import JetBanner from '@/Jetstream/Banner'
//import JetDropdown from '@/Jetstream/Dropdown'
//import JetDropdownLink from '@/Jetstream/DropdownLink'
import JetNavLink from '@/Jetstream/NavLink'
import OpportunityForm from '@/Layouts/OpportunityForm'
import TeLlamamos from '@/Layouts/TeLlamamos'

import Header from '@/Layouts/Header'

import Footer from '@/Layouts/Footer'

import UploadDocs from '@/Layouts/UploadDocs'
//import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'
import logo_image from '@/Pages/Utilities/Logo/Logo1.png'
import logo1_image from '@/Pages/Utilities/Logo/Logo2.png'

import facebook_icon from '../../../public/images/facebook.png'
import instagram_icon from '../../../public/images/instagram.png'
import twitter_icon from '../../../public/images/twitter.png'
import te_llamamos_button from '../../../public/images/tellamamos.png'
import carInsurance_image from '@/Pages/Utilities/Images/carsInsuranceimg.png'
import Upload_icon from '../../../public/images/UploadIcon.png'

import intro_image from '../../../public/images/Home/principal.png' 
import home_2 from '../../../public/images/Home/home-03.png'
import home_3 from '../../../public/images/Home/Happiness.png'
import home_4 from '../../../public/images/Home/HoldingHause.png'

import Seguros_image from '../../../public/images/Home/WomanCar.png'
import Productos_image from '../../../public/images/Home/Senior.png'
import Cotizaciones_image from '../../../public/images/Home/Pretty.png'
import Agentes_image from '../../../public/images/Home/Family.png'
import Soporte_image from '../../../public/images/Home/Support.png'
import Security_image from '../../../public/images/Home/Security.png'
import Advisory_image from '../../../public/images/Home/Couple.png'
import Agent1_image from '../../../public/images/Home/bussinessMan.png'
import Agent2_image from '../../../public/images/Home/bussinessWoman.png'
import Protait1_image from '../../../public/images/Home/Potrait1.png'
import Protait2_image from '../../../public/images/Home/Potrait2.png'

export default {
    

    methods: {
      showUser() {
          console.log(this.$page.auth.user.loggedIn);
      },
      
   },
    components: {
            //JetApplicationMark,
            //JetBanner,
            //JetDropdown,
            //JetDropdownLink,
            JetNavLink,
            OpportunityForm,

            TeLlamamos,
           
            Header,
            Footer,
            
            UploadDocs,
            //JetResponsiveNavLink,
        },

    el: '#app',//pseudo selector de css, todas las aplicaciones de vue tienen un unico elmento padre, lo que este fuera de ese elemento se considera fuera de la aplicacion
    props: {
        logo: String,
        products: Array,
        categories: Array,

       
    },
    
    data () {// esta funcion devuelve el objeto
        return {
            title: 'broker',     
            logo_image: logo_image , 
            logo1_image: logo1_image,
            intro_image: intro_image,
            home_2: home_2,
            home_3: home_3,
            home_4 : home_4 ,
            facebook_icon: facebook_icon,
            instagram_icon: instagram_icon,
            twitter_icon: twitter_icon,
            te_llamamos_button: te_llamamos_button,

            carInsurance_image: carInsurance_image,
            Seguros_image: Seguros_image,
            Productos_image: Productos_image,
            Cotizaciones_image: Cotizaciones_image,
            Agentes_image: Agentes_image,
            Soporte_image: Soporte_image,
            Security_image: Security_image,
            Advisory_image: Advisory_image,
            Agent1_image: Agent1_image,
            Agent2_image: Agent2_image,
            Protait1_image: Protait1_image,
            Protait2_image: Protait2_image,
            
            form: {
                name:  '',
                email:  '',
                customer_phone: '',
                subject: '',
                message: '',
                product_id: '',

                
            description :'',
            media_upload : '',
            Upload_icon: Upload_icon,
            }
            
         
     
        }
    }

}


</script>

<style>
.fondo-home{
background-image: url('../../../public/images/Home/07-07.png'); 
background-size : 110% 115%;
background-position: 0px 0px;
background-repeat: no-repeat;

}
.fondo-card{
    background-image: url('../../../public/images/Home/dec2.png'); 
    background-repeat: no-repeat;
    background-size : 20% ;
}


.intro-message{
font-family: Secular One;
font-style: normal;
font-weight: normal;
line-height: 80px;
/* or 111% */

letter-spacing: -3px;

color: #333333;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}


.snap-x {
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: end;
}

 .centrado{
		    margin:10px auto;
		    display:block;
    }

    hr, .hrcolor {
   height: 1px;
   border: 0;
   color: #666;
   background-color: #000;
}

 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #064789;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }

.has-mask {
		position: absolute;
		clip: rect(10px, 150px, 130px, 10px);
	}


</style>

