<template>
    <body>
      
        <div class="  flex items-stretch" >

            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed ">
                <div class="w-56 ">
                    <Sidenav/>   
                </div>
                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
                
                <div class="flex-grow  articles-config px-12 h-screen py-6 " >


                    <div class="flex justify-between items-center  ">
                     
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Oficina virtual</h1>
                        </div>
                        
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
               
                    </div>
        <!-- dasboard navbar component -->

                        <div class="my-6">
                            <virtual-officenav-2  @set_1="set_1" @set_2="set_2" @set_3="set_3"  @set_4="set_4" @set_5="set_5"  :cargarcomponente2="cargarcomponente2" >
                            </virtual-officenav-2>
                        </div>      

        <!-- dasboard navbar component -->
    
        <!-- contenido dashboard -->
                        <div class="rounded-xl  my-6 h-3/4 overflow-auto bg-white">
                            <div v-show="cargarcomponente2==1 "><OpenOrders :orders="orders" :user="$page.props.user"/></div>
                            <div v-show="cargarcomponente2==2 "><ManagementOrders :orders="orders" :user="$page.props.user"/></div>
                            <div v-show="cargarcomponente2==3 "><PendingOrders :orders="orders" :user="$page.props.user"/></div>
                            <div v-show="cargarcomponente2==4 "><ApprovedOrder :orders="orders" :user="$page.props.user"/></div>
                            <div v-show="cargarcomponente2==5 "><FinishedOrder :orders="orders" :user="$page.props.user"/></div>
                        </div>
        <!-- contenido dashboard -->

                     

                </div>

            </div>

        </div>

    </body>
</template>

<script>
    import Sidenav from '../Layouts/Sidenav.vue'
    import AdminLayout from '@/Layouts/AdminLayout'
    import DropdownProfile from '../Layouts/DropdownProfile.vue'
    import Messages from '../Pages/Messages/miniContainer.vue'

    import OpenOrders from '@/Layouts/DashboardRol2/OpenOrders.vue'
    import OrderForm from '@/Layouts/OrderForm'
    import QuotationForm from '@/Layouts/QuotationForm.vue'
    import ManagementOrders from '@/Layouts/DashboardRol2/ManagementOrders'
    import PendingOrders from '@/Layouts/DashboardRol2/PendingOrders'
    import VirtualOfficenav2 from '@/Layouts/DashboardRol2/VirtualOfficenav2.vue'
    import ApprovedOrder from '@/Layouts/DashboardRol2/ApprovedOrder'
    import FinishedOrder from '@/Layouts/DashboardRol2/FinishedOrder'

    import maleta from '@/Pages/Utilities/Vectors/Maleta.png'
    import lines from '@/Pages/Utilities/Vectors/Lines.png'
    import flecha from '@/Pages/Utilities/Vectors/Flecha.png'
    import flechas from '@/Pages/Utilities/Vectors/Flechas.png'
    import PersonaB from '@/Pages/Utilities/Vectors/PersonaB.png'
    import notas from '@/Pages/Utilities/Vectors/Notas.png'
    import basura from '@/Pages/Utilities/Vectors/Basura.png'
    import moment from 'moment'
    
 
    export default {
        props: {
            categories: Array,
            products: Array,
            order:Object,
            selectedProducts : Array,
            orders : Array,
        },

        
       
        components: {
                       
            Sidenav,
            DropdownProfile,
            Messages,
            AdminLayout,

            OpenOrders,  
            OrderForm,      
            QuotationForm,
            ManagementOrders,
            PendingOrders,

            ApprovedOrder,
            FinishedOrder,
            VirtualOfficenav2,
   
        },
        
       data () {// esta funcion devuelve el objeto
        return {
            
            maleta: maleta,
            lines: lines ,
            flecha: flecha,
            flechas: flechas,
            PersonaB: PersonaB,
            notas: notas,
            basura: basura,

            cargarcomponente2: 1,
                            
        }
       },
       mounted() {

            // open
                const burger = document.querySelectorAll('.navbar-burger');
                const menu = document.querySelectorAll('.navbar-menu');

                if (burger.length && menu.length) {
                    
                    for (var i = 0; i < burger.length; i++) {
                        burger[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                // close
                const close = document.querySelectorAll('.navbar-close');
                const backdrop = document.querySelectorAll('.navbar-backdrop');

                if (close.length) {
                    console.log('asdasd')
                    for (var i = 0; i < close.length; i++) {
                        close[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                if (backdrop.length) {
                    for (var i = 0; i < backdrop.length; i++) {
                        backdrop[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }              
                    
},
       

       methods: {
           date_format(date){
                return moment(date).format("YYYY-MM-DD");
            },
            
            set_1(){
               this.cargarcomponente2=1
           },
              set_2(){
               this.cargarcomponente2=2
           },
              set_3(){
               this.cargarcomponente2=3
           },
              set_4(){
               this.cargarcomponente2=4
           },
              set_5(){
               this.cargarcomponente2=5
           },

       }
                
    }
</script>

<style>

    .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }

    #ventas{
        height: 650px;
    }

</style>