@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-primary: #F6F6F6 ;
    --color-secondary: #064789 ;
    /* ... */
  }

.page-config{
    background-color:var(--color-secondary);
    
}

.articles-config{
    background-color:var(--color-primary);
    
}

.primary-text{

    font-family: Secular One;
    font-style: normal;
    font-weight: normal;
    color: #064789;   
    /* or 111% */

    letter-spacing: -1px;

}

.white-text{

    font-family: Secular One;
    font-style: normal;
    font-weight: normal;
    color:white  ;
    /* or 111% */

    letter-spacing: -1px;

}

.secundary-text{

    
    font-family: Assistant;
    font-style: normal;
    font-weight: normal;
    color: black;
    /* or 160% */
                
}