<template>

<!--tarjetas dashboard-->
<div class="flex flex-row  gap-4  ">

<!-- primer tarjeta-->
        <!-- <div class="flex bg-blue3  w-52  h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente3==0 ? 'bg-blue2':'' ">
           <button @click="set_0" class="focus:outline-none">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Crear Ordenes</p>
                        </div>
                    </div>
                </div>
           </button>          
        </div>     -->
                               
    <!-- segunda tarjeta-->
        <!-- <div class="flex bg-blue3  w-52 h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente3==1 ? 'bg-blue2':'' ">
           <button @click="set_1" class="focus:outline-none">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Oportunidades disponibles</p>
                        </div>
                    </div>
                </div>
           </button>          
        </div>     -->
</div>  
                    
<!--tarjetas dashboard-->

</template>

<script>
import Demand_icon from '../../../../public/images/solicitudes.png'
export default {

       data () {// esta funcion devuelve el objeto
        return {
            
            Demand_icon: Demand_icon,

        }
       },

       methods:{

           set_0(){
            this.$emit ('set_0')
           },
           set_1(){
            this.$emit ('set_1')
           },
        
       },

       props: {

        cargarcomponente3:Number

       }
             

}
</script>

<style>

</style>