<template>
   <!--home component-->

    <!--inicio tabla-->
    
    <div class="flex flex-col bg-white w-auto h-screen overflow-y-scroll ">

   <!--tarjeta-->
        <div class="group flex flex-col lg:flex-row xl:flex-row 2xl:flex-row gap-6 p-6 h-full w-full"  >

                <div class="flex flex-col w-auto lg:w-1/3 xl:w-1/3 2xl:w-1/3 pt-5 px-5 rounded-xl  articles-config ">
  
                    <div class="flex">
                        <p class="primary-text text-xl">Bienvenido</p>
                    </div>
                    <p class="py-5 ">Somos tu Broker de Gestión Financiera nos enfocamos en el resultado y en impulsar  tu crecimiento Somos Imparciales Objetivos y Flexibles
</p>

                    <div >
                        <!-- <img class="pt-20 invisible w-4 h-4 lg:w-auto lg:h-auto xl:w-auto xl:h-auto 2xl:w-auto 2xl:h-auto lg:visible xl:visible 2xl:visible"  v-bind:src="home_img" alt="imagenDashboardhome">  -->
                    </div>

                </div>

                <div class="flex flex-col w-auto lg:w-1/3 xl:w-1/3 2xl:w-1/3 pt-5 px-5 rounded-xl  articles-config">

                    <div class="flex pb-5 ">
                        <p class="primary-text text-xl">Tus procesos</p>
                    </div>

                    <div class="flex flex-col p-3  gap-10 items-center">

                        <inertia-link :href="route('dashboard1')" class="bg-white rounded-2xl w-full h-24 flex  py-5 px-10 gap-4  items-center justify-around   ">
                            <img   v-bind:src="solicitudes_img" alt="Solicitudes"> 
                            <p class="primary-text text-xl flex">Solicitudes</p>
                            <p class="primary-text text-xl flex">{{NumberOfOpportunities}}</p>
                        </inertia-link>

                        <inertia-link :href="route('dashboard1')" class="bg-white rounded-2xl w-full h-24 flex  py-5 px-10 gap-4 items-center justify-around ">
                            <img   v-bind:src="ordenes_img" alt="Solicitudes"> 
                            <p class="primary-text text-xl flex">Ordenes</p>
                            <p class="primary-text text-xl flex">{{NumberOfOrders}}</p>
                        </inertia-link>

                        <!-- <inertia-link :href="route('dashboard1')" class="bg-white rounded-2xl w-full h-24 flex  py-5 px-10 gap-4 items-center justify-around ">
                            <img   v-bind:src="compras_img" alt="Solicitudes"> 
                            <p class="primary-text text-xl flex">Productos</p>
                            <p class="primary-text text-xl flex">{{NumberOfProducts}}</p>
                        </inertia-link> -->

                    </div>
                </div>

                <div class="flex flex-col w-auto lg:w-1/3 xl:w-1/3 2xl:w-1/3 pt-5 px-5 rounded-xl  articles-config">

                    <div class="flex">
                        <p class="primary-text text-xl">Mensajeria</p>
                    </div>

                    

                </div>
            
        </div>
    <!--tarjeta-->

    </div>
                                 
    <!--fin tabla-->
</template>

<script>

import Messages from '../../Pages/Messages/messageContainer.vue'
import home_img from '../../../../public/images/home_img.png'
import solicitudes_img from '../../../../public/images/Solicitudes_d.png'
import ordenes_img from '../../../../public/images/ordenes_d.png'
import compras_img from '../../../../public/images/compras_d.png'

export default {
    props:{
        NumberOfOrders: Number,
        NumberOfOpportunities: Number,
        NumberOfProducts: Number,
    },

     components: {
                       
        
            Messages,

     },

   data(){
       return{

       home_img :home_img,
       solicitudes_img: solicitudes_img,
       ordenes_img: ordenes_img,
       compras_img: compras_img,

       }

   }

}
</script>

<style>

</style>