<template>
  <!--ordenes component-->

    <!--inicio tabla-->
    <div class="flex flex-col bg-white ">

        <div class="mx-5 my-1 ">
            <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                Ordenes abiertas
            </h2>
        </div>

<!--titulos-->
        <div class=" flex  flex-row pl-20 pt-10  ">
            <div class=" flex flex-auto content-center items-center w-52 "><img  class="w-5  h-4  m-2 " v-bind:src="az_icon" alt="imagenfiltro">Nombre </div>
            <div class=" flex flex-auto content-center items-center w-44 pl-8"><img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro">Estado </div>
            <div class=" flex flex-auto content-center items-center w-auto  -ml-20"><img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro">Fecha </div>

        </div>

<!--titulos-->


<!--tarjeta-->
        <div class="group" v-for="order in openOrders" :key="order.id" >

            <inertia-link :href="route('order.editRol3', order.id)">
                
                    <div   class=" group-hover:bg-gray-100  flex space-x-4  mx-20  mt-5 items-center  ">
                        
                        <div class="flex-auto flex  content-center mt-4">      
                    
                            <div class="h-12 mt-1 w-1 rounded-xl  group group-hover:bg-green2 bg-blue3  ">

                            </div>
                        
                            <div class=" rounded-xl  h-14 w-14 pl-1.5 pt-0.5 ">
                                <div class="  bg-gray-400 h-11 w-11 rounded-xl mt-1">
                                </div>
                            </div>

                            <div class="-mt-1.5  w-60">
                                <p class=" text-gray-900 font-extrabold tracking-tight text-sm mt-1">{{order.client_name}}</p>
                                <div class="flex items-baseline">
                                    <h2 class="text-sm font-extrabold  w-14">Email :</h2>  
                                    
                                </div>   
                                <p class=" text-gray-500  text-sm ">{{order.email}}</p>
                            
                            </div> 
                            <div class="mt-2 -ml-4 text-left w-16  ">
                                <p class=" text-sm text-gray-500 font-medium group-hover:text-gray-900 ">{{order.quotation_title}}</p>                                
                            </div> 
                        </div>

                        <!-- <div class="flex flex-auto mt-3 text-center  ">
                            <div class="flex  items-center  h-8 w-48  bg-gray-300 rounded-xl group-hover:text-gray-900">
                                <img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro"> 
                                <p class=" text-sm text-gray-500 font-medium">Generar cotización</p>  
                            </div>
                        </div> -->

                        <div class="flex-auto mt-3 text-center">
                            <p class=" text-sm h-8 w-48 text-yellow-600 font-light bg-yellow-200 rounded-xl group-hover:text-gray-900 pt-1.5 -ml-20"
                            :class="[{'bg-green-100 text-green-600': order.status == 'Orden finalizada',
                                    'bg-red-100 text-red-600': order.status == 'Orden cancelada',
                                }]"
                            >{{order.status}}</p>                                
                        </div>
                        
                        <div class="flex-auto text-left ">                             
                            <div >
                                {{date_format(order.created_at)}}
                            </div>                                    
                         </div>

                
                    </div>
            </inertia-link>
            
        </div>
    <!--tarjeta-->





    </div>                
    <!--fin tabla-->

    <!--pagination component-->
    <!-- <div class="flex justify-center self-end pt-10">
        <div class="   self-end ">
            <ul class="flex ">
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-500 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="flex items-center font-bold" href="#">
                        <span class="mx-1 ">  Anterior </span>
                    </a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">1</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-400 text-white hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">2</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200  text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">3</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">4</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">5</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="flex items-center font-bold" href="#">
                        <span class="mx-1"> Siguiente </span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!--pagination component-->
</template>

<script>

import dots_icon from "../../../../public/images/dots.png"
import az_icon from "../../../../public/images/azfiltro.png"
import filter_icon from "../../../../public/images/filtro.png"
import moment from 'moment'

export default {

       data () {// esta funcion devuelve el objeto
        return {
            
         dots_icon: dots_icon,
         az_icon: az_icon,
         filter_icon: filter_icon,
          

                       
        }
       },
    props: {
        orders: Array,
        user: Object
    },
    methods:{
        date_format(date){
                return moment(date).format("YYYY-MM-DD");
            },
    },
       computed: {
        openOrders(){
            
           
            const { orders} = this;

            if (this.user.user_type == 1 ){
            return orders.filter(order=> 

            
               (order.status == 'En espera de cotización' || order.status == 'Cotización entregada') && order.seller_id == this.user.id
            

                )
            }
            if (this.user.user_type == 2 ){
            return orders.filter(order=> 

            
               (order.status == 'En espera de cotización' || order.status == 'Cotización entregada')
            

                )
            }


       
        },
    },  
       
    }
</script>

<style>

</style>