<template>
    <body>
        <div class=" flex items-stretch  bg-white ">
            
            <div class="flex-1 bg-white      h-full " >
                
                
                <!--ultimas ventas component-->
                <div class="bg-white mt-8 rounded-xl mb-5 "    >
 
                   
                    <!--ultimas ventas component-->
                    
                    
                    <!--inicio tabla-->
                    
                    <!--tarjeta-->

                        

                       

                        <!--tarjeta-->

                        <!-- contenido dashboard -->
                    <div class="bg-white rounded-kl   overflow-auto">
                 

                        <div v-for="opportunity in opportunities" :key="opportunity.id">
                            <div class="  group flex space-x-4  ml-20  mt-5 items-center  ">

                                <div class="flex-auto flex  content-center mt-4">
                                    
                            
                                    <div class="h-12 mt-1 w-1 rounded-xl  group-hover:bg-gray-600 bg-gray-400">

                                    </div>
                                
                                    <div class="group-hover:bg-gray-300 rounded-xl  h-14 w-14 pl-1.5 pt-0.5 ">
                                        <div class="  bg-gray-400 h-11 w-11 rounded-xl mt-1">

                                        </div>
                                    </div>

                                    <div class="mt-1  w-60">
                                        <p class=" text-gray-900 font-extrabold tracking-tight text-sm mt-1">{{opportunity.name}}</p>
                                        <div class="flex items-baseline">
                                            <h2 class="text-sm font-extrabold  w-14">Email :</h2>  
                                            <p class=" text-gray-500  text-sm -ml-2">{{opportunity.email}}</p>
                                        </div>   
                                    
                                    </div> 
                                    <div class="mt-5 -ml-4 text-left w-16  ">
                                        <p class=" text-sm text-gray-500 font-medium group-hover:text-gray-900 ">{{opportunity.product.name}}</p>                                
                                    </div> 
                                </div>
                                    

                                <div class="flex-auto mt-3 text-center">
                                    <p class=" text-sm h-8 w-28 text-gray-500 font-medium bg-gray-300 rounded-xl group-hover:text-gray-900 pt-1.5">{{opportunity.status}}</p>                                
                                </div>

                                <div class="flex-auto  mt-3 text-center">
                                    <div >
                                        <!-- <inertia-link  :href="route('orderFromOpportunities', opportunity.id  )">
                                        <p class=" text-sm h-8 w-28 text-gray-500 font-medium bg-gray-300 rounded-xl group-hover:text-gray-900 pt-1.5">crear orden </p>  
                                        </inertia-link> -->
                                        <inertia-link  :href="route('orderFromOpportunities', opportunity.id  )">
                                        <p class=" text-sm h-8 w-28 text-gray-500 font-medium bg-gray-300 rounded-xl group-hover:text-gray-900 pt-1.5">Ver oportunidad </p>  
                                        </inertia-link>
                                    </div>
                                                                
                                </div>

                                <div class="flex-auto text-left ">
                                    <div >
                                        <div >
                                        {{opportunity.id}}<!--<img v-bind:src="dots_icon" alt="mas detalles">-->
                                    </div>
                                    </div>
                                    
                                </div>

                            </div>
                    </div>
                      
                      

                    </div>
                    <!-- contenido dashboard -->
                                       
                    <!--fin tabla-->
                   
                    <!--pagination component-->
                    <div class="flex justify-center self-end pt-10">
                    <div class="   self-end ">
                        <ul class="flex ">
                            <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-500 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                <a class="flex items-center font-bold" href="#">
                                    <span class="mx-1 ">  Anterior </span>
                                </a>
                            </li>
                            <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                <a class="font-bold" href="#">1</a>
                            </li>
                            <li class="mx-1 px-3 py-2 bg-gray-400 text-white hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                <a class="font-bold" href="#">2</a>
                            </li>
                            <li class="mx-1 px-3 py-2 bg-gray-200  text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                <a class="font-bold" href="#">3</a>
                            </li>
                            <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                <a class="font-bold" href="#">4</a>
                            </li>
                            <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                <a class="font-bold" href="#">5</a>
                            </li>
                            <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                <a class="flex items-center font-bold" href="#">
                                    <span class="mx-1"> Siguiente </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
<!--pagination component-->

                </div>
                
            
            </div>
        </div>
        
        




        <footer>

        </footer>
    </body>



  
</template>
<style >

</style>
<script>

    
    
    

    import maleta from '@/Pages/Utilities/Vectors/Maleta.png'
    import lines from '@/Pages/Utilities/Vectors/Lines.png'
    import flecha from '@/Pages/Utilities/Vectors/Flecha.png'
    import flechas from '@/Pages/Utilities/Vectors/Flechas.png'
    import PersonaB from '@/Pages/Utilities/Vectors/PersonaB.png'
    import notas from '@/Pages/Utilities/Vectors/Notas.png'
    import basura from '@/Pages/Utilities/Vectors/Basura.png'
    

    export default {
       
        
        props:{
            opportunities: Array,
            users: Array,
            
        },
       data () {// esta funcion devuelve el objeto
        return {
            
            maleta: maleta,
            lines: lines ,
            flecha: flecha,
            flechas: flechas,
            PersonaB: PersonaB,
            notas: notas,
            basura: basura,
            

                       
        }
       }
        
        
        
        
    
    
       
            
       
    }
</script>
