<template>
    <!--nav products Providers -->
    <div class="flex flex-row  gap-4  ">

    <!-- primer tarjeta-->
            <div class="flex bg-blue3  w-52  h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente4==0 ? 'bg-blue2':'' ">
            <button @click="set_0" class="focus:outline-none">
                    <div class="flex">
                        <div class="my-2">
                            <div class="flex ">
                                <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                                <p class="text-white text-lg  flex-auto px-2 pb-1">Gestión de productos</p>
                            </div>
                        </div>
                    </div>
            </button>          
            </div>    
                                
        <!-- segunda tarjeta-->
            <div class="flex bg-blue3  w-52 h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente4==1 ? 'bg-blue2':'' ">
            <button @click="set_1" class="focus:outline-none">
                    <div class="flex">
                        <div class="my-2">
                            <div class="flex ">
                                <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                                <p class="text-white text-lg  flex-auto px-2 pb-1">Gestión de proveedores</p>
                            </div>
                        </div>
                    </div>
            </button>          
            </div>
            <!-- tercera tarjeta-->
            <div class="flex bg-blue3  w-52 h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente4==2 ? 'bg-blue2':'' ">
            <button @click="set_2" class="focus:outline-none">
                    <div class="flex">
                        <div class="my-2">
                            <div class="flex ">
                                <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                                <p class="text-white text-lg  flex-auto px-2 pb-1">Vinculos y formularios</p>
                            </div>
                        </div>
                    </div>
            </button>          
            </div>    
    </div>                     
    <!--nav products Providers-->
</template>


<script>
import Demand_icon from '../../../../public/images/solicitudes.png'
export default {

       data () {// esta funcion devuelve el objeto
        return {
            
            Demand_icon: Demand_icon,

        }
       },

       methods:{

           set_0(){
            this.$emit ('set_0')
           },
           set_1(){
            this.$emit ('set_1')
           },
           set_2(){
            this.$emit ('set_2')
           },
        
       },

       props: {

        cargarcomponente4:Number

       }
             

}
</script>

<style>

</style>