<template>

    <div class="flex flex-col bg-white  ">

        <div class="mx-5 my-1 ">
            <h2 class="font-semibold text-base  text-gray-500 leading-tight">
            Administración de productos
            </h2>
        </div>
    

        <div class="flex justify-between align-baseline px-10">

            <div class="py-5">
                <h3 class="primary-text text-xl">Tus Productos</h3>
                <p class="secundary-text">Aquí podrás crear, editar y eliminar, el portafolio de productos disponibles en Broker APP.</p>
            </div>

            <div class="w-36  h-10  m-4">
                <inertia-link :href="route('products.create')" class="bg-gradient-to-r from-green2     border-none   to-green3 
                text-white rounded-xl  py-1 px-14    align-middle">
                    Crear
                </inertia-link>
            </div>

        </div>  

        <div class=" m-10 bg-white">
                                                        
            <table class=" grid grid-row gap-y-6 gap-x-10 " >

                <tr v-for="product in products " :key="product.id" class="articles-config rounded-2xl flex justify-between   items-center " >

                    <td class="  px-4 py-2  w-52   h-28   rounded-xl shadow-xl bg-gray-200 ">
                        {{product.name}}
                    </td>

                    <td class="  w-2/5  px-4 py-2 secundary-text ">
                        {{product.description}}
                    </td>

                    <td class="px-4 py-2 w-1/5 uppercase primary-text   ">
                        {{product.product_category.name}}
                    </td>

                    <td class=" px-12  py-2  ">
                        <inertia-link :href="route('products.edit',product.id)" >
                    
                            <img  v-bind:src="Edit_icon" alt="imagen editar cursos" >
                            <p class="primary-text -mx-2"> editar</p>
                        </inertia-link>
                                    
                    </td>

                </tr>

            </table>

        </div>    

    </div>
                           
</template>

<script>

  
    import Edit_icon from '../../../../../public/images/Edit1.png'
    import Delete_icon from '../../../../../public/images/Delete1.png'
    
    export default {
        components: {
            
            
        },
        props: {
            products: Array,
        },

        data (){

            return{
                Edit_icon : Edit_icon,
                Delete_icon : Delete_icon,
            }
            
        },

    }
</script>

<style>

</style>