<template>
    <body>
        
        <div class=" flex items-stretch ">

            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div>

                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
 
                <div class="flex-grow  articles-config px-12  py-6 ">

                    <div class="flex justify-between items-center ">
                        
                        <div class="flex ">
                            <div class="justify-items-end">             
                                <admin-layout>
                                </admin-layout> 
                            </div>                              
                        </div>
                        
                    </div>
            
                    <!-- contenido dashboard -->

                    <div class="flex flex-col rounded-xl my-10  h-5/6   overflow-auto bg-white ">

                        <div class="flex flex-row mx-5 my-1 w-full ">

                            <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                                Módulo de Gestión de Productos
                            </h2>

                        </div>

                        <div class="flex flex-row w-full justify-between align-baseline px-10" >

                            <div class="py-5">
                                <h3 class="primary-text text-xl">Edición de Productos</h3>
                                <p class="secundary-text">Si editas no podrás volver al estado anterior  </p>
                            </div> 
                            
                        </div>
            
                        <div class=" px-10  ">
            
                            <div class="flex justify-end space-x-4  ">

                                <button class="bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white rounded-xl mr-7">
                                        Finalizar
                                </button>

                                <button class="bg-gradient-to-r from-red-400      border-none   to-red-600   py-2 px-11 text-white rounded-xl mr-7">
                                    <a href="#" >
                                        Eliminar producto
                                    </a>
                                </button>

                            </div>
                            
                            <form >

                                <label class="block font-medium text-sm text-gray-700">
                                        <p class="py-2 text-lg my-2 "> <b> Nombre del producto </b> </p>
                                </label>
                                <textarea 
                                    class="form-input w-full rounded-md shadow-lg articles-config border-none"
                                    
                                ></textarea>
                                <label class="block font-medium text-sm text-gray-700">
                                    <p class="py-2 text-lg  my-2 "> <b> Descripción </b> </p>
                                </label>
                                <textarea
                                    class="form-input w-full  rounded-md shadow-lg articles-config border-none"
                                    
                                ></textarea>

                                <div class="flex my-5 justify-between">

                                    <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg  my-2 "> <b> Tipo de negocio </b> </p>
                                    </label>
                                    
                                    <select  class="form-input w-96 rounded-md shadow-lg articles-config border-none">
                                        <option >a </option>
                                        <option >b </option>
                                        
                                    </select>

                                    <label class="block font-medium text-sm text-gray-700">
                                            <p class="py-2 text-lg  my-2 "> <b> Categoría del producto </b> </p>
                                    </label>
                                    
                                    <select  class="form-input w-96  rounded-md shadow-lg articles-config border-none">
                                        <option >a </option>
                                        <option >b </option>
                                        
                                    </select>

                                </div>

                                <label class="block font-medium text-sm text-gray-700">
                                        <p class="py-2 text-lg  my-2 "> <b> Disponibilidad </b> </p>
                                </label>
                                
                                <select  class="form-input w-full rounded-md shadow-lg articles-config border-none">
                                    <option value="1">Disponible </option>
                                    <option value="0">No Disponible</option>
                                    
                                </select>

                            </form>

                        </div> 

                    <!-- contenido dashboard -->
                    
                    </div>

                   
                </div>

            </div>
        </div>

    </body>
</template>

<script>
    import AdminLayout from '@/Layouts/AdminLayout'

    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Cloud_icon from '../../../../../public/images/wcloud.png'
    import Edit_icon from '../../../../../public/images/Edit1.png'
    
    export default {

        components: {
            
            AdminLayout,

            Sidenav,
            DropdownProfile,
            
        },

        props: {
            products: Array,
        },
        
        data (){
            return {

                Cloud_icon:Cloud_icon, 
                Edit_icon : Edit_icon,
                form: {
                    name: 'asdasd',
                    phone: 'asdasd',
                    email: 'asdasd',
                    description: 'asdasd',

                }
                
            }
        },

        mounted() {

        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }       
                    
        },
        
    }
</script>

<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
    }
</style>