<template>
    <body>
        <div class=" flex items-stretch ">
            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed  ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div>


                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
 
                <div class="flex-grow  articles-config px-12  py-6 " >

                        <div class="flex justify-between items-center ">

                            <div class="flex">
                                <h1 class="primary-text text-2xl">Biblioteca</h1>
                            </div>

                            <div class="flex ">
                                <div class="justify-items-end">             
                                            <admin-layout>
                                            </admin-layout> 
                                </div>                              
                            </div>

                        </div>

            <!-- contenido dashboard -->
                        <div class="p-5 text-center">
                                    
                            <h3 class="primary-text text-2xl uppercase">Formate con Broker financiall</h3>
                                
                        </div>

                        <div class="rounded-xl  h-5/6 overflow-auto">

                            <div class="flex flex-col bg-white  ">

                                <div class="mx-5 my-1 ">
                                    <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                                        Módulo de Biblioteca
                                    </h2>
                                </div>



                                <div class="grid grid-cols-3 gap-10 m-4 p-4  ">
                                    <div v-for="course in courses" :key="course.id" v-show="course.visible == 1" class="articles-config shadow-lg rounded-xl  text-left">
                                        
                                        <inertia-link  :href="route('libraries.course', course.slug)">
                                            <img :src="course.media_storage.nameUrl" class="rounded-md mb-4 h-28  mx-auto ">
                                            <h2 class="primary-text text-lg truncate uppercase font-semibold px-6">{{course.name}}</h2>
                                            
                                            <h3 class="secundary-text px-6 ">{{ course.excerpt  }}</h3>

                                            <img :src="course.user.avatar " :alt="course.user.name" class="rounded-full  mx-auto my-4 h-10 w-10">

                                        </inertia-link>
                                        
                                    </div>
                                </div>
        
                            </div>

                        </div>

            <!-- contenido dashboard -->
                </div>    

            </div>

        </div>
    </body>
</template>

<script>
    
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import AdminLayout from '@/Layouts/AdminLayout'
    import Messages from '../../Pages/Messages/miniContainer.vue'
    
    export default {
        components: {
              
            Sidenav,
            DropdownProfile,
            AdminLayout,
            Messages,
 
        },
        //courses properties added to system
        props: {
            courses: Array,
            course: Object,
            courseCreator: String,
        },

        mounted() {

            // open
                const burger = document.querySelectorAll('.navbar-burger');
                const menu = document.querySelectorAll('.navbar-menu');

                if (burger.length && menu.length) {
                    
                    for (var i = 0; i < burger.length; i++) {
                        burger[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                // close
                const close = document.querySelectorAll('.navbar-close');
                const backdrop = document.querySelectorAll('.navbar-backdrop');

                if (close.length) {
                    console.log('asdasd')
                    for (var i = 0; i < close.length; i++) {
                        close[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                if (backdrop.length) {
                    for (var i = 0; i < backdrop.length; i++) {
                        backdrop[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
                       
                    
        },
        
    }
    
</script>

<style>
    .tab {
        overflow: hidden;
    }
    .tab-content {
        max-height: 0;
        transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
        transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
        max-height: 100vh;
    }
</style>