<template>

<!--tarjetas dashboard-->
    <div class="flex flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row   mt-7 gap-8">

<!-- primer tarjeta-->
        <div class="flex bg-blue3 w-auto h-auto lg:w-64 lg:h-24 xl:w-64 xl:h-24 2xl:w-64 2xl:h-24 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente1==0 ? 'bg-blue2':'' " >

            <button @click="set_0" class="focus:outline-none ">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto  h-6 w-6">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Solicitudes</p>
                        </div>
                    </div>
                 </div>
            </button>
            
             
            
                            
        </div>     

                            
    <!-- segunda tarjeta-->
    <div class="flex bg-blue3 w-auto h-auto lg:w-64 lg:h-24 xl:w-64 xl:h-24 2xl:w-64 2xl:h-24 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente1==1 ? 'bg-blue2':'' " >
            <button @click="set_1" class="focus:outline-none">
       <div class="flex">
                <div class="my-2">
                    <div class="flex ">
                        <img :src="Ordenes_icon" alt="icono solicitudes" class=" flex auto mx-auto  h-6 w-6">
                        <p class="text-white text-lg  flex-auto px-2 pb-1">Ordenes</p>
                    </div>
                </div>

            </div>
            </button>
             
           
                            
        </div>     
                    
    <!-- tercera tarjeta-->
        <div class="flex bg-blue3 w-auto h-auto lg:w-64 lg:h-24 xl:w-64 xl:h-24 2xl:w-64 2xl:h-24 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente1==2 ? 'bg-blue2 ':'' ">
           <button @click="set_2" class="focus:outline-none">
            <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Compras_icon" alt="icono solicitudes" class=" flex auto mx-auto  h-6 w-6">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Productos adquiridos</p>
                        </div>
                    </div>
                </div>
           </button>
          
         
                            
        </div>                
                        
    </div>
                      
<!--tarjetas dashboard-->

</template>

<script>
import Demand_icon from  "../../../../public/images/solicitudes.png"  
import Ordenes_icon from "../../../../public/images/ordenesw.png"
import Compras_icon from "../../../../public/images/comprasw.png"

export default {

       data () {// esta funcion devuelve el objeto
        return {
            
            Demand_icon: Demand_icon,     
            Ordenes_icon : Ordenes_icon,
            Compras_icon: Compras_icon,

        }
       },

       methods:{

           set_0(){
            this.$emit ('set_0')
           },
           set_1(){
            this.$emit ('set_1')
           },
           set_2(){
            this.$emit ('set_2')
           }
       },

       props: {

        cargarcomponente1:Number

       }
             

}

</script>

<style>

</style>