<template>

  <!--ordenes component-->
                
    <!--inicio tabla-->

    
    <div class="flex flex-col">

        <div class="ml-6 pb-10 pl-10   flex flex-row">
            <div>
                <p class="text-2xl mt-7">Solicitudes</p>
            </div>                     
            
        </div> 

<!--titulos-->
        <div class=" flex  flex-row pl-5 lg:pl-20 xl:pl-20 2xl:pl-20     ">
            <div class=" flex flex-auto content-center items-center  "><img  class="w-5  h-4  m-2 " v-bind:src="az_icon" alt="imagenfiltro">Nombre </div>
            <div class=" flex flex-auto content-center items-center invisible md:visible lg:visible xl:visible 2xl:visible 2xl:-ml-56 " ><img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro">Estado </div>
            <!-- <div class=" flex flex-auto content-center items-center w-auto pl-52  invisible md:visible lg:visible xl:visible 2xl:visible "><img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro">Fecha </div> -->
          

        </div>
    <!--tarjeta-->
    <div v-for="opportunity in Opportunities" :key="opportunity.id">
        <div class="   group flex gap-4 mx-6 my-1 lg:ml-20  lg:mt-5 xl:ml-20  xl:mt-5  2xl:ml-20  2xl:mt-5 ">

            <div class="flex-row flex   ">
                
        
                <div class="h-12 mt-1 w-1 rounded-xl group-hover:bg-green3 articles-config">

                </div>
            
                <div class= "rounded-xl  h-14 w-14 pl-1.5 pt-0.5 ">
                    <div class="  articles-config  h-11 w-11 rounded-xl mt-1">

                    </div>
                </div>

                <div class="mt-1 w-auto  md:w-60 lg:w-60 xl:w-60 2xl:w-60 ">
                    <p class=" text-gray-900 font-extrabold tracking-tight text-sm mt-1">{{opportunity.name}}</p>
                    <div class="flex items-baseline">
                        <h2 class="text-sm font-extrabold  w-14">Email :</h2>  
                        <p class=" text-gray-500  text-sm -ml-2">{{opportunity.email}}</p>
                    </div>   

                    <div class="mt-5 -ml-4 text-left w-60 lg:w-60 xl:w-60 2xl:w-60 visible lg:invisible xl:invisible 2xl:invisible  ">
                        <p class=" text-sm text-gray-500 font-medium group-hover:text-gray-900 ">{{opportunity.product.name}}</p>                                
                    </div> 
              
                    <div class="flex-auto mt-3 text-center visible lg:invisible xl:invisible xl:-mb-20 2xl:invisible 2xl:-mb-20 ">
                        <p class=" text-sm h-8 w-28 text-gray-500 font-medium bg-gray-300 rounded-xl group-hover:text-gray-900 pt-1.5 ">{{opportunity.status}}</p>                                
                    </div>

                    <div class="flex-auto  mt-3 text-center  visible lg:invisible xl:invisible xl:-mb-20 2xl:invisible  2xl:-mb-20">
                        <div v-if="!(opportunity.order==null) ">
                            <inertia-link  :href="route('quotations', opportunity.order.id  )">
                            <p class=" text-sm h-8 w-28 text-gray-500 font-medium bg-blue-700 rounded-xl group-hover:text-gray-900 pt-1.5">Ver cotización </p>  
                            </inertia-link>
                        </div>
                        <div v-else>
                            <div class="h-8 w-28"></div>
                        </div>                              
                    </div>

                </div> 

                <div class="mt-5 -ml-4 text-left w-16 invisible lg:visible xl:visible 2xl:visible  ">
                    <p class=" text-sm text-gray-500 font-medium group-hover:text-gray-900 ">{{opportunity.product.name}}</p>                                
                </div> 

                
            </div>
            

            <div class="flex-auto mt-3 text-center xl:pl-20 2xl:pl-14 invisible lg:visible xl:visible 2xl:visible 2xl:ml-44 ">
                <p class=" text-sm h-8 w-28 text-yellow-600 font-medium bg-yellow-200 rounded-xl group-hover:text-gray-900 pt-1.5" 
                :class="[{'bg-green-100 text-green-600': opportunity.status == 'Abierta' ,
                    'bg-yellow-100 text-yellow-600': opportunity.status == 'En revisión',
                    'bg-red-100 text-red-600': opportunity.status == 'Cerrada',
                }]"
                >{{opportunity.status}}</p>     
                <!-- :class="opportunity.status == 'En revisión' ? 'bg-yellow-100 text-yellow-600':'' " -->                           
            </div>

            <div class="flex-auto  mt-3 text-center invisible lg:visible xl:visible 2xl:visible  ml-40">
                <div v-if="!(opportunity.order==null) ">
                    <inertia-link  :href="route('quotations', opportunity.order.id  )">
                    <p class=" text-sm h-8 w-28 text-white font-medium bg-blue3 rounded-xl group-hover:bg-blue2 pt-1.5">Ver cotización </p>  
                    </inertia-link>
                </div>
                <div v-else>
                    <div class="h-8 w-28"></div>
                </div>                              
            </div>

            <!-- <div class="flex-auto text-left ">
                <div >
                    <div >
                    {{date_format(opportunity.created_at)}}
                </div>
                </div>
                
            </div> -->

        </div>
    </div>
    <!--tarjeta-->


    
                                
    <!--fin tabla-->
    </div>
    

                
</template>

<script>
import dots_icon from "../../../../public/images/dots.png"
import az_icon from "../../../../public/images/azfiltro.png"
import filter_icon from "../../../../public/images/filtro.png"
import moment from 'moment'
moment.locale('es');
 export default {

        props: {
            Opportunities: Array,
        },
        methods: {
            date_format(date){
            return moment(date).format("DD/MM/YYYY");
        },
        },


       data () {// esta funcion devuelve el objeto
        return {
            
        dots_icon: dots_icon,
        az_icon: az_icon,
        filter_icon: filter_icon,
          

                       
        }
       }     
       
    }
  
</script>

<style>

</style>