<template>
  <!--ordenes component-->
                
    <!--inicio tabla-->

    
    <div class="flex flex-col">

        <div class="ml-6 pb-10 pl-10   flex flex-row">
            <div>
                <p class="text-2xl mt-7">Productos adquiridos</p>
            </div>                     
            
        </div> 

<!--titulos-->
        <div class=" flex  flex-row pl-20   ">
            <div class=" flex flex-auto content-center items-center "><img  class="w-5  h-4  m-2 " v-bind:src="az_icon" alt="imagenfiltro">Nombre </div>
            <div class=" flex flex-auto content-center items-center " ></div>
            <div class=" flex flex-auto content-center items-center "><img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro">Fecha de vencimiento</div>
            <div class=" flex flex-auto content-center items-center " ></div>
 
        </div>
    <!--tarjeta-->
    <inertia-link :href="route('validate_approved_product', order.id)" class="  group flex space-x-4  ml-20  mt-5 items-center  " v-for="order in Orders" :key="order.id">

        <div class="flex-auto flex  content-center mt-4">
            
            <div class="h-12 mt-1 w-1 rounded-xl  group-hover:bg-green3 articles-config ">

            </div>
        
            <div class=" rounded-xl  h-14 w-14 pl-1.5 pt-0.5 ">
                <div class=" articles-config   h-11 w-11 rounded-xl mt-1">

                </div>
            </div>

            <div class="mt-1  w-60">
                <p class=" text-gray-900 font-extrabold tracking-tight text-sm mt-1">{{order.client_name}}</p>
                <div class="flex items-baseline">
                    <h2 class="text-sm font-extrabold  w-14">Email :</h2>  
                    <p class=" text-gray-500  text-sm -ml-2">{{order.email}}</p>
                </div>   
            
            </div> 
            <div class="mt-5 -ml-4 text-left 2xl:w-32  ">
                <p class=" text-sm text-gray-500 font-medium group-hover:text-gray-900 ">{{order.quotation_title}}</p>                                
            </div> 
        </div>
        
        <div class="flex-auto mt-3 text-left w-16 ">
            <p class=" text-sm text-gray-500 font-medium group-hover:text-gray-900 ">{{(order.due_date == null) ? '' : date_format(order.due_date)}}</p>                                   
        </div>

        <div class="flex-auto text-left ">
            <div >
                <button >
                <img v-bind:src="dots_icon" alt="mas detalles">
            </button>
            </div>
            
        </div>

    </inertia-link>  
    <!--tarjeta-->


    <!--tarjeta-->            
    <!--fin tabla-->
    </div>
    <!--pagination component-->
    <!-- <div class="flex justify-center self-end pt-10">
        <div class="   self-end ">
            <ul class="flex ">
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-500 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="flex items-center font-bold" href="#">
                        <span class="mx-1 ">  Anterior </span>
                    </a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">1</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-400 text-white hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">2</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200  text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">3</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">4</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="font-bold" href="#">5</a>
                </li>
                <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                    <a class="flex items-center font-bold" href="#">
                        <span class="mx-1"> Siguiente </span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!--pagination component-->
</template>

<script>
import dots_icon from "../../../../public/images/dots.png"
import az_icon from "../../../../public/images/azfiltro.png"
import filter_icon from "../../../../public/images/filtro.png"
import moment from 'moment'
moment.locale('es');

 export default {
     props:{
         Orders: Array
     },


       data () {// esta funcion devuelve el objeto
        return {
            
        dots_icon: dots_icon,
        az_icon: az_icon,
        filter_icon: filter_icon,
          

                       
        }
       },

       methods:{
           date_format(date){
            return moment(date).format("DD/MM/YYYY");
        },
       }
      
       
    }
</script>

<style>

</style>