<template>
      <body>
      
        <div class="  items-stretch" >
            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed  ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div>
                
                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
                
                <div class="flex-grow articles-config px-12  py-6 " >

                    <div class="flex justify-between items-center    bg-gary-100">
                     
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Descargas</h1>
                        </div>
                    
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
               
                    </div>

                    <!-- contenido dashboard -->
                    <div class="bg-white rounded-xl  my-6 h-5/6 overflow-auto">
                    
                        <div class="  mx-10  px-6 ">
                            <div class="flex flex-col text-center m-3 p-3">       
                                <h2 class="primary-text text-xl font-bold my-3 py-3 ">Descargue aqui sus documentos</h2>
                                <p class="text-gray-500 ">Tenga en cuenta las instrucciones de nuestros expertos al descargar y completar sus documentos</p>
                            </div>
                            
                        </div>
                    
                        <div class="p-2 m-2 ">
                            <Downloads :mediaStorage="mediaStorage" :forms="forms" :form_="form_" ></Downloads>
                        </div>            
        
                    </div>
                    <!-- contenido dashboard -->

                </div>

            </div>     

        </div>

    </body>  
</template>



           
<style >

.intro-message{
font-family: Secular One;
font-style: normal;
font-weight: normal;
line-height: 80px;
/* or 111% */

letter-spacing: -3px;

color: #333333;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}


.snap-x {
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: end;
}

 .centrado{
		    margin:10px auto;
		    display:block;
    }

    hr, .hrcolor {
   height: 1px;
   border: 0;
   color: #666;
   background-color: #000;
}

 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }

.has-mask {
		position: absolute;
		clip: rect(10px, 150px, 130px, 10px);
	}

</style>
<script>

    
    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Downloads from '@/Layouts/Downloads.vue'
    import UploadDocs from '@/Layouts/UploadDocs'
    import AdminLayout from '@/Layouts/AdminLayout'
    import Messages from '@/Pages/Messages/miniContainer.vue'

    import maleta from '@/Pages/Utilities/Vectors/Maleta.png'
    import lines from '@/Pages/Utilities/Vectors/Lines.png'
    import flecha from '@/Pages/Utilities/Vectors/Flecha.png'
    import flechas from '@/Pages/Utilities/Vectors/Flechas.png'
    import PersonaB from '@/Pages/Utilities/Vectors/PersonaB.png'
    import notas from '@/Pages/Utilities/Vectors/Notas.png'
    import basura from '@/Pages/Utilities/Vectors/Basura.png'
    
    

    export default {
       
        components: {
                       
            Sidenav,
            DropdownProfile,
            Downloads,
            UploadDocs,
            AdminLayout,
            Messages,
            
            
        },
       data () {// esta funcion devuelve el objeto
        return {
            
            maleta: maleta,
            lines: lines ,
            flecha: flecha,
            flechas: flechas,
            PersonaB: PersonaB,
            notas: notas,
            basura: basura,
            form: {
              business_type: '',
              product_category_id: '',
              product_id: '',
              provider_id: '',
            }
            
                                  
        }
      },
      
      props: {
          mediaStorage: Array,
          products: Array,
          categories: Array,
          providers: Array,
          forms: Array,
          form_: Array
      },
      methods : {
            submit(){
                
                this.$inertia.get(this.route('forms.mediaStorage.index',this.formFiltered.id))
                this.$emit('button-clicked')
            }
        },
      computed: {
        /**
         * funcion para filtrar categorias de productos
         */
        productCategory(){
           
            const { categories} = this;
            return categories.filter(category=> 
               category.business_type == this.form.business_type
             
            )
        /**
         * funcion para filtrar  productos
         */

        },
        productsFiltered(){
           
            const { products} = this;
            return products.filter(product=> 
               product.product_category_id == this.form.product_category_id
             
            )


        },
        /**
         * funcion para filtrar formularios asociados a un producto
         */
        formsToFindProviders(){
           
            const { forms} = this;
            return forms.filter(form=> 
               form.product_id == this.form.product_id
             
            )
        },
        /**
         * funcion para filtrar proveedores asociados a un producto
         * primero busca los proveedores de cada formulado asociado a producto, hace una lista
         * y despues elimina los proveedores repetidos
         */
        providersFiltered(){
            const providers_filtered = []
            this.formsToFindProviders.forEach(form => {
                
               providers_filtered.push(this.providers.find(provider => provider.id == form.provider_id))
            });
            const uniqueProvidersFiltered = [...new Map(providers_filtered.map(provider => [provider.id, provider])).values()]
            return uniqueProvidersFiltered
             
        },
        formFiltered(){
            const{forms} =this;
            return forms.find(form =>//encuantra el primero y lo imprime 
                form.product_id == this.form.product_id && form.provider_id == this.form.provider_id
            )
            
        }
        

    },

           mounted() {

            // open
                const burger = document.querySelectorAll('.navbar-burger');
                const menu = document.querySelectorAll('.navbar-menu');

                if (burger.length && menu.length) {
                    
                    for (var i = 0; i < burger.length; i++) {
                        burger[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                // close
                const close = document.querySelectorAll('.navbar-close');
                const backdrop = document.querySelectorAll('.navbar-backdrop');

                if (close.length) {
                    console.log('asdasd')
                    for (var i = 0; i < close.length; i++) {
                        close[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                if (backdrop.length) {
                    for (var i = 0; i < backdrop.length; i++) {
                        backdrop[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
                       
                    
},
        
  }
        
        
        
        
    
    
       
            
       
    
</script>
