<template>
<!--este componente puede ser eliminado y debe usarse como guia para Uploads.vue-->
  <main>
        <div v-if="$page.props.flash.status" class="bg-blue-500 text-white text-sm font-bold p-4">
                <p>{{ $page.props.flash.status }}</p>

        </div>
        <slot></slot>
    </main>
           
            <UploadDocs :form="form" :order="order"></UploadDocs>
           
</template>

<script>
import UploadDocs from '@/Layouts/UploadDocs'
import Upload_icon from '../../../../public/images/UploadIcon.png'
export default {
components: { UploadDocs },
props: {
    order:Object,
    description : String,
}
,
data (){
    return { 
        form : { 
            description : this.description,
            media_upload : '',
            Upload_icon: Upload_icon,
        }
     }
}
}
</script>

<style>
.has-mask {
		position: absolute;
		clip: rect(10px, 150px, 130px, 10px);
	}
</style>