<template>
<body>
  <div class="  items-stretch" >
    <div class="flex  flex-col  md:flex  md:flex-row lg:flex  lg:flex-row xl:flex  xl:flex-row 2xl:flex  2xl:flex-row h-screen w-screen mx-1 mb-1 fixed  ">

        <div class="w-56 ">
                    <Sidenav/>   
                </div>
        
        <div class="flex shadow-xl ">
            <div class="w-auto ">
                <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
            
                    <div class="relative">
                        <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                        <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                        </svg>
                        </button>
                    </div>
                </nav>
            </div>
        
            <div class="navbar-menu hidden  ">

                <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                    <div class="flex flex-row justify-between">
                        <div class="flex">
                            <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                        </div>
            
                        <div align="right" class=" pt-7 flex">
                            <button class="navbar-close">
                                
                                <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
            
                    <div class="pl-7 pt-10 ">
                        <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                        <p class="text-gray-500">Tu último historial de chat</p>
                    </div>

                    <Messages/>

                </nav>

            </div>
        </div>
        
        <div class="flex-grow  bg-gray-100 px-12  py-6 " >

            <div class="flex justify-between items-center    bg-gary-100">
              
                <div class="flex">
                    <h1 class="primary-text text-2xl">Dashboard</h1>
                </div>
            
                <div class="flex ">
                    <div class="justify-items-end">             
                                <admin-layout>
                                </admin-layout> 
                    </div>                              
                </div>
        
            </div>

<!-- dasboard navbar component -->

<!-- dasboard navbar component -->
        
            <!-- contenido dashboard -->
            <div class="bg-white rounded-xl  my-6 h-5/6 overflow-auto">

                <div class="mx-5 my-1 ">

                    <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                        Edición de Oportunidades
                    </h2>

                </div>

                <div  class=" h-auto  w-auto  m-2 p-2  " >
                    
                    <div  class="m-10  ">
                        <div class=" flex flex-row">
                            <h2 class="font-semibold text-base  leading-tight">
                                Datos del cliente
                            </h2>
                        </div>
                        <hr>

                    <!-- Datos del cliente -->      
                        <div class=" flex flex-col ">
                                                    
                            <div class="flex flex-row justify-between" >

                                <div class="">
                                    <p class="my-1 py-1">Nombre </p>
                                    <input v-model="form.client_name"  type="text" name="Nombre" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Nombre">
                                </div>

                                <!-- <div class="" >
                                    <p class="my-1 py-1">Apellido</p>
                                    <input  type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Apellidos">
                                </div> -->
                                
                                <div class=" " >
                                    <p class="my-1 py-1">Genero</p>
                                    <select v-model="form.gender"   class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option value='undefined' disabled selected>Genero</option> 
                                        <option value='Masculino'>Masculino</option>
                                        <option value='Femenino'>Femenino</option>
                                        <option value='Sin especificar'>Sin especificar</option>
                                    </select>
                                </div>

                                <div class="">
                                    <p class="my-1 py-1">Correo</p>
                                    <input v-model="form.email"  type="email" name="email" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Correo">
                                </div>
                                <div class="">
                                    <p class="my-1 py-1">Teléfono </p>
                                    <input  v-model="form.customer_phone" type="text" name="Número de teléfono " class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Número de teléfono">
                                </div>

                            </div>

                            <div class="flex flex-row justify-between"  >

                                <div class="flex-row mt-1   text-left " >
                                <p class=" py-1">Dirección</p>
                                <input v-model="form.address" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Dirección" >
                                </div>

                                <div class="">
                                    <p class="2xl:my-1 2xl:-ml-0 2xl:py-1">Tipo de documento</p>
                                    <select v-model="form.id_type"   class="2xl:my-1 2xl:py-1 2xl:-ml-0 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option disabled selected value="undefined" >Tipo de documento</option>
                                        
                                        <option value='CC'>Cédula de ciudadanía</option>
                                        <option value='TI'>Tarjeta de identidad</option>
                                        <option value='RC'>Registro civil</option>
                                        <option value='CE'>Cédula de extranjería</option>
                                        <option value='PA'>Pasaporte</option>

                                </select>
                                </div>

                                <div class="" >
                                <p class="2xl:my-1 2xl:-ml-0 2xl:py-1">Número de documento</p>
                                <input v-model="form.id_number" type="text" name="Número de documento" class="2xl:my-1 2xl:py-1 2xl:-ml-0 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Documento" >
                                </div>

                                <div class="2xl:pr-3">
                                    <p class="my-1 2xl:-ml-0 py-1">Fecha de Nacimiento</p>
                                    <input v-model="form.date_of_birth"  type="date" name="Fecha de Nacimiento" class="2xl:my-1 2xl:py-1 2xl:-ml-0 bg-gray-200 rounded-lg border-transparent text-center" >
                                </div>  
                                
                            </div>
                            
                            
                        </div>        
                    <!-- Datos del cliente -->

                    <!-- seleccion del producto -->
                        <div class="flex mt-6"> Seleccion del producto: {{form.quotation_title}}</div>
                        <hr>
                        <div class="flex mt-6"> ¿no es el producto deseado?</div>
                        <div class=" flex flex-col">
                            <div class=" flex flex-row justify-between">

                            <div class="">
                                <div class=" ">
                                    <div class="  " >
                                    <select  v-model="business_type" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option disabled selected value="" >Tipo de negocio</option>
                                        <option value="1">Seguros</option>
                                        <option value="2">Productos financieros</option>
                                        <option value="0">Otros</option>

                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="">
                                    <div class="" >
                                    <select v-model="product_category_id"  class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option disabled selected value="" >Categoria de producto</option>
                                        <option v-for="category in productCategory" :key="category.id" v-bind:value="category.id">
                                            {{category.name}}
                                        </option>

                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class=" " >
                              <select v-model="form.product_id" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                  <option disabled selected value="" >Seleccion de producto </option>
                                  <option v-for="product in productsFiltered" :key="product.id" v-bind:value="product.id">
                                        {{product.name}}
                                        </option>
                              </select>
                            </div>


                            <div class="">
                                <div class="">
                                    <div class=" " >
                                    <!-- <button @click.prevent="makeOpportunity" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">
                                        Crear Oportunidad 
                                    </button> -->
                                    <div class=""></div>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            

                            </div>
                        </div>
                    <!-- seleccion del producto -->

                    <!-- seleccion de vendedor o asignacion de Oportunidades -->
                        <div class="mt-10 ">
                          <p class="flex my-4 "> ¿Deseas asignar esta oportunidad a un agente? </p>
                            <hr>
                          <div class=" " >
                            <select v-model="seller_id"  class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                <option selected disabled value=''>asigna a vendedor </option>
                                <option value=''>Solo adminitradores</option>
                                <option v-for="seller in sellers" :key="seller.id" :value="seller.id">
                                    {{seller.name}}
                                </option>
                            </select>
                          </div>
                        </div>
                    <!-- seleccion de vendedor o asignacion de Oportunidades -->
                    <div class="">
                                <div class="">
                                    <div class="flex gap-6  justify-between pt-8" >
                                        <button @click="updateOpportunity" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">Actualizar oportunidad
                                        </button>
                                        <button v-if="opportunity.order == null" @click="createrOderFromOpportunity"  type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">Crear orden
                                        </button>
                                        <button v-else  @click="goToOrder"  type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">Ver orden
                                        </button>


                                    </div>
                                </div>
                            </div>

                      </div>
                
                </div>
      
            </div>
            <!-- contenido dashboard -->



        </div>

    </div>     

  </div>
</body>
</template>

<script>
    import dots_icon from "../../../../public/images/dots.png"
    import az_icon from "../../../../public/images/azfiltro.png"
    import filter_icon from "../../../../public/images/filtro.png"

    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Messages from '../../Pages/Messages/miniContainer.vue'
    import AdminLayout from '@/Layouts/AdminLayout'
    import moment from 'moment'



export default {

  components: {

    Sidenav,
    DropdownProfile,
    Messages,
    AdminLayout
    

  },
  props:{
    opportunity: Object,
    products: Array,
    categories: Array,
    sellers: Array,
    
  },

  data() {
    return{
                      
      dots_icon: dots_icon,
      az_icon: az_icon,
      filter_icon: filter_icon,
      business_type: '',
      product_category_id: '',
      seller_id:(this.opportunity == null) ? ''  : this.opportunity.seller_id,
      form: {
            //name: name + lastname,
            client_name : (this.opportunity == null) ? ''  : this.opportunity.name,
            email: (this.opportunity == null) ? ''  : this.opportunity.email,
            customer_phone: (this.opportunity == null) ? ''  : this.opportunity.customer_phone,
            address: (this.opportunity == null) ? ''  : this.opportunity.address,
            date_of_birth: (this.opportunity == null) ? ''  : this.date_format(this.opportunity.date_of_birth),
            quotation_title: (this.opportunity == null) ? ''  : this.opportunity.product.name,
            gender: (this.opportunity == null) ? ''  : this.opportunity.gender,
            id_number: (this.opportunity == null) ? ''  : this.opportunity.id_number,
            id_type: (this.opportunity == null) ? ''  : this.opportunity.id_type,
            product_id: '',
            
            
        },
      
    }
  },
  methods:{
      storeSubmit(){
            console.log('asdasds')
            this.form.client_name = this.name + ' ' +this.lastname
            this.form.quotation_title = this.productSelected[0].name
           
            

            return this.$inertia.post(this.route('order.store'),this.form)
            this.$emit('button-clicked')
        },
        date_format(date){
            return moment(date).format("YYYY-MM-DD");
        },
        createrOderFromOpportunity(){
            return this.$inertia.post(this.route('orderFromOpportunities',this.opportunity.id),Object.assign( this.form, {seller_id: this.seller_id}))
        },
        updateOpportunity(){
            return this.$inertia.patch(this.route('updateOpportunityAndOrder',this.opportunity.id),Object.assign( this.form, {seller_id: this.seller_id}))
        },
        goToOrder(){
            return this.$inertia.get(this.route('order.goToOrder', this.opportunity.order.id))
        }
        
  },
  computed: {
       
       productSelected: function(){
           const {products} = this;
          return products.filter(product =>
          product.id == this.form.product_id)
       },
       
       /**
         * funcion para filtrar categorias de productos
         */
         
      
        productCategory(){
           
            const { categories} = this;
            return categories.filter(category=> 
               category.business_type == this.business_type
             
            )
        

        },
        /**
         * funcion para filtrar  productos
         */
        productsFiltered(){
           
            const { products} = this;
            return products.filter(product=> 
               product.product_category_id == this.product_category_id
             
            )


        },
      
      
  },

  
        mounted() {
                        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }
                                
                                
        },
    

}
</script>

<style>
     .tab {
            overflow: hidden;
            }
            .tab-content {
            max-height: 0;
            transition: all 0.5s;
            }
            input:checked + .tab-label .test {
                background-color: #000;
            }
            input:checked + .tab-label .test svg {
                transform: rotate(180deg);
                stroke: #fff;
            }
            input:checked + .tab-label::after {
            transform: rotate(90deg);
            }
            input:checked ~ .tab-content {
            max-height: 100vh;
            }

#ventas{
    height: 650px;
}
</style>


