<template>
      <body>
      
      
        <div class="  items-stretch" >
            <div class="flex  flex-col  md:flex  md:flex-row lg:flex  lg:flex-row xl:flex  xl:flex-row 2xl:flex  2xl:flex-row h-screen w-screen mx-1 mb-1 fixed  ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div>
                

                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
              
                <div class="flex-grow  bg-gray-100 px-12  py-6 " >

                    <div class="flex justify-between items-center    bg-gary-100">
                     
                        <div class="flex">
                            <h1 class="primary-text text-2xl">Dashboard</h1>
                        </div>
                    
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
               
                    </div>

<!-- dasboard navbar component -->

<!-- dasboard navbar component -->
               
                    <!-- contenido dashboard -->
                    <div class="bg-white rounded-xl  my-6 h-5/6 overflow-auto">

                        <div class="mx-5 my-1 ">

                            <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                                Tus Oportunidades
                            </h2>

                        </div>

                        <!--titulos-->
                        <div class=" flex  flex-row pl-20 pt-10  ">
                            <div class=" flex flex-auto content-center items-center w-auto  "><img  class="w-5  h-4  m-2 " v-bind:src="az_icon" alt="imagenfiltro">Nombre </div>
                            <div class=" flex flex-auto content-center items-center w-auto pl-40"><img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro">Estado </div>
                            <div class=" flex flex-auto content-center items-center w-auto pl-52 "><img  class="w-5  h-4  m-2" v-bind:src="az_icon" alt="imagenfiltro">Fecha </div>
                        </div>

                        <!--titulos-->

                        <div class="group" v-for="opportunity in opportunities" :key="opportunity.id">
                            <div class=" group-hover:bg-gray-100  flex space-x-4  mx-20  mt-5 items-center   ">

                                <div class="flex-auto flex  content-center mt-4">
                                    
                                    <div class="h-12 mt-1 w-1 rounded-xl  group group-hover:bg-green2 bg-blue3 ">

                                    </div>

                                    <div class=" rounded-xl  h-14 w-14 pl-1.5 pt-0.5 ">
                                        <div class="  bg-gray-400 h-11 w-11 rounded-xl mt-1">
                                        </div>
                                    </div>

                                    <div class="-mt-1.5  w-60">
                                        <p class=" text-gray-900 font-extrabold tracking-tight text-sm mt-1">{{opportunity.name}}</p>
                                        <div class="flex items-baseline">
                                            <h2 class="text-sm font-extrabold  w-14">Email :</h2>  
                                            
                                        </div>
                                        <p class=" text-gray-500  text-sm  ">{{opportunity.email}}</p> 
                                    
                                    </div> 

                                    <div class="mt-2 -ml-4 text-left w-16  ">
                                        <p class=" text-sm text-gray-500 font-medium group-hover:text-gray-900 ">{{opportunity.product.name}}</p>                                
                                    </div> 

                                </div>
                                

                                <div class="flex-auto mt-3 text-center">
                                    <p class=" text-sm h-8 w-28 text-yellow-600 font-medium bg-yellow-10 rounded-xl group-hover:text-gray-900  pt-1.5"
                                    :class="[{'bg-green-100 text-green-600': opportunity.status == 'Abierta' ,
                                            'bg-yellow-100 text-yellow-600': opportunity.status == 'En revisión',
                                            'bg-red-100 text-red-600': opportunity.status == 'Cerrada',
                                        }]"
                                    
                                    >{{opportunity.status}}</p>                                
                                </div>

                                <div class="flex-auto  mt-3 text-center">
                                    <div >
                                        <inertia-link  :href="route('opportunities.edit', opportunity.id  )">
                                        <p class=" text-sm h-8 w-28 text-white font-medium bg-blue3  rounded-xl group-hover:text-white group-hover:bg-blue2 pt-1.5">Ver oportunidad </p>  
                                        </inertia-link>
                                    </div>
                                                                
                                </div>

                                <div class="flex-auto text-left ">
                                    <div >
                                    <div >
                                        {{date_format(opportunity.created_at)}}
                                    </div>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>

                        <!--pagination component-->
                        <!-- <div class="flex justify-center self-end pt-10">
                            <div class="   self-end ">
                                <ul class="flex ">
                                    <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-500 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                        <a class="flex items-center font-bold" href="#">
                                            <span class="mx-1 ">  Anterior </span>
                                        </a>
                                    </li>
                                    <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                        <a class="font-bold" href="#">1</a>
                                    </li>
                                    <li class="mx-1 px-3 py-2 bg-gray-400 text-white hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                        <a class="font-bold" href="#">2</a>
                                    </li>
                                    <li class="mx-1 px-3 py-2 bg-gray-200  text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                        <a class="font-bold" href="#">3</a>
                                    </li>
                                    <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                        <a class="font-bold" href="#">4</a>
                                    </li>
                                    <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                        <a class="font-bold" href="#">5</a>
                                    </li>
                                    <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-gray-700 hover:text-gray-200 rounded-lg">
                                        <a class="flex items-center font-bold" href="#">
                                            <span class="mx-1"> Siguiente </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                         <!--pagination component-->
                                        
                    </div>
                    <!-- contenido dashboard -->



                </div>

            </div>     

        </div>
 
    </body>

</template>

<script>
    import dots_icon from "../../../../public/images/dots.png"
    import az_icon from "../../../../public/images/azfiltro.png"
    import filter_icon from "../../../../public/images/filtro.png"

    import Sidenav from '@/Layouts/Sidenav.vue'
    import DropdownProfile from '@/Layouts/DropdownProfile.vue'
    import Messages from '../../Pages/Messages/miniContainer.vue'
    import AdminLayout from '@/Layouts/AdminLayout'

    import Orders from '@/Layouts/DashboardRol1/Orders.vue'
    import Demands from '@/Layouts/DashboardRol1/Demands.vue'
    import Purchased from '@/Layouts/DashboardRol1/Purshased.vue'
    import DashboardNav from '@/Layouts/DashboardRol1/DashboardNav.vue'
    import OrderForm from '@/Layouts/OrderForm'
    import QuotationForm from '@/Layouts/QuotationForm.vue'
    
    import UploadDocs from '@/Layouts/UploadDocs'
    import maleta from "@/Pages/Utilities/Vectors/Maleta.png"
    import flecha from "@/Pages/Utilities/Vectors/Flecha.png"
    import lines from "@/Pages/Utilities/Vectors/Lines.png"
    import flechas from "@/Pages/Utilities/Vectors/Flechas.png"
    import PersonaB from "@/Pages/Utilities/Vectors/PersonaB.png"
    import notas from "@/Pages/Utilities/Vectors/Notas.png"
    import basura from "@/Pages/Utilities/Vectors/Basura.png"
    import Upload_icon from "../../../../public/images/UploadIcon.png"
    import moment from 'moment'


    export default {

        components: {
                       
            Sidenav,
            DropdownProfile,
            Messages,
            AdminLayout,
            
            Demands,
            Orders,
            Purchased,
            DashboardNav,
            OrderForm,
              
            QuotationForm,

            UploadDocs,

        
            
        },
        
        props: {
            Opportunities: Array,
            products: Array,
            Orders: Array,
            opportunities: Array,
        },

       data () {// esta funcion devuelve el objeto
        return {
                           
            dots_icon: dots_icon,
            az_icon: az_icon,
            filter_icon: filter_icon,
            
            maleta: maleta,
            lines: lines ,
            flecha: flecha,
            flechas: flechas,
            PersonaB: PersonaB,
            notas: notas,
            basura: basura,

            cargarcomponente: 0,
            
            form: {
                name:  '',
                email:  '',
                customer_phone: '',
                subject: '',
                message: '',

                
            description :'',
            media_upload : '',
            Upload_icon: Upload_icon,
            }
                       
        }
        },


        mounted() {
                        // open
            const burger = document.querySelectorAll('.navbar-burger');
            const menu = document.querySelectorAll('.navbar-menu');

            if (burger.length && menu.length) {
                
                for (var i = 0; i < burger.length; i++) {
                    burger[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            // close
            const close = document.querySelectorAll('.navbar-close');
            const backdrop = document.querySelectorAll('.navbar-backdrop');

            if (close.length) {
                console.log('asdasd')
                for (var i = 0; i < close.length; i++) {
                    close[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }

            if (backdrop.length) {
                for (var i = 0; i < backdrop.length; i++) {
                    backdrop[i].addEventListener('click', function() {
                        for (var j = 0; j < menu.length; j++) {
                            menu[j].classList.toggle('hidden');
                        }
                    });
                }
            }
                                
                                
        },
    
       methods: {
           date_format(date){
                return moment(date).format("YYYY-MM-DD");
            },
           set_0(){
               this.cargarcomponente=0
           },
              set_1(){
               this.cargarcomponente=1
           },
              set_2(){
               this.cargarcomponente=2
           }
       }    
    }

</script>

<style>
     .tab {
            overflow: hidden;
            }
            .tab-content {
            max-height: 0;
            transition: all 0.5s;
            }
            input:checked + .tab-label .test {
                background-color: #000;
            }
            input:checked + .tab-label .test svg {
                transform: rotate(180deg);
                stroke: #fff;
            }
            input:checked + .tab-label::after {
            transform: rotate(90deg);
            }
            input:checked ~ .tab-content {
            max-height: 100vh;
            }

#ventas{
    height: 650px;
}
</style>