<template>
  <div v-if="$page.props.flash.status" class="bg-blue-500 text-white text-sm font-bold p-4">
                     <p>{{ $page.props.flash.status }}</p>
    
  </div>
  <PdfForm :orderQuotation= "orderQuotation"></PdfForm>
</template>

<script>
import PdfForm from '@/Layouts/PdfForm.vue'
export default {
    props: {
      orderQuotation: Object, 
    },
    components: {
        PdfForm,

    }

}
</script>

<style>

</style>