<template>
      <body>
      
        <div class="  items-stretch" >
            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed  ">

                <div class="w-56 ">
                    <Sidenav/>   
                </div> 
            

                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>
                </div>
              
                <div class="flex-grow  px-12  h-screen py-6 articles-config" >

                    <div class="flex justify-between items-center ">

                        <div class="flex">
                            <h1 class="primary-text text-2xl">Carga de Comprobantes de pago</h1>
                        </div>
                    
                        <div class="flex ">
                            <div class="justify-items-end">             
                                        <admin-layout>
                                        </admin-layout> 
                            </div>                              
                        </div>
                    </div>

                    <!-- contenido dashboard -->
                    <div class=" bg-white rounded-xl  my-6 h-5/6 overflow-auto">
                                
                        <UploadDocsValidatePayment :form="form" :order="order"></UploadDocsValidatePayment>
         
                    </div>
                    <!-- contenido dashboard -->



                </div>

            </div>     

        </div>

    </body>  
</template>



           
<style >

.intro-message{
font-family: Secular One;
font-style: normal;
font-weight: normal;
line-height: 80px;
/* or 111% */

letter-spacing: -3px;

color: #333333;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}


.snap-x {
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: end;
}

 .centrado{
		    margin:10px auto;
		    display:block;
    }

    hr, .hrcolor {
   height: 1px;
   border: 0;
   color: #666;
   background-color: #000;
}

 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }

.has-mask {
		position: absolute;
		clip: rect(10px, 150px, 130px, 10px);
	}

</style>
<script>

    
    import Sidenav from '@/Layouts/Sidenav.vue'
    import AdminLayout from '@/Layouts/AdminLayout'
    import DownloadR1 from '@/Layouts/DownloadR1.vue'
    import UploadDocsValidatePayment from '@/Layouts/UploadDocsValidatePayment'
    import Messages from '../Messages/miniContainer.vue'

    import maleta from '@/Pages/Utilities/Vectors/Maleta.png'
    import lines from '@/Pages/Utilities/Vectors/Lines.png'
    import flecha from '@/Pages/Utilities/Vectors/Flecha.png'
    import flechas from '@/Pages/Utilities/Vectors/Flechas.png'
    import PersonaB from '@/Pages/Utilities/Vectors/PersonaB.png'
    import notas from '@/Pages/Utilities/Vectors/Notas.png'
    import basura from '@/Pages/Utilities/Vectors/Basura.png'
    
    import Upload_icon from '../../../../public/images/UploadIcon.png'
    
    

    export default {
       
        components: {
                       
            Sidenav,
            DownloadR1,
            UploadDocsValidatePayment,
            Messages,
            AdminLayout,
            
            
            
        },
        data () {// esta funcion devuelve el objeto
        return {
            
            maleta: maleta,
            lines: lines ,
            flecha: flecha,
            flechas: flechas,
            PersonaB: PersonaB,
            notas: notas,
            basura: basura,
            form : { 
            description : this.description,
            media_upload : '',
            Upload_icon: Upload_icon,
        }
        
        
        
        }
      },
      
      props: {
            order:Object,
            description : String,
      },
      methods : {
            
        },
      computed: {
        /**
         * funcion para filtrar categorias de productos
         */
       
        

    },

           mounted() {

            // open
                const burger = document.querySelectorAll('.navbar-burger');
                const menu = document.querySelectorAll('.navbar-menu');

                if (burger.length && menu.length) {
                    
                    for (var i = 0; i < burger.length; i++) {
                        burger[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                // close
                const close = document.querySelectorAll('.navbar-close');
                const backdrop = document.querySelectorAll('.navbar-backdrop');

                if (close.length) {
                    console.log('asdasd')
                    for (var i = 0; i < close.length; i++) {
                        close[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }

                if (backdrop.length) {
                    for (var i = 0; i < backdrop.length; i++) {
                        backdrop[i].addEventListener('click', function() {
                            for (var j = 0; j < menu.length; j++) {
                                menu[j].classList.toggle('hidden');
                            }
                        });
                    }
                }
                       
                    
},
        
}
        
        
        
        
    
    
       
            
       
    
</script>
