<template>

<!--virtual office nav content-->
    <div class="flex flex-row justify-between gap-4 w-auto  ">
                      
 <!-- primer tarjeta-->
        <div class="flex bg-blue3  w-52  h-20  rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente2==1 ? 'bg-blue2':'' ">
           <button @click="set_1" class="focus:outline-none">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Ordenes abiertas</p>
                        </div>
                    </div>
                </div>
           </button>          
        </div>    
<!-- primer tarjeta-->    

<!-- segunda tarjeta-->
        <div class="flex bg-blue3  w-52 h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente2==2 ? 'bg-blue2':'' ">
           <button @click="set_2" class="focus:outline-none">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Ordenes en Gestión</p>
                        </div>
                    </div>
                </div>
           </button>          
        </div>   
<!-- segunda tarjeta-->

<!-- tercera tarjeta-->
        <div class="flex bg-blue3  w-52 h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente2==3 ? 'bg-blue2':'' ">
           <button @click="set_3" class="focus:outline-none">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Ordenes en espera</p>
                        </div>
                    </div>
                </div>
           </button>          
        </div>   
<!-- tercera tarjeta-->

<!-- cuarta tarjeta-->
        <div class="flex bg-blue3  w-52 h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente2==4 ? 'bg-blue2':'' ">
           <button @click="set_4" class="focus:outline-none">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Ordenes aprobadas</p>
                        </div>
                    </div>
                </div>
           </button>          
        </div>   
<!-- cuarta tarjeta-->

<!-- quinta tarjeta-->
        <div class="flex bg-blue3  w-52  h-20 rounded-xl pl-10 hover:bg-blue2 " :class="cargarcomponente2==5 ? 'bg-blue2':'' ">
           <button @click="set_5" class="focus:outline-none">
                <div class="flex">
                    <div class="my-2">
                        <div class="flex ">
                            <img :src="Demand_icon" alt="icono solicitudes" class=" flex auto mx-auto mt-1 h-5 w-4">
                            <p class="text-white text-lg  flex-auto px-2 pb-1">Ordenes terminadas</p>
                        </div>
                    </div>
                </div>
           </button>          
        </div>    
<!-- quinta tarjeta-->                       
  
    </div>
<!--virtual office nav content-->

</template>

<script>
import Demand_icon from "../../../../public/images/solicitudes.png"
export default {

       data () {// esta funcion devuelve el objeto
        return {
            
            Demand_icon: Demand_icon,     

        }
       },

       methods:{

           set_0(){
            this.$emit ('set_0')
           },
           set_1(){
            this.$emit ('set_1')
           },
           set_2(){
            this.$emit ('set_2')
           },
            set_3(){
            this.$emit ('set_3')
           },
            set_4(){
            this.$emit ('set_4')
           },
            set_5(){
            this.$emit ('set_5')
           },

       },

       props: {

        cargarcomponente2:Number

       }
             
}
</script>

<style>

</style>