<template>
    <div class="m-10 bg-white">
        <table class="grid grid-row gap-y-6 gap-x-10">
            <tr v-for="Item in Inventory" :key="Item.id" class="articles-config rounded-2xl flex justify-between items-center">
                <td class="px-4 py-2 w-52 h-28 rounded-xl shadow-xl bg-gray-200">
                    <img v-if="Item.media_storage.length > 0" class="object-contain h-24 w-full " :src="Item.media_storage[0].nameUrl" >
                </td>
                <td class="px-4 py-2 w-1/5 uppercase primary-text">{{Item.name}}</td>
                <td class="w-2/5 px-4 py-2 secundary-text">{{setToValue(Item.price)}}</td>
                <td class="px-12 py-2">
                    <inertia-link :href="route('inventory.show', Item.id)"> 
                        <img v-bind:src="Delete_icon" alt="imagen ver cursos" />
                        <p class="text-center primary-text">ver</p>
                    </inertia-link>
                </td>
                <td class="px-12 py-2">
                    <inertia-link :href="route('inventory.edit', Item.id)">
                        <img
                            v-bind:src="Edit_icon"
                            alt="imagen editar cursos"
                        />
                        <p class="primary-text -mx-2">editar</p>
                    </inertia-link>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import Edit_icon from '../../../../public/images/Edit1.png'
    import Delete_icon from '../../../../public/images/Delete1.png'
    export default {
        
        props: {
            Inventory: Array
        },

        data(){
            return{
                Edit_icon : Edit_icon,
                Delete_icon : Delete_icon,
                Inventory: this.Inventory,
            }
        },
        methods: {
            setToValue(number){
                return (number).toLocaleString(undefined, {
                style: 'currency',
                currency: 'COP',
                });
            }
        }
    };
</script>

<style></style>
