<template>
    <body>
        <div class=" flex items-stretch ">
            <div class="flex  flex-row  h-screen w-screen mx-1 mb-1 fixed  ">
                <div class="w-56 ">
                    <Sidenav/>   
                </div>
                <div class="flex shadow-xl ">
                    <div class="w-auto ">
                        <nav class="abosolute px-4 py-4 flex justify-between items-center bg-white">
                    
                            <div class="relative">
                                <button class="navbar-burger flex items-center text-blue3  pt-8 px-1  focus:outline-none ">
                                <svg class="block h-5  w-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                                </button>
                            </div>
                        </nav>
                    </div>
                
                    <div class="navbar-menu hidden  ">

                        <div class="navbar-backdrop  inset-0 bg-gray-800 opacity-25"></div>

                        <nav class=" top-0 left-0   bottom-0 flex flex-col pl-1 pr-2  bg-white border-r overflow-auto h-auto w-screen md:w-auto lg:w-auto xl:w-auto 2xl:w-auto ">

                            <div class="flex flex-row justify-between">
                                <div class="flex">
                                    <h1 class=" m-4 pt-7 primary-text text-xl">NOTIFICACIONES</h1>
                                </div>
                    
                                <div align="right" class=" pt-7 flex">
                                    <button class="navbar-close">
                                        
                                        <svg class="h-6 w-6 text-blue3  cursor-pointer hover:text-green2 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                    
                            <div class="pl-7 pt-10 ">
                                <h1 class=" primary-text  font-extrabold  text-xl ">Mensajes</h1>
                                <p class="text-gray-500">Tu último historial de chat</p>
                            </div>

                            <Messages/>

                        </nav>

                    </div>

                </div>
      
                <div class="flex-grow articles-config px-12 py-6">

                    <div class="flex justify-between items-center bg-gary-100">
                        <div class="flex">
                            <div class="relative text-gray-600">
                                <input
                                    type="text"
                                    name="search"
                                    placeholder="Buscar"
                                    class="
                                        bg-gray-100
                                        h-12
                                        w-96
                                        px-5
                                        pr-10
                                        rounded-xl
                                        text-sm
                                        focus:outline-none
                                        focus:border-transparent
                                        focus:border-8
                                        focus:ring-gray-500
                                    "
                                />
                                <button
                                    type="submit"
                                    class="
                                        absolute
                                        right-0
                                        top-0
                                        mt-3
                                        mr-4
                                        focus:outline-none
                                        focus:border-transparent
                                    "
                                >
                                    <svg
                                        class="h-4 w-4 fill-current mt-1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1"
                                        id="Capa_1"
                                        x="0px"
                                        y="0px"
                                        viewBox="0 0 56.966 56.966"
                                        style="
                                            enable-background: new 0 0 56.966
                                                56.966;
                                        "
                                        xml:space="preserve"
                                        width="512px"
                                        height="512px"
                                    >
                                        <path
                                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="justify-items-end">
                                <admin-layout> </admin-layout>
                            </div>
                        </div>
                    </div>

                    <!-- contenido dashboard -->
                    <div class="px-6 text-center">
                        <h3 class="primary-text text-2xl uppercase">
                            Todos los productos de su inventario aqui
                        </h3>
                    </div>

                    <div class="rounded-xl my-6 h-5/6 overflow-auto">
                        <div class="flex flex-col bg-white rounded-xl">
                            <div class="mx-5 my-1">
                                <h2
                                    class="
                                        font-semibold
                                        text-base text-gray-400
                                        leading-tight
                                    "
                                >
                                    Inventario
                                </h2>
                            </div>
                            <div
                                class="
                                    grid grid-cols-4
                                    gap-10
                                    m-4
                                    p-4
                                    justify-between
                                "
                            >
                                <inventoryCard :Inventory="Inventory">
                                </inventoryCard>
                            </div>
                            <!-- tarjetas repetidas solo para ejemplo-->
                        </div>
                    </div>
                    <!-- contenido dashboard -->

                </div>            
            </div>
        </div>    
    </body>
</template>

<script>
import AdminLayout from "@/Layouts/AdminLayout";
import Sidenav from "@/Layouts/Sidenav.vue";
import DropdownProfile from "@/Layouts/DropdownProfile.vue";
import inventoryCard from "@/Pages/Inventory/InventoryCard";
import Messages from "@/Pages/Messages/miniContainer.vue";

export default {
    components: {
        AdminLayout,
        Sidenav,
        DropdownProfile,
        inventoryCard,
        Messages,
    },

    props: {
        inventory: Array,
    },

    data() {
        // esta funcion devuelve el objeto
        return {
            Inventory: this.inventory,
        };
    },

    mounted() {
        // open
        const burger = document.querySelectorAll(".navbar-burger");
        const menu = document.querySelectorAll(".navbar-menu");

        if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
                burger[i].addEventListener("click", function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle("hidden");
                    }
                });
            }
        }

        // close
        const close = document.querySelectorAll(".navbar-close");
        const backdrop = document.querySelectorAll(".navbar-backdrop");

        if (close.length) {
            console.log("asdasd");
            for (var i = 0; i < close.length; i++) {
                close[i].addEventListener("click", function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle("hidden");
                    }
                });
            }
        }

        if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
                backdrop[i].addEventListener("click", function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle("hidden");
                    }
                });
            }
        }
    },
};
</script>

<style>
.tab {
    overflow: hidden;
}
.tab-content {
    max-height: 0;
    transition: all 0.5s;
}
input:checked + .tab-label .test {
    background-color: #000;
}
input:checked + .tab-label .test svg {
    transform: rotate(180deg);
    stroke: #fff;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
}
</style>
