 <template>
                                   
    <div v-for="Item in Inventory" :key="Item.id" class=" grid  rounded-3xl articles-config  shadow-xl">
        <div class="pb-6 "> 
            <img class="rounded-3xl  shadow-sm " v-bind:src="Item.media_storage.nameUrl" alt="imagen inventario" > 
        </div>
        <div class="text-center"> 
            <h4 class="primary-text text-xl p-1">{{Item.name}}</h4>
            <p class="secundary-text text-lg p-1">{{Item.abstract}}</p>
            <p class="primary-text text-2xl p-2">{{setToValue(Item.price)}}</p>
            <div class="p-4">
                <inertia-link :href="route('inventory.show', Item.id)" class= "box-content h-3 w-40 ">                   
                    <button 
                            class="bg-gradient-to-r from-green2 
                                    border-none to-green3 text-white rounded-xl 
                                    py-2 px-11 "  
                            type="button"
                               >
                         Ver mas
                    </button>
                </inertia-link>
            </div>
        </div>
    </div>
    
</template>

<script>

    import Inventario_image from '../../../../public/images/inventario.png'
    export default {

        props: {
            Inventory: Array
        },
        data () {// esta funcion devuelve el objeto
        return {

        Inventario_image : Inventario_image,
        Inventory: this.Inventory,
 
        }
        },
        mounted() { 

        },
        methods: {
            setToValue(number){
                return (number).toLocaleString(undefined, {
                style: 'currency',
                currency: 'COP',
                });
            }
        }
    }
</script>
