<template>
    <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-white ">
        <div>
            <slot name="logo" />
        </div>

        <div class="w-full sm:max-w-md m-6 p-12 bg-gray-100  shadow-md overflow-hidden sm:rounded-lg">
            <slot />
        </div>
    </div>
</template>
