<template>
    <button :type="type" class="inline-flex items-center px-4 py-2 bg-gradient-to-r from-green2     border-none   to-green3  border border-transparent rounded-md font-semibold
     text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900  disabled:opacity-25 transition">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                default: 'submit',
            },
        }
    }
</script>
