<template>
    <div class="flex  flex-col ">

        <div class="mx-6  px-10   flex flex-row">
            <div>
                <p class="text-2xl mt-7">Aprobación de Ordenes</p>
            </div>                     
        </div> 

        <div class="flex-col flex-autom2 mx-10 px-6 pt-8">
            <div class="flex-row my-3  py-3  " >
                <button class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-center text-gray-400" >
                nombre del producto
                </button>
            </div>
        </div>

    Información del cliente
    <hr>
    <!-- Información del cliente -->

        <div class=" flex gap-10  mx-10 px-6 items-baseline ">

            <div class="flex-col flex-auto my-5 py-5">

            <div class="flex-col flex-auto  ">
                <div class="flex-row  " >
                    <button type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                    hover:bg-gray-800 transition duration-200 each-in-out ">Descargar documentos
                    </button>
                </div>
            </div>

            </div>

            <div class="flex-col flex-auto my-5 py-5 text-right " >

                 <div class="flex-row  " >
                    <button type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                    hover:bg-gray-800 transition duration-200 each-in-out ">Ir a aprobar o emitir
                    </button>
                </div>

            </div>



        </div>
                    
    <!-- Datos del cliente -->
    Documentación Aprobación
    <hr>
    <!-- seleccion del producto -->
        <div class=" flex gap-10 mx-4 p-10 ">

            <div class="flex flex-auto text-left">
                <div class="flex-row mt-3  pt-3  " >
                    <button type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                    hover:bg-gray-800 transition duration-200 each-in-out ">Cargar documentos de Aprobación
                    </button>
                </div>
            </div>

            <div class="flex flex-auto text-left">
                <div class="flex-row mb-3 pb-3">
                    <p class="my-1 py-1">Ingrese numero de seguimiento</p>
                    <input type="text" name="track number" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Numero de seguimiento">
                </div>
            </div>

            <div class="flex flex-auto text-left">
                <div class="flex-row mb-3 pb-3">
                    <p class="my-1 py-1">Ingrese link de pago</p>
                    <input type="text" name="pay link" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="link de pago">
                </div>
            </div>

            <div class="flex flex-auto text-right  ">
                <div class="flex-col flex-auto  ">
                    <div class="flex-row mt-16   pt-16 ml-14  pl-14 " >
                        <button type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                        hover:bg-gray-800 transition duration-200 each-in-out ">Emitir o aprobar
                        </button>
                    </div>
                </div>
            </div>

        </div>

    <!-- seleccion del producto -->
    
    </div>
</template>

<script>
import Button from '../Jetstream/Button.vue'
export default {
  components: { Button },
}
</script>

<style>

 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }

</style>