<template>
  <div class="rounded-xl  mx-10 px-6  ">
      <table class="justify-center  table-auto rounded-xl " align="center" >
        <thead >

          <tr class=" rounded-xl flex flex-row items-center  my-3 py-3 gap-10 align-middle  ">
            
            <th class=" flex flex-auto w-10  items-center justify-center">
              <span class="text-gray-700"></span>
            </th>
            <th class=" flex flex-auto w-10  items-center justify-center" >
              <span class="text-gray-700"></span>
            </th>
            <th  class=" flex flex-auto w-80  items-center justify-center  ">
              <span class="text-gray-700 ">Nombre del archivo</span>
            </th>
            <th class=" flex flex-auto w-40  items-center justify-center" >
              <span class="text-gray-700 ">Producto</span>
            </th>
            <th class=" flex flex-auto w-40  items-center justify-center" >
              <span class="text-gray-700 ">Proovedor</span>
            </th>
            <th class=" flex flex-auto w-40  items-center justify-center">
              <span class="text-gray-700 ">descargar</span>
            </th>

            
          </tr>
        </thead>
        <tbody class="items-center ">

          <tr v-for="storage in mediaStorage" :key="storage.id" class="articles-config  rounded-xl flex flex-row items-center m-4 p-2 justify-between align-middle">

            <td class=" flex flex-auto w-10  items-center justify-center">
              <input type="checkbox" >
            </td>

            <td class=" flex flex-auto w-10 items-center justify-center">
              <img
                class="h-8 w-8 rounded-full object-cover "
                :src="pdf_icon"
                alt=""
              />
            </td>

            <td class="flex flex-auto w-80 justify-center">
              <div class="text-center ml-2 font-semibold">{{storage.description}}</div>
            </td>

            <td class="flex flex-auto w-40 justify-center ">
              <div class="text-center">{{form_[0].product.name}}</div>
            </td>

            <td class="flex flex-auto w-40 justify-center">
              <div class="text-center">{{form_[0].provider.name}}</div>
            </td>

            <td class="flex flex-auto w-40 justify-center">
                <div class="text-center">
                  <a :href="route('downloadFile', storage.id)" >
                      <button  class=" bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white rounded-xl">
                        Descargar
                    </button>
                  </a>
                    
                </div>
            </td>
            
          </tr>
          
          
        </tbody>
      </table>
    </div>
</template>

<script>
export default {
    data() {
        return {

            pdf_icon: 'https://image.flaticon.com/icons/png/512/136/136522.png',
        }

    },
     props: {
          mediaStorage: Array,
          forms: Array,
          form_:Object

          
      },
    computed: {
        
        productAndProvider(){

           
            const { forms} = this;
            return forms.filter(form=> 
               form.id == this.mediaStorage[0].pivot.form_id
             
            )
        
        },
        },
    
    


}
</script>

<style>

</style>