
<template>
    
    <button  @click="open= !open"   id="dropdown"  class=" flex items-center p-5 -mx-5   h-14 w-1 border border-transparent  rounded-md text-gray-500 bg-white hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:bg-gray-50 active:bg-gray-50  ">
                            
        <div clas="flex flex-col  "  ><!--dots component-->
            <div id="dropdown" class="bg-gray-500 h-1 w-1 rounded-full mt-5 mb-0.5"></div>
            <div id="dropdown" class="bg-gray-500 h-1 w-1 rounded-full mb-0.5"></div>
            <div id="dropdown" class="bg-gray-500 h-1 w-1 rounded-full mb-5"></div>                        
        </div><!-- end dots component-->
    </button>
    
    <div v-show='open'  id="dropdown" class="absolute mt-12 w-64 bg-white border-t border-gray-300">
        <p id="dropdown" class="block border-b border-gray-300">Cuenta</p>
        
        <inertia-link class="block border-b border-gray-300 hover:bg-gray-400" href="">Perfil</inertia-link>
        <inertia-link @click="logout" class="block border-b border-gray-300 hover:bg-gray-400" href="">Log Out</inertia-link>
        
    </div>
                    
</template>
<script>
    import { onMounted, onUnmounted, ref } from 'vue'
    
    

   
    
   
export default {
    methods: {
        logout() {
                this.$inertia.post(route('logout'));
            },
    },
    
       
    setup() {
            let open = ref(false)
            
            
            const closeOnEscape = (e) => {
                if (open.value && e.keyCode === 27) {
                    open.value = false
                    console.log('cerre')
                }

                
                
            }
          
            document.addEventListener("click", function(e){
                if (e.target.id !== 'dropdown' )
                open.value = false
            })
            //$(event.target).hasClass('konbo');
            //event.target.className
            onMounted(() => document.addEventListener('keydown', closeOnEscape))
           
            onUnmounted(() => document.removeEventListener('keydown', closeOnEscape))
            
            return {
                open,
            }
        },
}
</script>