<template>
  <footer class="page-config p-20 items-baseline ">
            <div class="pb-16 grid grid-cols-4 gap-6">
                <div>
                     <inertia-link href="/">
                        <img class=" h-40" v-bind:src="logo1_image" alt="Broker" > 
                    </inertia-link>
                    
                </div>
                <div>
                        <p class="primary-text text-large">MENU</p>
                        <ul class="text-white pt-6 secundary-text">Nosotros</ul>
                        <a href="#seguros-page"><ul class="text-white secudary-text pt-2 text-base">Seguros</ul></a>
                        <ul class="text-white secudary-text pt-2 text-base">Productos Financieros</ul>
                        <a href="#contacts-form"><ul class="text-white secudary-text pt-2 text-base">Contacto</ul> </a>     
                </div>
                <div class="grid grid-cols-2">
                     <div>
                        <p class="primary-text text-large">SEGUROS</p>
                        <ul class="text-white pt-6 secundary-text text-base">Seguros Para Vehiculos</ul>
                        <ul class="text-white secudary-text pt-2 text-base">Seguros de Vida</ul>
                        <ul class="text-white secudary-text pt-2 text-base">Seguros Personales</ul>
                        <ul class="text-white secudary-text pt-2 text-base">Seguros para el Hogar</ul>
                     </div>
                     <div>
                         <p class="primary-text text-large">PRODUCTOS FINANCIEROS</p>
                        <ul class="text-white pt-6 secundary-text text-base">Creditos libre inversion</ul>
                        <ul class="text-white secudary-text pt-2 text-base">Credito vehiculos</ul>
                        <ul class="text-white secudary-text pt-2 text-base">Tarjetas de credito</ul>
                        <ul class="text-white secudary-text pt-2 text-base">CDT</ul>
                    </div>          
                </div>
                <div class="grid grid-cols-3  content-center px-20">
                    <div class="rounded-full bg-white h-10 w-10 justify-self-center">
                            <img class="centrado"  v-bind:src="facebook_icon" alt="icono de facebook" > 
                    </div>
                    <div class="rounded-full bg-white h-10 w-10 justify-self-center">
                            <img class="centrado"  v-bind:src="instagram_icon" alt="icono de instagram" > 
                    </div>
                     <div class="rounded-full bg-white h-10 w-10 justify-self-center">
                            <img class="centrado"  v-bind:src="twitter_icon" alt="icono de twitter" > 
                    </div>
                </div>
            </div>
             <hr size="1px"  align="center" color="black">
            <div class="grid grid-cols-3 pt-14 text-white">
                <div>Copyright © 2021</div>
                <div>politicas de privacidad</div>
                <div>terminos de uso</div>
            </div>
        </footer> 
</template>

<script>
export default {
    props:{
        
        logo1_image: String,
        facebook_icon: String,
        instagram_icon: String,
        twitter_icon: String,
    }

}
</script>

<style>

</style>