<template>
  <!-- HEADER COMPONENT -->
        <header class="articles-config flex  justify-between ">
            <div class="flex items-center ">
                <div class="flex items-center ">
                    <inertia-link href="/">
                        <img class="h-28 " v-bind:src="logo_image" alt="Broker"  > 
                    </inertia-link>
                    
                </div>
                <div class="  hidden md:ml-20 space-x-16 sm:-my-px sm:ml-10 sm:flex ">

                    <jet-nav-link class="font-asistant secundary-text text-gray-700" href="#" :active="route().current('dashboard')">
                        Nosotros
                    </jet-nav-link>
    
                    <nav-insurance  >
         
                        <template v-slot:Tittle >
                            Seguros
                        </template>

                        <template v-slot:Categories >
                            <!--category-->
                            <li v-for="category in seguros" :key="category.id" class="rounded-sm relative  hover:bg-gray-100 ">
                                <button class="w-full text-left flex items-center outline-none focus:outline-none">
                                    <span class="pr-1 flex-1 secundary-text">{{category.name}}</span>
                                    <span class="mr-auto">
                                    <svg class="fill-current h-4 w-4 transition duration-150 ease-in-out"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20">
                                        <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                                        />
                                    </svg>
                                    </span>
                                </button>
                                <ul
                                    class="bg-white border rounded-sm absolute top-0 right-0 
                            transition duration-150 ease-in-out origin-top-left
                            min-w-32
                            "
                                >
                                <div v-for="product in category.products" :key="product.id">
                                    <inertia-link  :href="route('productos', product.id)">
                                        <li  class=" hover:bg-gray-100 secundary-text">
                                        {{product.name}}
                                        </li>
                                    </inertia-link>
                                </div>
                                
                                
                                    
                                </ul>
                            </li>
                            
                        </template>
                    </nav-insurance>
                    
                    <nav-insurance  >
         
                        <template v-slot:Tittle >
                            Productos Financieros
                        </template>

                        <template v-slot:Categories >
                            <!--category-->
                            <li v-for="category in productosFinancieros" :key="category.id" class="rounded-sm relative  hover:bg-gray-100 ">
                                <button class="w-full text-left flex items-center outline-none focus:outline-none">
                                    <span class="pr-1 flex-1 secundary-text">{{category.name}}</span>
                                    <span class="mr-auto">
                                    <svg class="fill-current h-4 w-4 transition duration-150 ease-in-out"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20">
                                        <path
                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                                        />
                                    </svg>
                                    </span>
                                </button>
                                <ul
                                    class="bg-white border rounded-sm absolute top-0 right-0 
                            transition duration-150 ease-in-out origin-top-left
                            min-w-32
                            "
                                >
                                <div v-for="product in category.products" :key="product.id">
                                    <inertia-link  :href="route('productos', product.id)">
                                        <li  class=" hover:bg-gray-100 secundary-text">
                                        {{product.name}}
                                        </li>
                                    </inertia-link>
                                </div>
                                
                                
                                    
                                </ul>
                            </li>
                            
                        </template>
                    </nav-insurance>
                    <!-- <jet-nav-link class="font-asistant secundary-text text-gray-700" href="#" :active="route().current('courses.*')">
                        Productos Financieros
                    </jet-nav-link> -->

                    <jet-nav-link class="font-asistant secundary-text text-gray-700" href="#contacts-form"  :active="route().current('courses.*')">
                        Contacto
                    </jet-nav-link>

                    <!--
                        <div class="flex items-center justify-center ">
                        <div class=" relative inline-block text-left dropdown">
                            <span class="rounded-md shadow-sm"
                            ><button class="inline-flex justify-center w-full   text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800" 
                            type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                                <span>Options</span>
                                <svg class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button
                            ></span>
                            <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                            <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                                <div class="px-4 py-3">         
                                <p class="text-sm leading-5">Signed in as</p>
                                <p class="text-sm font-medium leading-5 text-gray-900 truncate">tom@example.com</p>
                                </div>
                                <div class="py-1">
                                <a href="javascript:void(0)" tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Account settings</a>
                                <a href="javascript:void(0)" tabindex="1" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Support</a>
                                <span role="menuitem" tabindex="-1" class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 cursor-not-allowed opacity-50" aria-disabled="true">New feature (soon)</span>
                                <a href="javascript:void(0)" tabindex="2" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem" >License</a></div>
                                <div class="py-1">
                                <a href="javascript:void(0)" tabindex="3" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Sign out</a></div>
                            </div>
                            </div>
                        </div>
                        </div>              
                    
                    -->
                    
                    
                </div>
    
            </div>

            <div class="flex items-center">
                <div>
                <inertia-link v-if="$page.props.loggedIn" :href= "route('dashboard')" class="bg-gradient-to-r from-green2     border-none   to-green3  py-2 px-11 text-white  rounded-xl mr-7">dashboard</inertia-link>
                <inertia-link v-else :href= "route('login')" class="bg-gradient-to-r from-green2     border-none   to-green3 py-2 px-11 text-white rounded-xl mr-7">login</inertia-link>
           
                </div>
            </div>

        </header>
</template>

<script>
import JetNavLink from '@/Jetstream/NavLink'
import NavInsurance from './NavInsurance.vue'

export default {
    data() {
        return{
        
        }
    },
   
    computed: {
        
        seguros(){
           
            const { categories} = this;
            return categories.filter(category=> 
               category.business_type == 1
            )


        },
        productosFinancieros(){
           
            const { categories} = this;
            return categories.filter(category=> 
               category.business_type == 2
            )


        },

    },
    components: {
        JetNavLink,
        NavInsurance,
        
    },
    
    props:{
      
        
        logo_image: String,
        products: Array,
        categories: Array,
    }

}
</script>

<style>
.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}
    </style>