<template>
  <!-- HEADER COMPONENT -->
        <div class="articles-config flex  justify-between ">
            <div class="flex items-center ">
                <div class="bg-gray-100">
                <div class="flex items-center ">
                    <inertia-link href="/">
                        <img class="h-28 " v-bind:src="logo_image" alt="Broker"  > 
                    </inertia-link>
                    <inertia-link href="/" class="">
                        <img class="h-28 " v-bind:src="logo_image" alt="Broker"  > 
                    </inertia-link>
                    
                </div>
                <div class="  hidden md:ml-20 space-x-16 sm:-my-px sm:ml-10 sm:flex ">

                    

                    <!--
                        <div class="flex items-center justify-center ">
                        <div class=" relative inline-block text-left dropdown">
                            <span class="rounded-md shadow-sm"
                            ><button class="inline-flex justify-center w-full   text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800" 
                            type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                                <span>Options</span>
                                <svg class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </button
                            ></span>
                            <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                            <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                                <div class="px-4 py-3">         
                                <p class="text-sm leading-5">Signed in as</p>
                                <p class="text-sm font-medium leading-5 text-gray-900 truncate">tom@example.com</p>
                                </div>
                                <div class="py-1">
                                <a href="javascript:void(0)" tabindex="0" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Account settings</a>
                                <a href="javascript:void(0)" tabindex="1" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Support</a>
                                <span role="menuitem" tabindex="-1" class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left text-gray-700 cursor-not-allowed opacity-50" aria-disabled="true">New feature (soon)</span>
                                <a href="javascript:void(0)" tabindex="2" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem" >License</a></div>
                                <div class="py-1">
                                <a href="javascript:void(0)" tabindex="3" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Sign out</a></div>
                            </div>
                            </div>
                        </div>
                        </div>              
                    
                    -->
                    
                    
                </div>
                </div>
    
            </div>

            

        </div>
</template>

<script>

export default {
    data() {
        return{
        
        }
    },
   
    
    components: {
        
    },
    
    props:{
      
        
        logo_image: String,
      
    }

}
</script>

<style>
.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}
    </style>

    