<template>
    <div class="group hover:bg-gray-500 flex flex-row w-80 bg-white rounded-xl  justify-start -ml-1 pl-5   mt-5 py-3    ">
        <div class=" inline-flex flex-row space-x-3">
            
        
            <div class="group-hover:bg-gray-300 rounded-xl  h-14 w-14 pl-1.5 pt-0.5 -ml-1">
                <div class="  bg-gray-400 h-11 w-11 rounded-xl mt-1">

                </div>
            </div>

            <div class="mt-1">
                <p class="group-hover:text-white text-gray-900 font-extrabold tracking-tight text-xs">Nichole Perkinsasd</p>
                <p class="group-hover:text-white text-gray-500 w-40 pr-2 text-xs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>

            </div> 
            <div class="mt-2 -space-y-1 ">
                <p class="group-hover:text-white text-xs text-gray-500">10m</p>
                <p class="group-hover:text-white text-3xl text-gray-500 ">...</p>
            </div>  
        </div>                 
        
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>