<template>
    <form  @submit.prevent="submit" >
        <div class="grid bg-white rounded-2xl shadow-xl w-11/12 md:w-9/12 lg:w-1/2 py-10 px-16">
            
            <div class="flex ">
                <div class="flex">
                    <h1 class="px-8  primary-text md:text-2xl text-xl">Ponerse en Contacto</h1>
                </div>
            </div>
            <div class=" grid grid-cols-1 mt-5 mx-7">
                
                <input v-model="form.name"  class="py-2 px-3 rounded-lg border-1 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800 focus:border-transparent" type="text" placeholder="Nombre" />
            </div>
            <!--<span>selected: {{ form.name }}</span>-->
            <div class=" grid grid-cols-1 mt-5 mx-7">
                
                <input v-model="form.email"  class="py-2 px-3 rounded-xl border-1 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800 focus:border-transparent" type="text" placeholder="Correo electronico" />
            </div>
            
            <div class="grid grid-cols-1 mt-5 mx-7">
                
                <input v-model="form.customer_phone"  class="py-2 px-3 rounded-xl border-1 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800 focus:border-transparent" type="text" placeholder="Celular" />
            </div>
            
            <div align="left" class="grid grid-cols-1 mt-5 mx-7">
                <slot name="options" >
                    <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Asunto</label>
                    <select  class="py-2 px-3 rounded-xl border-1  mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800 focus:border-transparent">
                   </select>
                </slot>
            </div>

            <div class="grid grid-cols-1 mt-5 mx-7">
                
                    <input v-model="form.message" class="py-2 px-3 rounded-xl border-1  mt-1 focus:outline-none focus:ring-2 focus:ring-blue-800  focus:border-transparent" type="text" placeholder="Mensaje" />
            </div>
            
            <div align="left" class="px-8 pt-14">
                
                <button  class=" bg-gradient-to-r from-green2     border-none   to-green3 px-10 py-2 text-white rounded-xl mr-7 focus:outline-none   " > contactanos</button>

            </div>

            

        </div>
    </form>

    
</template>
<script>
import Button from '@/Jetstream/Button.vue'
export default {
    components:{
        Button,
    },
    props: {
        form: Object
    },
    methods : {
        submit(){
            console.log('asdasds')
            this.$inertia.post(this.route('forms.store'),this.form)
            this.$emit('button-clicked')
        }
    }
}
</script>