<template>
  
    <body class="w-auto h-auto  mx-5 ">

        <div class="flex flex-col mb-2  ">
            <h2 class="font-semibold text-base  text-gray-500 leading-tight">
                Creación de Ordenes
            </h2>
        </div>
        <div class="mx-auto mb-2  ">
            <button @click="set_slide_1"  class="bg-gradient-to-r from-green2 focus:outline-none text-sm    w-40    to-green3   text-white rounded-lg p-2 " type="button">NUEVA ORDEN +</button>
        </div>
        

        <div class="justify-center flex ">
            <div class="flex  mt-8  gap-28  bg-blue3 h-0.5    items-center  ">
                <button @click="set_slide_1"  v-if="slide>=0  " class="w-7 h-7 flex-shrink-0  border-blue3  border-2    shadow-2xl focus:outline-none articles-config rounded-full flex justify-center items-center">
                <div v-if="slide>=1" class="border-blue3  bg-green2 text-white w-3 h-3 rounded-full"><p class="-mt-10 -ml-6 primary-text  ">Cliente</p></div></button>
                
                <button @click="set_slide_2" v-if="slide>=0  " class="w-7 h-7 flex-shrink-0  border-blue3  border-2 shadow-2xl focus:outline-none articles-config rounded-full flex justify-center items-center" >
                <div v-if="slide>=2" class="border-blue3  bg-green2 text-white w-3 h-3 rounded-full"><p class="-mt-10 -ml-6  primary-text  ">Cotización</p></div></button>

                <button @click="set_slide_3" v-if="slide>=0 " class="w-7  h-7 flex-shrink-0  border-blue3  border-2 shadow-2xl focus:outline-none articles-config rounded-full flex justify-center items-center" >
                <div v-if="slide>=3" class="border-blue3  bg-green2 text-white w-3 h-3 rounded-full"><p class="-mt-10 -ml-6 primary-text  ">Compra</p></div></button>

                <button @click="set_slide_4" v-if="slide>=0" class="w-7  h-7 flex-shrink-0  border-blue3  border-2 shadow-2xl focus:outline-none articles-config rounded-full flex justify-center items-center" >
                <div v-if="slide>=4" class="border-blue3  bg-green2 text-white w-3 h-3 rounded-full"><p class="-mt-10 -ml-6  primary-text  ">Aprobación</p></div></button>

                <button @click="set_slide_5" v-if="slide>=0" class="w-7  h-7 flex-shrink-0  border-blue3  border-2 shadow-2xl focus:outline-none articles-config rounded-full flex justify-center items-center" >
                <div v-if="slide>=5" class="border-blue3  bg-green2 text-white w-3 h-3 rounded-full"><p class="-mt-10 -ml-6  primary-text  ">Finalización</p></div></button>
            </div>  

        </div>

        <div class="m-2 p-2  flex flex-col ">

            <div class=" container mx-auto   overflow-x-auto snap-x ">                    
                <!-- primer slide -->  
                <div v-show="slide==1" class="articles-config  snap-start h-96  w-auto overflow-y-auto   m-2 p-2  rounded-xl" id="slide-1 ">
                    
                    <div  class="m-6  ">
                        <div class=" flex flex-row">
                            <h2 class="font-semibold text-base  leading-tight">
                                Datos del cliente 
                            </h2>
                        </div>
                        <hr>

                    <!-- Datos del cliente -->      
                        <div class=" flex flex-col">
                                                    
                            <div class="flex flex-row justify-between" >

                                <div class="">
                                    <p class="my-1 py-1">Nombre </p>
                                    <input v-model="name" type="text" name="Nombre" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Nombre">
                                </div>

                                <!-- <div class="" >
                                    <p class="my-1 py-1">Apellido</p>
                                    <input v-model="lastname" type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Apellidos">
                                </div> -->
                                
                                <div class=" " >
                                    <p class="my-1 py-1">Genero</p>
                                    <select v-model="form.gender" placeholder="asdas" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option value='' disabled selected>Genero</option> 
                                        <option value='Masculino'>Masculino</option>
                                        <option value='Femenino'>Femenino</option>
                                        <option value='Sin especificar'>Sin especificar</option>
                                    </select>
                                </div>

                                <div class="">
                                    <p class="my-1 py-1">Correo</p>
                                    <input v-model="form.email" type="email" name="email" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Correo">
                                </div>

                                <div class="">
                                    <p class="my-1 py-1">Teléfono </p>
                                    <input v-model="form.customer_phone" type="text" name="Número de teléfono " class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Número de teléfono">
                                </div>

                            </div>

                            <div class="flex flex-row justify-between"  >

                                <div class="flex-row 2xl:mt-0  2xl:pt-0 text-left " >
                                <p class="my-1 py-1">Dirección</p>
                                <input v-model="form.address" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Dirección" >
                                </div>

                                <div class="">
                                    <p class="my-1 py-1">Tipo de documento</p>
                                    <select v-model="form.id_type"  placeholder="Tipo de documento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option value='' disabled selected>Tipo de documento</option>
                                        
                                        <option value='CC'>Cédula de ciudadanía</option>
                                        <option value='TI'>Tarjeta de identidad</option>
                                        <option value='RC'>Registro civil</option>
                                        <option value='CE'>Cédula de extranjería</option>
                                        <option value='PA'>Pasaporte</option>

                                </select>
                                </div>

                                <div class="" >
                                <p class="my-1 py-1">Número de documento</p>
                                <input v-model="form.id_number" type="text" name="Número de documento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Documento" >
                                </div>

                                <div class="2xl:pr-3">
                                    <p class="my-1 2xl:-ml-0 py-1">Fecha de Nacimiento</p>
                                    <input v-model="form.date_of_birth" type="date" name="Fecha de Nacimiento" class="2xl:my-1 2xl:py-1 2xl:-ml-0 bg-gray-200 rounded-lg border-transparent text-center" >
                                </div>  
                                
                            </div>
                           
                            
                        </div>        
                    <!-- Datos del cliente -->

                    <!-- seleccion del producto -->
                        <div class="flex"> Seleccion del producto: {{form.quotation_title}} -  Oportunudad numero: {{oportunity_id}}</div>
                        <hr>

                        <div class=" flex flex-col">
                            <div class=" flex flex-row justify-between">

                            <div class="">
                                <div class=" ">
                                    <div class="  " >
                                    <select v-model="business_type"  class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option value="" disabled selected>Tipo de negocion</option>
                                        <option value="1">Seguros</option>
                                        <option value="2">Productos financieros</option>
                                        <option value="0">Otros</option>

                                </select>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="">
                                    <div class="" >
                                    <select v-model="product_category_id" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option value="" disabled selected>Categoria de producto</option>
                                        <option v-for="category in productCategory" :key="category.id" v-bind:value="category.id">
                                            {{category.name}}
                                        </option>

                                </select>
                                    </div>
                                </div>
                            </div>

                                <div class="">
                                <div class=" ">
                                    <div class=" " >
                                    <select v-model="form.product_id" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                        <option value="" disabled selected>Seleccion de producto </option>
                                        <option v-for="product in productsFiltered" :key="product.id" v-bind:value="product.id">
                                        {{product.name}}
                                        </option>
                                </select>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="">
                                <div class="">
                                    <div class=" " >
                                    <!-- <button @click.prevent="makeOpportunity" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">
                                        Crear Oportunidad 
                                    </button> -->
                                    <div class=""></div>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class=" " >
                                        <button v-if="this.order != null" @click.prevent="updateSubmit" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">Actualizar
                                        </button>
                                        <button  v-else-if="oportunity_id == '' " @click="storeSubmit"  type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                        hover:bg-gray-800 transition duration-200 each-in-out ">Crear orden y oportunidad
                                        </button>

                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    <!-- seleccion del producto -->
                    </div>
                
                </div>
                <!-- primer slide -->  

                <!-- segundo slide -->  
                <div v-show="slide==2" class="articles-config  snap-start h-96 w-auto overflow-y-auto  m-2 p-2  rounded-xl" id="slide-2"> 

                    <div class="m-6">
                    <!-- Encabezado de cotización -->
                        <div class=" flex flex-row justify-between">
                            <h2 class="font-semibold text-base  leading-tight">
                                Encabezado de la cotización
                            </h2>
                        </div>
                        <hr>
                    <!-- Encabezado de cotización -->

                    <!-- titulos de cotización -->
                        <div class="flex flex-row justify-between">

                            <div class="">
                                <p class="my-1 py-1">Valor 1 </p>
                                <input v-model="QuotationCardsForm.title_insurance_card_1"  type="text" name="Nombre" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Primer valor">
                            </div>

                            <div class="" >
                                <p class="my-1 py-1">Valor 2</p>
                                <input v-model="QuotationCardsForm.title_insurance_card_2" type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Segundo valor">
                            </div>

                            <div class=" " >
                                <p class="my-1 py-1">Valor 3</p>
                                <input v-model="QuotationCardsForm.title_insurance_card_3"  type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Tercer valor">
                            </div>

                            <div class="" >
                                <p class="my-1 py-1">Valor 4</p>
                                <input v-model="QuotationCardsForm.title_insurance_card_4"  type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Cuarto valor">
                            </div>

                            <div class="" >
                                <p class="my-1 py-1">Valor 5</p>
                                <input v-model="QuotationCardsForm.title_insurance_card_5" type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Quinto valor">
                            </div>
                            
                            

                        </div>

                        <div class="flex flex-row justify-between">

                            <div class="">
                                <p class="my-1 py-1">Dato 1</p>
                                <input v-model="QuotationCardsForm.description_insurance_card_1" type="email" name="email" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Primer dato">
                            </div>

                            <div class=" " >
                                <p class="my-1 py-1">Dato 2</p>
                                <input v-model="QuotationCardsForm.description_insurance_card_2" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Segundo dato" >
                            </div>
                                
                                
                            <div class=" " >
                                <p class="my-1 py-1">Dato 3</p>
                                <input v-model="QuotationCardsForm.description_insurance_card_3" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Tercer dato" >
                            </div>

                            <div class="" >
                                <p class="my-1 py-1">Dato 4</p>
                                <input v-model="QuotationCardsForm.description_insurance_card_4" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Cuarto dato" >
                            </div>

                            <div class="" >
                                <p class="my-1 py-1">Dato 5</p>
                                <input v-model="QuotationCardsForm.description_insurance_card_5" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Quinto dato" >
                            </div>

                        </div>

                        <div class=" flex flex-row justify-between">
                            <div class="">
                                <p class="my-1 py-1">Título de valor a asegurar o producto financiero</p>
                                <input v-model="QuotationCardsForm.title_value_insurance_card_1"  type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Título" >
                            </div>

                            <div class=" " >
                                <p class="my-1 py-1">Valor a asegurar o de producto financiero</p>
                                <input v-model="QuotationCardsForm.insured_value" type="text" name="Número de documento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Valor" >
                            </div>

                            
                            <div class=" " >
                                <button  @click="updateOrderHeader" type="button" class="bg-gray-700 text-white mt-10 py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Actualizar encabezado
                                </button>
                            </div>

                        </div>
                                
                    <!-- generar cotizacion -->
            
                        <div class=" flex flex-row justify-between">
                            
                            <div class=" " >
                                <button v-if="this.buttonStatus>0" @click="createQuotation" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out text-center ">Generar cotización
                                </button> 
                                <div v-else  class="my-1 py-1 bg-gray-300 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-300 transition duration-200 each-in-out text-center ">Generar cotización
                                </div> 
                            </div>
                        
                            <div class="" >
                                
                                <div v-if="this.order !=null ? this.order.quotations.length ==  0 : true"   type="button" class="my-1 py-1 bg-gray-300 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-300 transition duration-200 each-in-out ">Descargar cotización
                                </div>
                                <button v-else @click="goToQuotation"  type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Descargar cotización
                                </button>

                            </div>
            
                            <div class=" " >
                                <div v-if="this.order !=null ? this.order.quotations.length ==  0 : true" type="button" class="bg-gray-300 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-300 transition duration-200 each-in-out ">Enviar cotización
                                </div>
                                <button v-else @click="updateStatusToQuotationSubmited" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Enviar cotización
                                </button>
                            </div>

                        </div>
                    <!-- generar cotizacion -->
                    </div>

                </div>
                <!-- segundo slide -->  

                <!-- tercer slide -->  
                <div v-show="slide==3" class="articles-config   snap-start h-96 w-auto overflow-y-auto  m-2 p-2  rounded-xl" id="slide-3">
                    <div class="m-6 ">
                        <!-- seleccion de compra -->
                        <div class=" flex flex-row justify-between">
                                <h2 class="font-semibold text-base  leading-tight">
                                    Selección de compra
                                </h2>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between "> 
                        
                            <div class=" " >
                                <select v-model="productsOffered" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                <option value = '' disabled selected>Producto de cotización</option>
                                <option v-for="product in selectedProducts" :key="product.id" :value="product.form.id" >{{product.form.provider.name}}  </option>
                                </select>
                            </div>
                                            
                            <div class="" >
                                <button @click="goToDownloads" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Descargar formularios
                                </button>
                            </div>
                                            
                            <div class=" " >
                                <button @click="goToUploads" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Cargar documentación
                                </button>
                            </div>
                    
                            <div class=" " >
                                <button @click="updateStatusToStandby" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Validar
                                </button>
                            </div>
                    
                        </div>
                        <!-- seleccion de compra -->
                    </div>
                </div>
                <!-- tercer slide -->  

                <!-- cuarto slide -->  
                <div v-show="slide==4" class="articles-config  snap-start h-96 w-auto overflow-y-auto  m-2 p-2  rounded-xl" id="slide-4">
                    <div class="m-6">
                        <!-- aprobacion -->
                        <div class=" flex flex-row justify-between">
                            <h2 class="font-semibold text-base  leading-tight">
                                Aprobación
                            </h2>
                        </div>
                        <hr>
                        <div class=" flex flex-row justify-between">              

                            <div class="" >
                                <button class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-center text-gray-400" >
                                Estado {{(this.order == null) ? '' :order.status}}
                                </button>
                            </div>
                
                            <div class="" >
                                <button v-if="$page.props.user.user_type==2" @click="updateStatusToApproved" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Aprobar o Emitir
                                </button>
                            </div>
                        
                        </div>
                        <!-- aprobacion -->

                        <!-- validacion de compra -->
                        <div class=" flex flex-row justify-between">
                            <h2 class="font-semibold text-base  leading-tight">
                            validación de compra
                            </h2>
                        </div>
                        <hr>
                        
                        <div class="flex flex-row justify-between">
                            
                            <div class=" " >
                                <div class="">
                                    <p class="my-1 py-1">Link de pago</p>
                                    <input v-model="link_payment" type="text" name="Nombre" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Inserte link de pago">
                                </div>
                            </div>
                                                    
                            <div class=" ">
                                <p class="my-1 py-1">Fecha de Vencimiento</p>
                                <input type="date" name="Fecha de Nacimiento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" >
                            </div>

                            <div class="">
                                <p class="my-1 py-1">Agregar numero de seguimiento</p>
                                <input type="text" name="Numero de seguimiento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Numero de seguimiento">
                            </div>

                            <div class="">
                                <p class="my-1 py-1">Fecha de Compra</p>
                                <input type="date" name="Fecha de compra" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" >
                            </div>  

                        </div>

                        <div class="flex flex-row justify-between">
                        
                            <div class=" " >
                                <button v-if="$page.props.user.user_type==2" @click="updatePaymentLink" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Generar link de pago
                                </button>
                            </div>

                            <div class="" >
                                <button @click="validateApprovedProduct" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Ver producto aprobado
                                </button>
                            </div>

                            <div class="" >
                                <button @click="goToValidate" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Validar pago
                                </button>
                            </div>
                            
                        </div>
                    <!-- validacion de compra -->
                    </div>
                </div>
                <!-- cuarto slide -->  

                <!-- quinto slide -->  
                <div v-show="slide==5" class="articles-config   snap-start h-96 w-auto overflow-y-auto   m-2 p-2  rounded-xl" id="slide-5">
                    <div class="m-6">
                        <!-- finalizar compra -->
                        <div class=" flex flex-row justify-between">
                            <h2 class="font-semibold text-base  leading-tight">
                                Finalización
                            </h2>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between">

                            <div class=" " >
                                <button @click="updateStatusToCancelled" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Cancelar Orden
                                </button>
                            </div>

                            <div class=" " >
                                <button v-if="$page.props.user.user_type==2" @click="updateStatusToFinished" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Finalizar Orden
                                </button>
                            </div>
                        
                        </div>
                        <!-- finalizar compra -->
                    </div>
                </div>
                <!-- quinto slide -->  

            </div>

        </div>  

        <div class="justify-around  flex ">
          
            <button @click="prew_slide" v-if="slide>=2 && slide<=5" class="bg-gradient-to-r from-green2  text-sm    w-40    to-green3   text-white  p-2  flex-shrink-0   shadow-2xl focus:outline-none  rounded-xl  flex justify-center items-center" ><p>Anterior</p>
            </button>

            <button @click="next_slide"  v-if="slide<=4 && slide>=1" class="bg-gradient-to-r from-green2  text-sm    w-40    to-green3   text-white p-2 flex-shrink-0    shadow-2xl focus:outline-none rounded-xl flex justify-center items-center"><p>Siguiente</p>
            </button>
            
        </div>



    </body>

</template>

<script>

import Button from '../Jetstream/Button.vue'
import moment from 'moment'

moment.locale('es');
export default {
  components: { Button },
  props:{
      products: Array,
      categories: Array,
      order: Object,
      selectedProducts: Array,

  },
  data() {
      return{
          
        name:  (this.order == null) ? ''  : this.order.client_name,
        lastname: '',
        business_type: '',
        product_category_id: '',
        
        productsOffered: '',
        selectedProducts : (this.selectedProducts == null) ? '' : this.selectedProducts,
        oportunity_id: (this.order == null) ? ''  : this.order.oportunity_id,
        link_payment: (this.order == null) ? ''  : this.order.link_payment,
        slide: 0,

        buttonStatus:  (this.order == null) ? 0  : this.order.buttonStatus,       
      
        form: {
            //name: name + lastname,
            client_name : (this.order == null) ? ''  : this.order.client_name,
            email: (this.order == null) ? ''  : this.order.email,
            customer_phone: (this.order == null) ? ''  : this.order.customer_phone,
            address: (this.order == null) ? ''  : this.order.address,
            date_of_birth: (this.order == null) ? ''  : this.date_format(this.order.date_of_birth),
            quotation_title: (this.order == null) ? ''  : this.order.quotation_title,
            gender: (this.order == null) ? ''  : this.order.gender,
            id_number: (this.order == null) ? ''  : this.order.id_number,
            id_type: (this.order == null) ? ''  : this.order.id_type,
            product_id: '',
            
            
        },
        
        QuotationCardsForm: {
            title_insurance_card_1: (this.order == null) ? ''  : ((this.order.title_insurance_card_1 == null)? 'Tipo de carro: ' : this.order.title_insurance_card_1),//QuotationCardsForm.title_insurance_card_1
            title_insurance_card_2: (this.order == null) ? ''  : ((this.order.title_insurance_card_2 == null)? 'Modelo: ' : this.order.title_insurance_card_2),//QuotationCardsForm.title_insurance_card_2
            title_insurance_card_3: (this.order == null) ? ''  : ((this.order.title_insurance_card_3 == null)? 'Placa: ' : this.order.title_insurance_card_3),//QuotationCardsForm.title_insurance_card_3
            title_insurance_card_4: (this.order == null) ? ''  : ((this.order.title_insurance_card_4 == null)? 'Código Fasecolda: ' : this.order.title_insurance_card_4),//QuotationCardsForm.title_insurance_card_4
            title_insurance_card_5: (this.order == null) ? ''  : ((this.order.title_insurance_card_5 == null)? 'Zona de tarifacción: ' : this.order.title_insurance_card_5),//QuotationCardsForm.title_insurance_card_5
            description_insurance_card_1: (this.order == null) ? ''  : this.order.description_insurance_card_1,//QuotationCardsForm.description_insurance_card_1
            description_insurance_card_2: (this.order == null) ? ''  : this.order.description_insurance_card_2,//QuotationCardsForm.description_insurance_card_2
            description_insurance_card_3: (this.order == null) ? ''  : this.order.description_insurance_card_3,//QuotationCardsForm.description_insurance_card_3
            description_insurance_card_4: (this.order == null) ? ''  : this.order.description_insurance_card_4,//QuotationCardsForm.description_insurance_card_4
            description_insurance_card_5: (this.order == null) ? ''  : this.order.description_insurance_card_5,//QuotationCardsForm.description_insurance_card_5
            title_value_insurance_card_1: (this.order == null) ? ''  : ((this.order.title_value_insurance_card_1 == null)? 'Valor asegurado: ' : this.order.title_value_insurance_card_1),//QuotationCardsForm.title_value_insurance_card_1
            insured_value: (this.order == null) ? ''  : this.order.insured_value,//QuotationCardsForm.insured_value

        }
      }
  },
    methods:{

        productNotSelected () {
            this.$emit('productNotSelected')
        },

        next_slide (){
            this.slide=this.slide+1
            
        },

        prew_slide (){
            this.slide=this.slide-1
        },
        
        set_slide_1(){
            this.slide=1
        },
        set_slide_2(){
            this.slide=2
        },
        set_slide_3(){
            this.slide=3
        },
        set_slide_4(){
            this.slide=4
        },
        set_slide_5(){
            this.slide=5
        },

        goToDownloads(){
            return this.$inertia.get(this.route('forms.mediaStorage.index',this.productsOffered))
        },
        goToUploads(){
            return this.$inertia.get(this.route('cargar.edit', this.order.id))
        },
        storeSubmit(){
            console.log('asdasds')
            this.form.client_name = this.name + ' ' +this.lastname
            if (this.productSelected.length == 0){
                this.productNotSelected 
            }else{
           
            this.form.quotation_title = this.productSelected[0].name
            }
           
            

            return this.$inertia.post(this.route('order.store'),this.form)
            this.$emit('button-clicked')
        },
        updateSubmit(){
            this.fullName()
            if (this.form.quotation_title == null){
            this.form.quotation_title = this.productSelected[0].name
            }
            return this.$inertia.patch(this.route('updateOpportunityAndOrder', this.order.oportunity_id),this.form)
        },
        updatePaymentLink(){
            
             
            return this.$inertia.patch(this.route('order.updatePaymentLink', this.order.id),{'link_payment': this.link_payment})
        },
        date_format(date){
            return moment(date).format("YYYY-MM-DD");
        },
        createQuotation(){
            //console.log(this.order.id);
           return this.$inertia.get(this.route('quotation.index_quotation',this.order.id))
           
        },
        goToQuotation(){
            console.log('clicked')
            return this.$inertia.get(this.route('quotations',this.order.id))
        },
        goToValidate(){
            return this.$inertia.get(this.route('validate_purchase',this.order.id))
        },
        fullName(){
          return this.form.client_name = this.name + ' ' +this.lastname
       },
    //    makeOpportunity(){
          
    //        //this.$inertia.post(this.route('forms.store'),this.OpportunityForm)
    //        return  this.$inertia.get(this.route('storeFromOrder', this.order.id),this.OpportunityForm)
    //    },
       updateOrderHeader(){
          
           //this.$inertia.post(this.route('forms.store'),this.OpportunityForm)
           if(this.buttonStatus == 0){
               this.buttonStatus = 1;
               return  this.$inertia.put(this.route('update_headers', this.order.id), Object.assign(this.QuotationCardsForm,{ buttonStatus : this.buttonStatus}))
           }
           else{
               return  this.$inertia.put(this.route('update_headers', this.order.id), Object.assign(this.QuotationCardsForm,{ buttonStatus : this.buttonStatus}))
           }
           
           
       },
       updateStatusToStandby(){
           
            return this.$inertia.put(this.route('order.statusToStandby', this.order.id))
            
       },
       updateStatusToQuotationSubmited(){
            return this.$inertia.put(this.route('order.statusToQuotationSubmited', this.order.id))
           
           //return  this.$inertia.put(this.route('order.statusToQuotationSubmited', this.order.id))
       },
       updateStatusToApproved(){
           
           return  this.$inertia.put(this.route('order.statusToApproved', this.order.id))
       },
       updateStatusToCancelled(){
           
           return  this.$inertia.put(this.route('order.statusToCancelled', this.order.id))
       },
       updateStatusToFinished(){
           return  this.$inertia.put(this.route('order.statusToFinished', this.order.id))
       },
       validateApprovedProduct(){
           return this.$inertia.get(this.route('validate_approved_product', this.order.id))
       }
        


    
    },
        
 
  
  computed: {
       
       productSelected: function(){
           const {products} = this;
          return products.filter(product =>
          product.id == this.form.product_id)
       },
       
       /**
         * funcion para filtrar categorias de productos
         */
         
      
        productCategory(){
           
            const { categories} = this;
            return categories.filter(category=> 
               category.business_type == this.business_type
             
            )
        

        },
        /**
         * funcion para filtrar  productos
         */
        productsFiltered(){
           
            const { products} = this;
            return products.filter(product=> 
               product.product_category_id == this.product_category_id
             
            )


        },
      
      
  },
  mounted() {

    // check Order status and set a number to display a slide
    if (this.order != null){
        switch (this.order.status){
            case 'En espera de cotización' :
                this.slide=2;
                break;
            case 'Cotización entregada' :
                this.slide=3;
                break;
            case 'Orden en gestión':
                this.slide=3;
                break;
            case 'Orden en espera':
                this.slide=4;
                break;
            case 'Aprobada o emitida':
                this.slide=5;
                break;
            case 'Orden finalizada':
                this.slide=5;
                break;
            case 'Orden cancelada':
                this.slide=5;
                break;
            default:
                this.slide=0;
                
        }
    }
         
    
                    
},


}
</script>

<style>

 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }

    
.snap-x {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.snap-start {

  scroll-snap-align: center;
}

</style>