<template>
<div class=" m-5   ">
    <div class=" flex-col  my-5 pb-5 ">

        <div class=" mt-1 mb-14 ">
        <h2 class="font-semibold text-base  text-gray-500 leading-tight">
            Creación de Ordenes
        </h2>
        </div>

        Datos del cliente
        <hr>
    <!-- Datos del cliente -->
        <div class=" flex flex-row gap-10   mb-16   ">

            <div class="flex flex-auto gap-x-10 justify-between">
                
                <div >

                    <div class="flex-row mb-3 pb-3">
                        <p class="my-1 py-1">Nombre </p>
                        <input v-model="name" type="text" name="Nombre" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Nombre">
                    </div>

                    <div class="flex-row mt-3  pt-3 " >
                        <p class="my-1 py-1">Apellido</p>
                        <input v-model="lastname" type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Apellidos">
                    </div>
                    
                    <div class="flex-row mt-3  pt-3 " >
                        <p class="my-1 py-1">Genero</p>
                        

                        <select v-model="form.gender" placeholder="asdas" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                            <option value='' disabled selected>Genero</option>
                            
                            <option value='Masculino'>Masculino</option>
                            <option value='Femenino'>Femenino</option>
                            <option value='Sin especificar'>Sin especificar</option>

                    </select>
                    

                    </div>

                </div>

                <div >

                    <div class="flex-col flex-auto text-left  ">

                    <div class="flex-row mb-3 pb-3">
                    <p class="my-1 py-1">Correo</p>
                    <input v-model="form.email" type="email" name="email" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Correo">
                    </div>

                    <div class="flex-row mt-3  pt-3 text-left " >
                    <p class="my-1 py-1">Dirección</p>
                    <input v-model="form.address" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Dirección" >
                    </div>
                    </div>

                </div>

                <div >

                    <div class="flex-col flex-auto text-left  ">

                        <div class="flex-row mb-3 pb-3">
                        <p class="my-1 py-1">Tipo de documento</p>
                        <select v-model="form.id_type"  placeholder="Tipo de documento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                            <option value='' disabled selected>Tipo de documento</option>
                            
                            <option value='CC'>Cédula de ciudadanía</option>
                            <option value='TI'>Tarjeta de identidad</option>
                            <option value='RC'>Registro civil</option>
                            <option value='CE'>Cédula de extranjería</option>
                            <option value='PA'>Pasaporte</option>

                    </select>
                    </div>

                        <div class="flex-row mt-3  pt-3 text-left " >
                        <p class="my-1 py-1">Número de documento</p>
                        <input v-model="form.id_number" type="text" name="Número de documento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Dirección" >
                        </div>
                    </div>

                </div>
                

                <div class="  text-right ">
                <div class="flex-col flex-auto  ">

                <div class="flex-row mb-3 pb-3">
                <p class="my-1 py-1">Fecha de Nacimiento</p>
                <input v-model="form.date_of_birth" type="date" name="Fecha de Nacimiento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" >
                </div>  

                <div class="flex-row mt-3  pt-3 ml-14  pl-14 " >
                
                </div>

                </div>
                </div>
            
            </div>

        </div>        
    <!-- Datos del cliente -->

    <!-- seleccion del producto -->
        <div class="flex"> Seleccion del producto: {{form.quotation_title}} -  Oportunudad numero: {{oportunity_id}}</div>
        <hr>
        <div class=" flex flex-row   gap-10  mb-16  ">
  
            <div class=" flex flex-auto gap-x-10 justify-between ">

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row mt-3  pt-3  " >
                        <select v-model="business_type"  class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                            <option value="" disabled selected>Tipo de negocion</option>
                            
                            <option value="2">Productos financieros</option>
                            <option value="0">Otros</option>

                    </select>
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row mt-3  pt-3  " >
                        <select v-model="product_category_id" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                            <option value="" disabled selected>Categoria de producto</option>
                            <option v-for="category in productCategory" :key="category.id" v-bind:value="category.id">
                                {{category.name}}
                            </option>

                    </select>
                        </div>
                    </div>
                </div>

                    <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row mt-3  pt-3  " >
                        <select v-model="form.product_id" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                            <option value="" disabled selected>Seleccion de producto </option>
                            <option v-for="product in productsFiltered" :key="product.id" v-bind:value="product.id">
                            {{product.name}}
                            </option>
                    </select>
                        </div>
                    </div>
                    
                </div>
                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row mt-3  pt-3  " >
                        <!-- <button @click.prevent="makeOpportunity" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                            hover:bg-gray-800 transition duration-200 each-in-out ">
                            Crear Oportunidad 
                        </button> -->
                        <div class="w-20 h-20"></div>
                        
                        </div>
                        
                    </div>
                </div>
                <div class="flex flex-auto text-right ">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row mt-3  pt-3 ml-14  pl-14 " >
                            <button v-if="this.order != null" @click.prevent="updateSubmit" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                            hover:bg-gray-800 transition duration-200 each-in-out ">Actualizar
                            </button>
                            <button v-else-if="oportunity_id == '' " @click="storeSubmit"  type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                            hover:bg-gray-800 transition duration-200 each-in-out ">Crear orden y oportunidad
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    <!-- seleccion del producto -->

    <!-- Encabezado de cotización -->
        Encabezado de cotización
        <hr>

        <div class=" flex flex-row   gap-10  mb-16  ">
      

            <div class=" flex flex-auto gap-x-10 justify-between ">

                <div class="flex-col flex-auto">

                    <div class="flex-row mb-3 pb-3">
                        <p class="my-1 py-1">Valor 1 </p>
                        <input v-model="QuotationCardsForm.title_insurance_card_1"  type="text" name="Nombre" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Primer valor">
                    </div>

                    <div class="flex-row mt-3  pt-3 " >
                        <p class="my-1 py-1">Valor 2</p>
                        <input v-model="QuotationCardsForm.title_insurance_card_2" type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Segundo valor">
                    </div>

                    <div class="flex-row mt-3  pt-3 " >
                        <p class="my-1 py-1">Valor 3</p>
                        <input v-model="QuotationCardsForm.title_insurance_card_3"  type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Tercer valor">
                    </div>

                    <div class="flex-row mt-3  pt-3 " >
                        <p class="my-1 py-1">Valor 4</p>
                        <input v-model="QuotationCardsForm.title_insurance_card_4"  type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Cuarto valor">
                    </div>

                    <div class="flex-row mt-3  pt-3 " >
                        <p class="my-1 py-1">Valor 5</p>
                        <input v-model="QuotationCardsForm.title_insurance_card_5" type="text" name="Apellido" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center  " placeholder="Quinto valor">
                    </div>
                    
                    

                </div>

                <div class="flex flex-auto">

                    <div class="flex-col flex-auto text-left  ">

                    <div class="flex-row mb-3 pb-3">
                    <p class="my-1 py-1">Dato 1</p>
                    <input v-model="QuotationCardsForm.description_insurance_card_1" type="email" name="email" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Primer dato">
                    </div>

                    <div class="flex-row mt-3  pt-3 text-left " >
                    <p class="my-1 py-1">Dato 2</p>
                    <input v-model="QuotationCardsForm.description_insurance_card_2" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Segundo dato" >
                    </div>
                    
                    
                    <div class="flex-row mt-3  pt-3 text-left " >
                    <p class="my-1 py-1">Dato 3</p>
                    <input v-model="QuotationCardsForm.description_insurance_card_3" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Tercer dato" >
                    </div>

                <div class="flex-row mt-3  pt-3 text-left " >
                    <p class="my-1 py-1">Dato 4</p>
                    <input v-model="QuotationCardsForm.description_insurance_card_4" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Cuarto dato" >
                    </div>

                <div class="flex-row mt-3  pt-3 text-left " >
                    <p class="my-1 py-1">Dato 5</p>
                    <input v-model="QuotationCardsForm.description_insurance_card_5" type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Quinto dato" >
                    </div>

                    
                    </div>

                </div>

                <div class="flex flex-auto">

                    <div class="flex-col flex-auto text-left  ">

                        <div class="flex-row mb-3 pb-3">
                        <p class="my-1 py-1">Título de valor a asegurar o producto financiero</p>
                        
                            <input v-model="QuotationCardsForm.title_value_insurance_card_1"  type="text" name="Dirección" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Título" >

                    
                    </div>

                        <div class="flex-row mt-3  pt-3 text-left " >
                        <p class="my-1 py-1">Valor a asegurar o de producto financiero</p>
                        <input v-model="QuotationCardsForm.insured_value" type="text" name="Número de documento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" placeholder="Valor" >
                        </div>
                    </div>

                </div>
                
                
                

                <div class="flex flex-auto text-right ">
                <div class="flex-col flex-auto  ">

                <div class="flex-row mb-3 pb-3">
                <!-- <p class="my-1 py-1">Fecha de Nacimiento</p>
                <input v-model="form.date_of_birth" type="date" name="Fecha de Nacimiento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" > -->
                </div>  

                <div class="flex-row mt-3  pt-3 ml-14  pl-14 " >
                <button  @click="updateOrderHeader" type="button" class="bg-gray-700 text-white mt-10 py-2  w-48  rounded font-medium 
                hover:bg-gray-800 transition duration-200 each-in-out ">Enviar
                </button>
                </div>

                </div>
                </div>
                

            </div>
        </div>
        <!-- Encabezado de cotización -->

        <!-- generar cotizacion -->
        Generar cotización
        <hr>
        <div class=" flex flex-row gap-10   mb-16  ">
        
            <div class=" flex flex-auto gap-x-10 justify-between">


                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                                
                                <button @click="createQuotation" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out text-center ">Generar cotización
                                </button>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>

                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                                <button @click="goToQuotation"  type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Descargar cotización
                                </button>
                            </div>
                        </div>
                    </div>

                

                    <div class="flex flex-auto text-right ">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3 ml-14  pl-14 " >
                                <button @click="updateStatusToQuotationSubmited" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Enviar cotización
                                </button>
                            </div>
                        </div>
                    </div>


            </div>

        </div>
        <!-- generar cotizacion -->

        <!-- seleccion de compra -->
        Selección de compra
        <hr>
        <div class="flex flex-row gap-10  mb-16  ">
        
            <div class=" flex flex-auto gap-x-10 justify-between ">

                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                            <select v-model="productsOffered" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-right" >
                                <option value = '' disabled selected>Producto de cotización</option>
                                <option v-for="product in selectedProducts" :key="product.id" :value="product.form.id" >{{product.form.provider.name}}  </option>
                        </select>
                            </div>
                        </div>
                    </div>

                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                                <button @click="goToDownloads" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Descargar formularios
                                </button>
                            </div>
                        </div>
                    </div>

                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                                <button @click="goToUploads" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Cargar documentación
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-auto text-right ">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3 ml-14  pl-14 " >
                                <button @click="updateStatusToStandby" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Validar
                                </button>
                            </div>
                        </div>
                    </div>


            </div>

        </div>
        <!-- seleccion de compra -->

        <!-- aprobacion -->
        Aprobación
        <hr>
        <div class="flex flex-row gap-10  mb-16 ">
        
            <div class=" flex flex-auto gap-x-10 justify-between">

                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                            <button class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-48 text-center text-gray-400" >
                            Estado {{(this.order == null) ? '' :order.status}}
                            </button>
                            </div>
                        </div>
                    </div>

                



                    <div class="flex flex-auto text-right ">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3 ml-14  pl-14 " >
                                <button v-if="$page.props.user.user_type==2" @click="updateStatusToApproved" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Aprobar o Emitir
                                </button>
                            </div>
                        </div>
                    </div>


            </div>

        </div>
        <!-- aprobacion -->

        <!-- validacion de compra -->
        Validacion de compra
        <hr>
        <div class="flex flex-row gap-10   mb-16 ">
        
            <div class="flex flex-auto gap-x-10 justify-between">


                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3 mb-12  pt-3  " >
                                <div class="flex-row mb-3 pb-3">
                                    
                                    <input v-model="link_payment" type="text" name="Nombre" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Inserte link de pago">
                                </div>
                            </div>

                            <div class="flex-row mt-3 mb-12  pt-3  " >
                                <button type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Ver producto aprobado
                                </button>
                            </div>

                            <div class="flex-row mb-3 pb-3">
                                <p class="my-1 py-1">Agregar numero de seguimiento</p>
                                <input type="text" name="Numero de seguimiento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center " placeholder="Numero de seguimiento">
                            </div>
                    <div class="flex-row mb-3 mt-4 pt-4 pb-3">
                        <p class="my-1 py-1">Fecha de Compra</p>
                        <input type="date" name="Fecha de compra" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" >
                    </div>  
                        </div>
                        
                    </div>

                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3 mb-12  pt-3  " >
                                <button v-if="$page.props.user.user_type==2" @click="updatePaymentLink" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Generar link de pago
                                </button>
                            </div>

                            
                            <div class="flex-row mb-3 pb-3  mt-28 pt-14  ">
                                <p class="my-1 py-1">Fecha de Vencimiento</p>
                                <input type="date" name="Fecha de Nacimiento" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent text-center" >
                            </div>
                        </div>
                    </div>

                <div class="flex flex-auto text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                                <button @click="goToValidate" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Validar pago
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-auto text-right ">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row   pt-3 ml-12 mt-64  pl-14 " >
                                <!-- <button type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Confirmar Aprobación
                                </button> -->
                            </div>
                        </div>
                    </div>


            </div>
        </div>
        <!-- validacion de compra -->

        <!-- finalizar compra -->
        Finalizacion
        <hr>
        <div class="flex flex-row gap-10   mb-16 ">
        

            <div class=" flex flex-auto gap-x-10 justify-between">


                
                <div class="flex  text-left">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                                <button @click="updateStatusToCancelled" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Cancelar Orden
                                 </button>
                            </div>
                        </div>
                    </div>

                    <div class="flex  text-right ">
                        <div class="flex-col flex-auto  ">
                            <div class="flex-row mt-3  pt-3  " >
                                <button v-if="$page.props.user.user_type==2" @click="updateStatusToFinished" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                                hover:bg-gray-800 transition duration-200 each-in-out ">Finalizar Orden
                                </button>
                            </div>
                        </div>
                    </div>


            </div>
            

        </div>
    </div>
</div>

</template>

<script>
import { computed } from '@vue/runtime-core'
import Button from '../Jetstream/Button.vue'
import moment from 'moment'

moment.locale('es');
export default {
  components: { Button },
  props:{
      products: Array,
      categories: Array,
      order: Object,
      selectedProducts: Array,

  },
  data() {
      return{
          
        name:  (this.order == null) ? ''  : this.order.client_name,
        lastname: '',
        business_type: '',
        product_category_id: '',
        
        productsOffered: '',
        selectedProducts : (this.selectedProducts == null) ? '' : this.selectedProducts,
        oportunity_id: (this.order == null) ? ''  : this.order.oportunity_id,
        link_payment: (this.order == null) ? ''  : this.order.link_payment,
        
        
      
        form: {
            //name: name + lastname,
            client_name : (this.order == null) ? ''  : this.order.client_name,
            email: (this.order == null) ? ''  : this.order.email,
            address: (this.order == null) ? ''  : this.order.address,
            date_of_birth: (this.order == null) ? ''  : this.date_format(this.order.date_of_birth),
            quotation_title: (this.order == null) ? ''  : this.order.quotation_title,
            gender: (this.order == null) ? ''  : this.order.gender,
            id_number: (this.order == null) ? ''  : this.order.id_number,
            id_type: (this.order == null) ? ''  : this.order.id_type,
            product_id: '',
            
            
        },
        
        QuotationCardsForm: {
            title_insurance_card_1: (this.order == null) ? ''  : this.order.title_insurance_card_1,//QuotationCardsForm.title_insurance_card_1
            title_insurance_card_2: (this.order == null) ? ''  : this.order.title_insurance_card_2,//QuotationCardsForm.title_insurance_card_2
            title_insurance_card_3: (this.order == null) ? ''  : this.order.title_insurance_card_3,//QuotationCardsForm.title_insurance_card_3
            title_insurance_card_4: (this.order == null) ? ''  : this.order.title_insurance_card_4,//QuotationCardsForm.title_insurance_card_4
            title_insurance_card_5: (this.order == null) ? ''  : this.order.title_insurance_card_5,//QuotationCardsForm.title_insurance_card_5
            description_insurance_card_1:  (this.order == null) ? ''  : this.order.description_insurance_card_1,//QuotationCardsForm.description_insurance_card_1
            description_insurance_card_2: (this.order == null) ? ''  : this.order.description_insurance_card_2,//QuotationCardsForm.description_insurance_card_2
            description_insurance_card_3: (this.order == null) ? ''  : this.order.description_insurance_card_3,//QuotationCardsForm.description_insurance_card_3
            description_insurance_card_4: (this.order == null) ? ''  : this.order.description_insurance_card_4,//QuotationCardsForm.description_insurance_card_4
            description_insurance_card_5: (this.order == null) ? ''  : this.order.description_insurance_card_5,//QuotationCardsForm.description_insurance_card_5
            title_value_insurance_card_1: (this.order == null) ? ''  : this.order.title_value_insurance_card_1,//QuotationCardsForm.title_value_insurance_card_1
            insured_value: (this.order == null) ? ''  : this.order.insured_value,//QuotationCardsForm.insured_value

        }
      }
  },
    methods:{
        goToDownloads(){
            return this.$inertia.get(this.route('forms.mediaStorage.index',this.productsOffered))
        },
        goToUploads(){
            return this.$inertia.get(this.route('cargar.edit', this.order.id))
        },
        storeSubmit(){
            console.log('asdasds')
            this.form.client_name = this.name + ' ' +this.lastname
            this.form.quotation_title = this.productSelected[0].name
            

            return this.$inertia.post(this.route('order.store'),this.form)
            this.$emit('button-clicked')
        },
        updateSubmit(){
            this.fullName()
            if (this.form.quotation_title == null){
            this.form.quotation_title = this.productSelected[0].name
            }
            return this.$inertia.patch(this.route('order.update', this.order.id),this.form)
        },
        updatePaymentLink(){
            
             
            return this.$inertia.patch(this.route('order.updatePaymentLink', this.order.id),{'link_payment': this.link_payment})
        },
        date_format(date){
            return moment(date).format("YYYY-MM-DD");
        },
        createQuotation(){
            
           return this.$inertia.get(this.route('quotation.create_quotation',this.order.id))
           
        },
        goToQuotation(){
            console.log('clicked')
            return this.$inertia.get(this.route('quotations',this.order.id))
        },
        goToValidate(){
            return this.$inertia.get(this.route('validate_purchase',this.order.id))
        },
        fullName(){
          return this.form.client_name = this.name + ' ' +this.lastname
       },
    //    makeOpportunity(){
          
    //        //this.$inertia.post(this.route('forms.store'),this.OpportunityForm)
    //        return  this.$inertia.get(this.route('storeFromOrder', this.order.id),this.OpportunityForm)
    //    },
       updateOrderHeader(){
          
           //this.$inertia.post(this.route('forms.store'),this.OpportunityForm)
           return  this.$inertia.put(this.route('update_headers', this.order.id),this.QuotationCardsForm)
           
       },
       updateStatusToStandby(){
           return  this.$inertia.put(this.route('order.statusToStandby', this.order.id))
       },
       updateStatusToQuotationSubmited(){
           return  this.$inertia.put(this.route('order.statusToQuotationSubmited', this.order.id))
       },
       updateStatusToApproved(){
           return  this.$inertia.put(this.route('order.statusToApproved', this.order.id))
       },
       updateStatusToCancelled(){
           return  this.$inertia.put(this.route('order.statusToCancelled', this.order.id))
       },
       updateStatusToFinished(){
           return  this.$inertia.put(this.route('order.statusToFinished', this.order.id))
       }
        


    
    },
        
 
  
  computed: {
       
       productSelected: function(){
           const {products} = this;
          return products.filter(product =>
          product.id == this.form.product_id)
       },
       
       /**
         * funcion para filtrar categorias de productos
         */
         
      
        productCategory(){
           
            const { categories} = this;
            return categories.filter(category=> 
               category.business_type == this.business_type
             
            )
        

        },
        /**
         * funcion para filtrar  productos
         */
        productsFiltered(){
           
            const { products} = this;
            return products.filter(product=> 
               product.product_category_id == this.product_category_id
             
            )


        },
      
      
  }


}
</script>

<style>

 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }

</style>