<template>
<head>
    <title>Broker</title>
</head>
<div id="container" >
    <div class="py-5 px-5 rounded-xl ">
        <!--primer bloque-->
        <div class="flex justify-between">

            <div class="  text-gray-900 font-sans font-bold leading-tight"> 
                <p>Cotizacion: {{form.title}}</p> 
                <p>Resumen ejecutivo</p>
                <p>Fecha de cotizacion: {{form.quotationDate}}</p>        
            </div>
            
            <div class=" bg-gray-200">{{seller.logo}}</div> 
        </div>
        <!--segundo bloque-->
        <div class="flex justify-center  space-x-4 mt-8 ">

            <div class=" bg-gray-400 text-white text-sm flex items-center  h-32 w-96 font-sans  font-bold leading-tight rounded-3xl"> 
                <div class="mx-5">
                    <img :src="persona"  alt="Persona">
                </div>
                <div>
                    <p> {{client.name}}</p> 
                    <p>{{client.id_type}} {{client.id_number}}</p>
                    <p>{{client.date_of_birth}}</p> 
                    <p>Género: {{client.gender}}</p> 
                </div>     
            </div>
           <div class=" bg-gray-400 text-white text-sm flex items-center  h-32 w-96 font-sans  font-bold leading-tight rounded-3xl"> 
                <div class="mx-5">
                    <img :src="seguro"  alt="Persona">
                </div>
                <div>
                    <p v-if="!form.title_insurance_card_1==''">{{form.title_insurance_card_1}} {{form.description_insurance_card_1}}</p> 
                    <p v-if="!form.title_insurance_card_2==''">{{form.title_insurance_card_2}} {{form.description_insurance_card_2}}</p>
                    <p v-if="!form.title_insurance_card_3==''">{{form.title_insurance_card_3}} {{form.description_insurance_card_3}}</p>
                    <p v-if="!form.title_insurance_card_4==''"> {{form.title_insurance_card_4}} {{form.description_insurance_card_4}}</p>
                    <p v-if="!form.title_insurance_card_5==''"> {{form.title_insurance_card_5}} {{form.description_insurance_card_5}}</p> 
                </div>     
            </div>
            <div class=" bg-gray-400 text-white text-sm flex items-center  h-32 w-96 font-sans  font-bold leading-tight rounded-3xl"> 
                <div class="mx-5">
                    <img :src="pago"  alt="Persona">
                </div>
                <div>
                    <p>{{form.title_value_insurance_card_1}} </p> 
                    <br>
                    <p class=" text-2xl">${{form.insured_value}}</p>
                      
                </div>     
            </div>
        </div>

        <!--tercer bloque-->
        <form  @submit.prevent="submit" >
        <table class="min-w-full table-auto mt-5">
                <thead class="justify-between  border-gray-500  border-b-2">
                <tr class="text-gray-700 ">
                    <th class="   ">
                    <div class="bg-gray-200 text-xs py-3 w-32 min-w-0 md:max-w-full lg:w-40  rounded-xl ">
                        <span class="">Aseguradora</span>
                    </div>
                    </th>
                    <th >
                    <div class="bg-gray-200 text-xs py-3 w-32 min-w-0 max-w-full md:max-w-full lg:w-40  rounded-xl ">
                        <span class=" ">{{form.description_title_1}}</span>
                    </div>
                    </th>
                    <th >
                    <div class="bg-gray-200 text-xs py-3 w-32 min-w-0 max-w-full md:max-w-full lg:w-40  rounded-xl ">
                        <span class=" ">{{form.description_title_2}}</span>
                    </div>
                    </th>
                    <th >
                    <div class="bg-gray-200 text-xs py-3 w-32 min-w-0 max-w-full md:max-w-full lg:w-40  rounded-xl ">
                        <span class=" ">{{form.description_title_3}}</span>
                    </div>
                    </th>
                    <th >
                    <div class="bg-gray-200 text-xs py-3 w-32 min-w-0 max-w-full md:max-w-full lg:w-40  rounded-xl ">
                        <span class=" ">{{form.description_title_4}}</span>
                    </div>
                    </th>
                    <th >
                    <div class="bg-gray-200 text-xs py-3 w-32 min-w-0 max-w-full md:max-w-full lg:w-40  rounded-xl ">
                        <span class=" ">{{form.description_title_5}}</span>
                    </div>
                    </th>
                    <th >
                    <div class="bg-gray-200 text-xs py-3 w-32 min-w-0 max-w-full md:max-w-full lg:w-40  rounded-xl ">
                        <span class=" ">Precio</span>
                    </div>
                    </th>
                    <th >
                    <div class="bg-gray-200 text-xs py-3 w-32 max-w-full md:max-w-full lg:w-40  rounded-xl ">
                        <span class=" ">Seleccionar</span>
                    </div>
                    </th>

                    
                </tr>
                <br>
            </thead>
            
            
                            
            <br>
            
            <tbody >
                <tr class="text-gray-700 text-center" v-for=" quotation in orderQuotation.quotations" :key="quotation.id">
                    <td class="text-center">
                        <div class="grid items-center bg-gray-200 min-h-20 text-xs py-3  px-2 mx-auto w-24 min-w-0 md:max-w-full lg:w-40 lg:m-0  rounded-xl ">
                        <span class="">{{quotation.form.provider.name}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="grid items-center bg-white  border-1 border-b-4 border-gray-400  border-opacity-80 ring-2 ring-gray-300  text-xs py-3 px-2  mx-auto w-28 min-h-20 max-w-full md:max-w-full lg:w-40 lg:m-0  rounded-xl ">
                        <span class=" ">{{quotation.description_1}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="grid items-center bg-white  border-1 border-b-4 border-gray-400  border-opacity-80 ring-2 ring-gray-300  text-xs py-3 px-2 mx-auto w-28 min-h-20 max-w-full md:max-w-full lg:w-40 lg:m-0  rounded-xl ">
                        <span class=" ">{{quotation.description_2}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="grid items-center bg-white  border-1 border-b-4 border-gray-400  border-opacity-80 ring-2 ring-gray-300  text-xs py-3 px-2 mx-auto w-28 min-h-20 min-h-24 max-w-full md:max-w-full lg:w-40 lg:m-0  rounded-xl ">
                        <span class=" ">{{quotation.description_3}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="grid items-center bg-white  border-1 border-b-4 border-gray-400  border-opacity-80 ring-2 ring-gray-300  text-xs py-3 px-2 mx-auto w-28 min-h-20 min-h-24 max-w-full md:max-w-full lg:w-40 lg:m-0  rounded-xl ">
                        <span class=" ">{{quotation.description_4}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="grid items-center bg-white  border-1 border-b-4 border-gray-400  border-opacity-80 ring-2 ring-gray-300  text-xs py-3 px-2 mx-auto w-28 min-h-20 max-w-full md:max-w-full lg:w-40 lg:m-0  rounded-xl ">
                        <span class=" ">{{quotation.description_5}}</span>
                        </div>
                    </td>
                    <td > 
                        <div class="  grid items-center     bg-white  border-1 border-b-4 border-gray-400  border-opacity-80 ring-2 ring-gray-300  text-xs py-3 px-2 mx-auto  min-h-20 max-w-full md:max-w-full lg:w-40 lg:m-0  rounded-xl"> 
                            
                            <div >
                                <p class="font-bold text-base text-center  ">${{number_format(quotation.sale_price)}}</p> 
                                
                            </div>     
                        </div>                      
                        
                        
                    </td>
                    <td>

                        <div class="grid items-center bg-white  border-1 border-b-4 border-gray-400  border-opacity-80 ring-2 ring-gray-300  text-xs py-3 px-2 mx-auto w-28 min-w-0  min-h-20  max-w-full md:max-w-full lg:w-40 lg:m-0 rounded-xl ">
                        <span ><div v-if="quotation.status==0"><input type="checkbox" id="Tomada" value="1" v-model="form_status[quotation.id]" /> </div>
                        <div v-else> <input type="checkbox" id="Tomada" value="1" checked v-model="form_status[quotation.id]" /></div>
                        </span>
                        
                        </div>
                    </td>
                </tr>
            </tbody>
            
             
            
                
        </table>
        
            
        
        <div align="right" class="px-8 pt-14">
                


                <button   class="bg-gray-800 px-10 py-2 text-gray-200 rounded-xl mr-7 focus:outline-none" > Generar compra</button>

            </div>
        </form>
        <div  class="px-8 pt-14 -mt-24 ">
        <button @click="imprSelec('container')" class="bg-gray-800 px-10 py-2 text-gray-200 rounded-xl mr-7  focus:outline-none "  >Imprimir Contenido</button>
        </div>
    </div>
    </div>
  
</template>
<style>
@page { size: auto;  margin: 0mm; }
</style>
<script>


import moment from 'moment'
import persona from '@/Pages/Utilities/Vectors/persona_blanca.png'
import seguro from '@/Pages/Utilities/Vectors/seguro_blanco.png'
import pago from '@/Pages/Utilities/Vectors/pago_blanco.png'

moment.locale('es');


export default {
    
    
    props: {
        orderQuotation: Object
    },
    methods: {
        imprSelec() {
            window.print();
        },
        submit (){
                this.$inertia.put(this.route('quotation_form_user.store', this.orderQuotation.id),this.form_status)
            },

        date_format(date){
            return moment(date).format("DD/MM/YYYY");
        },

        number_format(amount, decimals) {

            amount += ''; // por si pasan un numero en vez de un string
            amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

            decimals = decimals || 0; // por si la variable no fue fue pasada

            // si no es un numero o es igual a cero retorno el mismo cero
            if (isNaN(amount) || amount === 0) 
                return parseFloat(0).toFixed(decimals);

            // si es mayor o menor que cero retorno el valor formateado como numero
            amount = '' + amount.toFixed(decimals);

            var amount_parts = amount.split('.'),
                regexp = /(\d+)(\d{3})/;

            while (regexp.test(amount_parts[0]))
                amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

            return amount_parts.join('.');
    }
    },
   

    data() {

        return{
            persona: persona,
            seguro: seguro,
            pago: pago,
            seller: {
                logo: 'Logo',
            },
            client: {
                name: this.orderQuotation.client_name,
                id_type: this.orderQuotation.id_type,
                id_number: this.orderQuotation.id_number,
                date_of_birth: this.date_format(this.orderQuotation.date_of_birth),
                gender: this.orderQuotation.gender
            },
            
            form: {
                title : this.orderQuotation.quotation_title,
                quotationDate: this.date_format(this.orderQuotation.quotation_date),
                description_title_1: this.orderQuotation.title_1,
                description_title_2: this.orderQuotation.title_2,
                description_title_3: this.orderQuotation.title_3,
                description_title_4: this.orderQuotation.title_4,
                description_title_5: this.orderQuotation.title_5,
                
                //para tarjeta de seguro
                title_insurance_card_1: this.orderQuotation.title_insurance_card_1,
                title_insurance_card_2: this.orderQuotation.title_insurance_card_2,
                title_insurance_card_3: this.orderQuotation.title_insurance_card_3,
                title_insurance_card_4: this.orderQuotation.title_insurance_card_4,
                title_insurance_card_5: this.orderQuotation.title_insurance_card_5,
                description_insurance_card_1: this.orderQuotation.description_insurance_card_1,
                description_insurance_card_2: this.orderQuotation.description_insurance_card_2,
                description_insurance_card_3: this.orderQuotation.description_insurance_card_3,
                description_insurance_card_4: this.orderQuotation.description_insurance_card_4,
                description_insurance_card_5: this.orderQuotation.description_insurance_card_5,
                title_value_insurance_card_1: this.orderQuotation.title_value_insurance_card_1,
                insured_value: this.number_format(this.orderQuotation.insured_value),
                status: '',

            },
            form_status: {},
            
            
        }
    }

}
</script>

<style>

</style>