<template>
  <div class="flex flex-row  rounded-xl  ">

      <div  class="flex flex-auto flex-col bg-white rounded-xl p-8 m-4 w-1/4 h-5/6     ">

        <h1 class="text-xl m-4 p-4  "> <b>Contenido de cotización</b></h1>
      
        <ul class="text-center">
            <li v-for="quotation in quotations" :key="quotation.id" >
                <inertia-link :href="route('quotation.edit',quotation.id)" class="flex flex-row justify-between my-2 py-2 align-baseline">
                    <p>{{quotation.form.provider.name}}r</p>
                    <img :src="Edit_icon" alt="icono solicitudes" class="  h-6 w-6">

                </inertia-link>
            </li>

            
        </ul>
      </div>

      <div class="flex flex-auto flex-col bg-white rounded-xl p-12 m-4 w-3/4 ">
        <button type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                hover:bg-gray-800 transition duration-200 each-in-out ">Nuava cotización +
        </button>
        <br>
        <hr>

<!-- Agregar Productos -->   
          Agregar productos
          <hr>
          <div class="flex flex-auto py-10">
            <button @click="storeQuotations" type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                hover:bg-gray-800 transition duration-200 each-in-out ">Insertar producto +
            </button>
          </div>
          <hr>
<!-- Agregar Productos -->   

<!-- Seleccion productosT -->   
          Seleccion productos
          <hr>

        <div class="flex flex-auto flex-row py-10 ">

            <div class="flex flex-auto text-left">
                <div class="flex-col flex-auto  ">
                    <div class="flex-row  " >
                        <select v-model="quotationForm.product_id" class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-56 text-right" >
                            <option value='' disabled selected>Seleccion de producto</option>
                            <option v-for="product in products" :key="product.id" :value="product.id" >{{product.name}}</option>
                        </select>
                        
                    </div>
                </div>
            </div>

            <div class="flex flex-auto text-left">
                <div class="flex-col flex-auto  ">
                    <div class="flex-row  " >
                        <select v-model="quotationForm.provider_id"  class="my-1 py-1 bg-gray-200 rounded-lg border-transparent w-56  text-right" >
                            <option value='' disabled selected>Selección de proveedor</option>
                            <option v-for="provider in providersFiltered" :key="provider.id" :value="provider.id" >{{provider.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

          <hr>
<!-- Seleccion productos -->   

<!-- Ingreso detalles -->   
          Ingreso detalles
          <hr>
            <div class="flex flex-auto pt-10">
                <button type="button" class="my-1 py-1 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                    hover:bg-gray-800 transition duration-200 each-in-out ">Valores a comparar
                </button>
            </div>

            <div class="flex flex-auto flex-row py-10 gap-4 ">

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Detalle 1</p>
                            <input v-model="titlesOrderForm.title_1" type="text" name="Titulo 1" class="my-1 py-1 w-36 bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="titulo 1" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Detalle 2</p>
                            <input v-model="titlesOrderForm.title_2" type="text" name="Titulo 2" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="titulo 2" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Detalle 3</p>
                            <input v-model="titlesOrderForm.title_3" type="text" name="Titulo 3" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="titulo 3" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Detalle 4</p>
                            <input v-model="titlesOrderForm.title_4" type="text" name="Titulo 4" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="titulo 4" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Detalle 5</p>
                            <input v-model="titlesOrderForm.title_5" type="text" name="Titulo 5" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="titulo 5" >
                        </div>
                    </div>
                </div>

            </div>

        <div class="flex flex-auto text-right ">
            <div class="flex-col flex-auto  ">
                <div class="flex-row my-2  py-4 " >
                    <button @click="updateOrderTitles" type="button" class="bg-gray-700 text-white py-2  w-16  rounded font-medium 
                    hover:bg-gray-800 transition duration-200 each-in-out ">Insertar
                    </button>
                </div>
            </div>
        </div>
        <hr>
<!-- Ingreso detallesT -->   

<!-- Ingreso descripciíon -->   
          Ingreso descripciíon
          <hr>

            <div class="flex flex-auto flex-row py-10 gap-4 ">

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Descripción 1</p>
                            <input v-model="quotationDescription.description_1" type="text" name="descripcion 1" class="my-1 py-1 w-36 bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="Descripción 1" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Descripción 2</p>
                            <input v-model="quotationDescription.description_2" type="text" name="Descripción 2" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="Descripción 2" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Descripción 3</p>
                            <input v-model="quotationDescription.description_3" type="text" name="Descripción 3" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="Descripción 3" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Descripción 4</p>
                            <input v-model="quotationDescription.description_4" type="text" name="Descripción 4" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="Descripción 4" >
                        </div>
                    </div>
                </div>

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Descripción 5</p>
                            <input v-model="quotationDescription.description_5" type="text" name="Descripción 5" class="my-1 py-1 w-36  bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="Descripción 5" >
                        </div>
                    </div>
                </div>

            </div>

        
        
<!-- Ingreso descripciíon -->   
<!-- Ingreso descripciíon -->   
          

            <div class="flex flex-auto flex-row py-10 gap-4 ">

                <div class="flex flex-auto text-left">
                    <div class="flex-col flex-auto  ">
                        <div class="flex-row  " >
                            <p class="my-1 py-1">Precio</p>
                            <input v-model="quotationDescription.sale_price" type="text" name="descripcion 1" class="my-1 py-1 w-36 bg-gray-200 rounded-lg border-transparent text-center" 
                            placeholder="Precio" >
                        </div>
                    </div>
                </div>

                

            </div>

        <div class="flex flex-auto text-right ">
            <div class="flex-col flex-auto  ">
                <div class="flex-row my-2  py-4 " >
                    <button @click="updateQuotationDescription" type="button" class="bg-gray-700 text-white py-2  w-16  rounded font-medium 
                    hover:bg-gray-800 transition duration-200 each-in-out ">Insertar
                    </button>
                </div>
            </div>
        </div>
        <hr>
<!-- Ingreso descripciíon -->   

<!-- Más detallesT -->   
          Más detalles
          <hr>
            <div class="flex flex-auto flex-row   py-10">
                <button @click="deleteQuotation" type="button" class="justify-between flex m-1 py-1 px-3 bg-gray-700 text-white rounded-lg border-transparent w-48 t 
                    hover:bg-gray-800 transition duration-200 each-in-out ">
                    <p>Eliminar cotización </p>
                    <!--<img :src="Upload_icon" alt="icono solicitudes" class="flex w-5 h-5">-->
                </button>
            </div>
            <hr>

                    <div class="flex flex-auto text-right ">
            <div class="flex-col flex-auto  ">
                <div class="flex-row my-2  py-4 " >
                    <button @click= "addToQuotation" type="button" class="bg-gray-700 text-white py-2  w-48  rounded font-medium 
                    hover:bg-gray-800 transition duration-200 each-in-out ">Finalizar a cotización
                    </button>
                </div>
            </div>
        </div>

<!-- Más detalles -->   


      </div>

  </div>
</template>

<script>
import Edit_icon from '../../../public/images/Notas.png'
import Upload_icon from '../../../public/images/UploadIcon.png'
export default {
    props: {
        products: Array,
        providers: Array,
        forms: Array,
        quotation: Object,
        order: Object,
        quotations: Array
    },
  
    methods: {
        storeQuotations(){
            
            console.log('asdasds')
            //window.location.reload();
            return this.$inertia.post(this.route('quotation.store'),{order_id: this.order.id, form_id: this.formFiltered.id})
            
            this.$emit('button-clicked')
        
        },
        updateOrderTitles(){
            
            return    this.$inertia.put(this.route('update_titles', this.order.id),this.titlesOrderForm)
            
        },
        updateQuotationDescription(){
            
             
            return this.$inertia.patch(this.route('update_quotation_description', this.quotation.id),this.quotationDescription)
        },
        
        addToQuotation()
        {
            this.updateOrderTitles()
            this.updateQuotationDescription()
            
            return this.$inertia.put(this.route('order.submitedOrder',this.order.id))
        },
        deleteQuotation(){
            return this.$inertia.delete(this.route('quotation.destroy', this.quotation.id))
        }

    },
    computed:{
        formsToFindProviders(){
           if (this.forms != null){
            const { forms} = this;
            
            return forms.filter(form=> 
               form.product_id == this.quotationForm.product_id
             
            )
            } else return []
        },
        providersFiltered(){
            const providers_filtered = []
            this.formsToFindProviders.forEach(form => {
                
               providers_filtered.push(this.providers.find(provider => provider.id == form.provider_id))
            });
            const uniqueProvidersFiltered = [...new Map(providers_filtered.map(provider => [provider.id, provider])).values()]
            return uniqueProvidersFiltered
             
        },
        formFiltered(){
            const{forms} =this;
            return forms.find(form =>//encuantra el primero y lo imprime 
                form.product_id == this.quotationForm.product_id && form.provider_id == this.quotationForm.provider_id
            )
            
        },
    },

        data () {// esta funcion devuelve el objeto
        return {
  
            
            Edit_icon: Edit_icon,
            Upload_icon: Upload_icon,

            quotationForm: {
                product_id: '',
                provider_id: '',
                order_id: (this.order != null) ? this.order.id : '',
                

            },
            titlesOrderForm: {
                title_1: (this.order != null) ? (this.order.title_1 == null ? 'Descripción 1' : this.order.title_1 ): 'Descripción 1',
                title_2: (this.order != null) ? (this.order.title_2 == null ? 'Descripción 2' : this.order.title_2 ): 'Descripción 2',
                title_3: (this.order != null) ? (this.order.title_3 == null ? 'Descripción 3' : this.order.title_3 ): 'Descripción 3',
                title_4: (this.order != null) ? (this.order.title_4 == null ? 'Descripción 4' : this.order.title_4 ): 'Descripción 4',
                title_5: (this.order != null) ? (this.order.title_5 == null ? 'Descripción 5' : this.order.title_5 ): 'Descripción 5',
                quotation_id: (this.quotation != null) ? this.quotation.id : '',
            },
            quotationDescription: {
                description_1: (this.quotation != null) ? ( this.quotation.description_1 == null ? this.quotation.form.description_1 : this.quotation.description_1 ):  '',
                description_2: (this.quotation != null) ? ( this.quotation.description_2 == null ? this.quotation.form.description_2 : this.quotation.description_2 ):  '',
                description_3: (this.quotation != null) ? ( this.quotation.description_3 == null ? this.quotation.form.description_3 : this.quotation.description_3 ):  '',
                description_4: (this.quotation != null) ? ( this.quotation.description_4 == null ? this.quotation.form.description_4 : this.quotation.description_4 ):  '',
                description_5: (this.quotation != null) ? ( this.quotation.description_5 == null ? this.quotation.form.description_5 : this.quotation.description_5 ):  '',
                sale_price: (this.quotation != null) ? ( this.quotation.sale_price == null ? this.quotation.form.sale_price : this.quotation.sale_price ):  '',
            }
        }
    }

}
</script>

<style>

</style>