<template>
    <div class=" articles-config p-2  " > 
                               
        <div class="flex flex-row flex-wrap flex-grow justify-between items-center  md:flex md:flex-col lg:flex lg:flex-col xl:flex xl:flex-col 2xl:flex 2xl:flex-col "><!--nav-->

            <!--logo -->
            <inertia-link href="/" class="flex flex-row gap-4 ">
                <img class="h-14   md:h-auto lg:h-auto xl:h-16 2xl:h-20" v-bind:src="logo_image" alt="Broker" > 
            </inertia-link>
        
            <inertia-link v-if="$page.props.user.user_type==0" :href="route('dashboard')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('dashboard') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="home" alt="maletin">
                 <p class="hover:text-blue2 w-28  "> <b>Home</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==0" :href="route('dashboard1')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('dashboard1') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="maleta" alt="maletin">
                 <p class="hover:text-blue2 w-28   "> <b>Tus productos</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==1" :href="route('dashboard')" class=" w-auto  flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('dashboard') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="home" alt="maletin">
                 <p class="hover:text-blue2 w-28   " > <b>Home</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==1" :href="route('creditos-productos-financieros')" class=" w-auto  flex flex-row gap-4 items-center hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4 " :class=" route().current('creditos-productos-financieros') ? 'bg-gray-200 shadow-lg   border-green2  border-r-4  ' : ''">
                <img class=" w-6 m-2" :src="creditos" alt="creditos">
                <p class="hover:text-blue2  w-28   "> <b>Creditos</b> </p>
            </inertia-link> 

            <inertia-link v-if="$page.props.user.user_type==1" :href="route('dashboard2')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" route().current('dashboard2') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4 ' :''">
                <img class="w-6 m-2" :src="seguros" alt="seguros" >
                <p class="hover:text-blue2  w-28  "> <b>Seguros</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==2" :href="route('dashboard')" class=" w-auto  flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('dashboard') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="home" alt="maletin">
                 <p class="hover:text-blue2 w-28  "> <b>Home</b> </p>
            </inertia-link>

             <inertia-link v-if="$page.props.user.user_type==2" :href="route('creditos-productos-financieros-rol3')" class=" w-auto flex flex-row gap-4 items-center hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4 " :class=" route().current('creditos-productos-financieros-rol3') ? 'bg-gray-200 shadow-lg   border-green2  border-r-4  ' : ''">
                <img class=" w-6 m-2" :src="creditos" alt="creditos">
                <p class="hover:text-blue2  w-28  "> <b>Creditos</b> </p>
            </inertia-link> 

            <inertia-link v-if="$page.props.user.user_type==2" :href="route('dashboard3')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" route().current('dashboard3') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4 ' :''">
                <img class="w-6 m-2" :src="seguros" alt="seguros" >
                <p class="hover:text-blue2  w-28 "> <b>Seguros</b> </p>
            </inertia-link>
            <inertia-link v-if="$page.props.user.user_type>=1" :href="route('inventory.index')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" route().current('inventory.index') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4 ' : ''">
                <img class=" w-6 m-2" :src="lista" alt="inventory">
                <p class="hover:text-blue2  w-28 "> <b>Vitrina inmuebles y vehículos</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type>=1" :href="route('inventoryAdmin')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" isRoute('inventoryAdmin') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4  ' : ''">
                <img class="w-6 m-2" :src="office" alt="crear cursos">
                <p class="hover:text-blue2  w-28  "> <b>Gestión vitrina</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==1" :href="route('opportunities.index')" class=" w-full flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('opportunities.index') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="office" alt="oficina virtual">
                 <p class="hover:text-blue2 w-28  "> <b>Oportunidades</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==1" :href="route('VirtualOffice2')" class=" w-full flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('VirtualOffice2') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="office" alt="oficina virtual">
                 <p class="hover:text-blue2 w-28   "> <b>Oficina virtual</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==1" :href="route('libraries.index')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" route().current('libraries.index*') ? 'bg-gray-200 shadow-lg   border-green2 border-r-4 ' : ''">
                <img  class=" w-6 m-2" :src="biblioteca" alt="biblioteca">
                <p class="hover:text-blue2  w-28  "> <b>Biblioteca</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==2" :href="route('opportunitiesAdmin.index')" class=" w-full flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('opportunitiesAdmin.index') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="office" alt="oficina virtual">
                 <p class="hover:text-blue2 w-28  "> <b>Oportunidades</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==2" :href="route('VirtualOffice3')" class=" w-auto  flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600  p-4 " :class=" route().current('VirtualOffice3') ? ' bg-gray-200  shadow-lg    border-green2 border-r-4 ' : ''">
                 <img class=" w-6 m-2" :src="office" alt="oficina virtual">
                 <p class="hover:text-blue2 w-28  "> <b>Oficina virtual</b> </p>
            </inertia-link>

            

            

            

            


            <inertia-link v-if="$page.props.user.user_type==2" :href="route('courses.index')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" isRoute('courses.index','libraries.course','libraries.lesson') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4  ' : ''">
                <img class="w-6 m-2" :src="office" alt="crear cursos">
                <p class="hover:text-blue2  w-28  "> <b>Crear cursos</b> </p>
            </inertia-link>
            
            <inertia-link v-if="$page.props.user.user_type==2" :href="route('productsProviders')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" route().current('productsProviders') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4  ' : ''">
                <img class="w-6 m-2" :src="office" alt="crear Productos y Proveedores">
                <p class="hover:text-blue2  w-28  "> <b>Productos y Proveedores</b> </p>
            </inertia-link>

            <inertia-link v-if="$page.props.user.user_type==2" :href="route('createProfiles')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4  " :class=" route().current('productsProviders') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4  ' : ''">
                <img class="w-6 m-2" :src="office" alt="crear Productos y Proveedores">
                <p class="hover:text-blue2  w-28  "> <b>Crear perfiles</b> </p>
            </inertia-link>

 
            <inertia-link v-if="$page.props.user.user_type<2" :href="route('pqr.index')" class=" w-auto flex flex-row gap-4 items-center  hover:border-r-4 hover:border-blue2   focus:border-blue-600 p-4 " :class=" route().current('pqr.index') ? 'bg-gray-200 shadow-lg    border-green2 border-r-4  ' : ''">
                <img class=" w-3  m-2 " :src="pregunta" alt="pqr">
                <p class="hover:text-blue2  pl-3 w-28   "> <b>Ayuda</b> </p>
            </inertia-link>
            
        </div>

    </div>

</template>

<script>
    import home from '@/Pages/Utilities/Vectors/Home.png'
    import maleta from '@/Pages/Utilities/Vectors/Maleta.png'
    import seguros from '@/Pages/Utilities/Vectors/Seguros.png'
    import creditos from '@/Pages/Utilities/Vectors/Creditos.png'
    import office from '@/Pages/Utilities/Vectors/Virtualoffice.png'
    import biblioteca from '@/Pages/Utilities/Vectors/Biblioteca.png'
    import carpetas from '@/Pages/Utilities/Vectors/Carpetas.png'
    import cuentas from '@/Pages/Utilities/Vectors/Cuentas.png'
    import grafica from '@/Pages/Utilities/Vectors/Grafica.png'
    import lista from '@/Pages/Utilities/Vectors/Lista.png'
    import papeles from '@/Pages/Utilities/Vectors/Papeles.png'
    import persona from '@/Pages/Utilities/Vectors/Persona.png'
    import pregunta from '@/Pages/Utilities/Vectors/Pregunta.png'
    import otro from '@/Pages/Utilities/Vectors/Otro.png'
    import otro2 from '@/Pages/Utilities/Vectors/Otro2.png'
    import logo_image from '@/Pages/Utilities/Logo/Logo3.png'
    import logo_brokerApp from '@/Pages/Utilities/Logo/Logo2.png'
    

    export default {
        components: {
            
        },

        data () {// esta funcion devuelve el objeto
        return {

            home: home,
            seguros: seguros,
            creditos: creditos,
            office: office,
            biblioteca : biblioteca,
            logo_image: logo_image , 
            logo_brokerApp: logo_brokerApp,
            maleta: maleta,
            carpetas: carpetas,
            cuentas: cuentas,
            grafica: grafica,
            lista: lista,
            papeles: papeles,
            persona: persona,
            pregunta: pregunta,
            otro: otro,
            otro2: otro2,
                    
        }
    }
                 
    }
</script>
