<template>
    <inertia-link href="/#contacts-form">
        <div class="contact-button "  >
            <button class=" right-1  bottom-28    fixed   ">
                <img v-bind:src="te_llamamos_button" alt="imagen introduccion home" > 
            </button>
        </div>
    </inertia-link> 
</template>

<script>
export default {

    props:{
        te_llamamos_button: String,
    }

}
</script>

<style>
.contact-button{
    height: 104;
    width: 317;  
    }
</style>