<template>

    <body class="">

      <div class="flex items-center gap-10 mt-5">
                                <button @click="goToOrder" type="button" class="  articles-config text-center  rounded-full w-10 h-10  ml-5
                                hover:bg-blue3 "> <p class="text-xl  -ml-1 text-blue2 font-black transform rotate-90 hover:text-white  ">V</p>
                                </button>
                                <h1 class="primary-text text-xl">Productos aprovados</h1>             
                            </div>

      <div class="justify-center flex py-3 ">
        <div class="flex  mt-6  gap-28  bg-blue3 h-0.5    items-center  ">
            <button @click="set_charge_1"  v-if="charge>=0  " class="w-7 h-7 flex-shrink-0  border-blue3  border-2    shadow-2xl focus:outline-none articles-config rounded-full flex justify-center items-center">
            <div v-if="charge>=1" class="border-blue3  bg-green2 text-white w-3 h-3 rounded-full"><p class="-mt-10 -ml-6 primary-text  ">Documentos</p></div></button>
            
           

            <button @click="set_charge_2" v-if="charge>=0 " class="w-7  h-7 flex-shrink-0  border-blue3  border-2 shadow-2xl focus:outline-none articles-config rounded-full flex justify-center items-center" >
            <div v-if="charge>=2" class="border-blue3  bg-green2 text-white w-3 h-3 rounded-full"><p class="-mt-10 -ml-6 primary-text  ">Verificación</p></div></button>
        </div>  
      </div>
     
      <div class="mx-20 px-10 py-5 text-center ">
        <h1 v-if="charge==1" class="text-green3 text-2xl">Carga tu comprobante de pago</h1>
        
        <h1 v-if="charge==2"  class="text-green3 text-2xl">Verifica tu Documentación </h1>

            <p class="mt-2 text-sm text-gray-600">Ten en cuenta las indicaciones de nuestros asesores a la hora de diligenciar tus documentos y cárgalos aquí.</p>
            <p class="mb-2 text-sm text-gray-600 ">Te recomendamos usar el formato .pdf para para la carga de Documentos requeridos</p>

            <div v-if="charge==1  " class=" flex flex-row">

              <form class="flex  articles-config rounded-xl  m-2 p-2 " @submit.prevent="submit">
                    
                <div class="grid grid-cols-1  ">
                  <input class="relative pl-8 pr-3 pt-4 h-52  text-blue-600 text-lg focus:outline-none" type="file" @change="select_file">
                  <div class="flex flex-auto items-center justify-center -mt-52">
                    
                    <div class="flex items-center justify-center w-full">
                      
                      <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
                        

                          <div class="h-full w-full text-center flex flex-col justify-center items-center  ">
                              <div class="flex flex-auto ">
                              <img class=" object-center" v-bind:src="Cloud_icon" alt="imagen carga">
                              </div>
                              <p class="pointer-none text-gray-500  p-2"> <a  >selecciona un archivo </a>ó arrastra directamente de tu PC</p>
                          </div>

                            <input class="hidden relative h-64 w-96" type="file" @change="select_file">
                            <p class="text-base  text-blue2 ">
                            <span>Tipos de archivos: .pdf .doc .jpg .png </span>
                            </p>

                      </label>

                    </div>

                  </div>

                  <label class="text-sm font-bold text-gray-500 tracking-wide m-2 p-2 ">Descripción del documento.</label>

                  <div class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500" > Comprobante de pago</div>
                  <div class="text-center m-3 p-3">
                    <button   class="bg-gradient-to-r from-blue3   text-sm    w-40    to-blue2    text-white p-2 flex-shrink-0    shadow-2xl focus:outline-none rounded-xl  justify-center items-center">
                            cargar
                    </button>
                  </div>
                </div>
              </form>

              <div class="flex flex-auto flex-col    rounded-xl m-4 articles-config w-auto h-auto"> 
                <h2  class="text-sm font-bold text-gray-800 tracking-wide m-2 p-2 " >Documentos cargados:</h2>

                <div v-for="media in documents" :key="media.id" class="p-2 m-2 flex flex-row  items-center  justify-between">
                  <a :href="route('downloadFile',media.id)">
                  <p class="flex" >{{media.display_name}}  </p>
                  </a>
                  <button @click="deleteMedia(media.id)">
                  <span>
                    <img v-bind:src="Trash_icon" alt="trash" class="flex " > 
                  </span>
                  </button>
                </div>                
              </div>

            </div>

            <div v-if="charge==2">
              
              <div class="flex flex-col rounded-xl m-4 bg bg-white w-auto h-auto text-center"> 
                <h2  class="text-xl font-bold text-blue2  tracking-wide m-2 p-2 " >Documentos cargados:</h2>

                <div v-for="media in documents" :key="media.id" class="articles-config h-20 px-8  m-2 flex flex-row  items-center  justify-between rounded-xl">
                  
                  <div>
                    <p class="flex" >{{media.display_name}}  </p>
                  </div>
                 
                 <div class="flex gap-10 ">
                   <div>
                    <button  class="bg-gradient-to-r from-green2  text-sm    w-40    to-green3   
                    text-white  p-2  flex-shrink-0   shadow-2xl focus:outline-none  rounded-xl   justify-center items-center">
                    <span>
                      <a :href="route('downloadFile',media.id)">
                        Descargar
                      </a>
                    </span>
                    </button>
                   </div>

                  <div>
                    <button @click="deleteMedia(media.id)"  class="bg-gradient-to-r from-red-400   text-sm    w-40    to-red-600    text-white  p-2  flex-shrink-0   shadow-2xl focus:outline-none  rounded-xl  
                    justify-center items-center">
                      Eliminar
                    </button>
                  </div>

                 </div>

                </div>                
              </div>
            </div>

      </div>

      <div class="justify-around flex py-5 ">
        
          <button @click="prew_charge" v-if="charge>=2 && charge<=3" class="bg-gradient-to-r from-green2  text-sm    w-40    to-green3   text-white  p-2  flex-shrink-0   shadow-2xl focus:outline-none  rounded-xl   justify-center items-center" ><p>Anterior</p>
          </button>
          <button @click="next_charge"  v-if="charge<=1 && charge>=0" class="bg-gradient-to-r from-green2  text-sm    w-40    to-green3   text-white p-2 flex-shrink-0    shadow-2xl focus:outline-none rounded-xl  justify-center items-center"><p>Siguiente</p>
          </button>
          <button @click="goToOrder"  v-if="charge==2" class="bg-gradient-to-r from-green2  text-sm    w-40    to-green3   text-white p-2 flex-shrink-0    shadow-2xl focus:outline-none rounded-xl  justify-center items-center"><p>Finalizar</p>
          </button>
          
      </div>

    </body>

</template>



<script>
import Upload_icon from '../../../public/images/UploadIcon.png'
import Trash_icon from '../../../public/images/Basura.png'
import Cloud_icon from '../../../public/images/cloud.png'
import Button from '../Jetstream/Button.vue'

export default {
  components: { Button },
   data () {// esta funcion devuelve el objeto
        return {
      
            Upload_icon: Upload_icon,
            Trash_icon: Trash_icon,
            Cloud_icon: Cloud_icon,
            charge :(this.$page.props.user.user_type==2) ? 1 : 2,
            

        }
    },

    props : { 
      form:Object,
      order: Object,
    
    },

    methods: {
      
     select_file(event){
      this.form.media_upload = event.target.files[0];
    },

    goToOrder(){
            return this.$inertia.get(this.route('order.goToOrder',this.order.id))
        },

    
        next_charge (){
            this.charge=this.charge+1
            
        },

        prew_charge (){
            this.charge=this.charge-1
        },
        
        set_charge_1(){
            this.charge=1
        },
        set_charge_2(){
            this.charge=2
        },
        set_charge_3(){
            this.charge=3
        },

      submit(){
            console.log('asdasds')
            this.$inertia.post(this.route('upload_files',this.order.id),this.form)
            this.$emit('button-clicked')
      },
      deleteMedia(media){
        this.$inertia.post(this.route('delete_media',this.order.id),{mediaStorage_id: media})
      }
    
},
  computed: {
    documents(){
      const { order} = this;
            return order.media_storage.filter(media=> 
               media.description == this.form.description
             
            )
    },
  },

  mounted() {


    },
         
    
                    





}


</script>

<style>


  
 .tab {
    overflow: hidden;
    }
    .tab-content {
    max-height: 0;
    transition: all 0.5s;
    }
    input:checked + .tab-label .test {
        background-color: #000;
    }
    input:checked + .tab-label .test svg {
        transform: rotate(180deg);
        stroke: #fff;
    }
    input:checked + .tab-label::after {
    transform: rotate(90deg);
    }
    input:checked ~ .tab-content {
    max-height: 100vh;
    }
    .snap-x {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.snap-start {

  scroll-snap-align: center;
}

</style> 