<template>
    <Header2 :logo_image="logo_image" class="bg-gray-100" ></Header2>

    <!-- PRESENTATION COMPONENT -->


       
        <div class="flex articles-config  fondo-home  bg-gray-100 "> 

            <jet-authentication-card class=" w-full pb-28   fondo-home bg-gray-100">

            <inertia-link :href="'/'" class="flex flex-row">
                    <div class="flex-auto mx-10 px-14">
                        <img   v-bind:src="logo_image" alt="imagen introduccion home"> 
                    </div>
                </inertia-link>
        

                
            <div class="text-center mx-10 px-6  mb-3 pb-5 ">
                <h1 class="text-2xl primary-text  "> Bienvenid@</h1>
                <p class="text-gray-500 secundary-text">Inicia sesión para acceder a tus datos </p>
            </div>

            <jet-validation-errors class="my-4 opacity-100" />

                <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                    {{ status }}
                </div>

                <form @submit.prevent="submit" class="">
                    <div class=" my-4 py-4">
                        <jet-label for="email" value="Correo electrónico" />
                        <jet-input placeholder="Email@email.com" id="email" type="email" class="mt-1 block w-full border-none shadow-md " v-model="form.email" required autofocus />
                    </div>

                    <div class=" my-4 py-4">
                        <jet-label for="password" value="Contraseña" />
                        <jet-input placeholder="tu contraseña" id="password"  type="password" class="mt-1 block w-full border-none  shadow-md " v-model="form.password" required autocomplete="current-password" />
                    </div>

                    <div class=" mb-10  pb-6 flex flex-row justify-between">
                        <label class="flex items-center">
                            <jet-checkbox name="remember" v-model:checked="form.remember" />
                            <span class="ml-2 text-sm text-gray-600">Recordarme</span>
                        </label>
                        <inertia-link v-if="canResetPassword" :href="route('password.request')" class="underline text-sm text-gray-600 hover:text-gray-900">
                            ¿Olvidaste tu contraseña?
                        </inertia-link>
                    </div>

                    <div class="flex  items-center justify-end bg-gray-100   my-4 py-4">


                        <jet-button class="ml-4 bg-gradient-to-r from-green2     border-none   to-green3  " :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Ingresar
                        </jet-button>
                    </div>
                </form>
            </jet-authentication-card>

            <div class="my-10" >
                <te-llamamos :te_llamamos_button="te_llamamos_button" >
                </te-llamamos>
            </div>

        </div> 
<!-- PRESENTATION COMPONENT -->



    <!-- <jet-authentication-card class="m-10 p-6 w-full h-full  ">

           <inertia-link :href="'/'" class="flex flex-row  "  >
                <div class="flex-auto mx-10 px-14">
                    <img   v-bind:src="logo_image" alt="imagen introduccion home"  > 
                </div>    
            </inertia-link>
    

            
        <div class="text-center mx-10 px-6  mb-3 pb-5 ">
            <h1 class="text-2xl primary-text  "> Bienvenid@</h1>
            <p class="text-gray-500 secundary-text">Inicia sesión para acceder a tus datos </p>
        </div>

        <jet-validation-errors class="my-4 " />

        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>

        <form @submit.prevent="submit" class="">
            <div class=" my-4 py-4">
                <jet-label for="email" value="Correo electrónico" />
                <jet-input placeholder="Email@email.com" id="email" type="email" class="mt-1 block w-full border-none shadow-md " v-model="form.email" required autofocus />
            </div>

            <div class=" my-4 py-4">
                <jet-label for="password" value="Contraseña" />
                <jet-input placeholder="tu contraseña" id="password"  type="password" class="mt-1 block w-full border-none  shadow-md " v-model="form.password" required autocomplete="current-password" />
            </div>

            <div class=" mb-10  pb-6 flex flex-row justify-between">
                <label class="flex items-center">
                    <jet-checkbox name="remember" v-model:checked="form.remember" />
                    <span class="ml-2 text-sm text-gray-600">Recordarme</span>
                </label>
                <inertia-link v-if="canResetPassword" :href="route('password.request')" class="underline text-sm text-gray-600 hover:text-gray-900">
                    ¿Olvidaste tu contraseña?
                </inertia-link>
            </div>

            <div class="flex  items-center justify-end bg-gray-100   my-4 py-4">


                <jet-button class="ml-4 bg-gradient-to-r from-green2     border-none   to-green3  " :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Ingresar
                </jet-button>
            </div>
        </form>
    </jet-authentication-card> -->
</template>

<script>
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo'
    import JetButton from '@/Jetstream/Button'
    import JetInput from '@/Jetstream/Input'
    import JetCheckbox from '@/Jetstream/Checkbox'
    import JetLabel from '@/Jetstream/Label'
    import JetValidationErrors from '@/Jetstream/ValidationErrors'
    import logo_image from '@/Pages/Utilities/Logo/Logo1.png'
    import logo1_image from '@/Pages/Utilities/Logo/Logo2.png'
    import Header from '@/Layouts/Header'
    import Header2 from '@/Layouts/Header2'
    import te_llamamos_button from '../../../../public/images/tellamamos.png'
    import TeLlamamos from '@/Layouts/TeLlamamos'

    export default {
        components: {
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Header,
            Header2,
            TeLlamamos,
        },

        props: {
            canResetPassword: Boolean,
            status: String
        },

        data() {
            return {
                
                logo_image: logo_image ,
                logo1_image: logo1_image,
                te_llamamos_button: te_llamamos_button,
                
                form: this.$inertia.form({
                    email: '',
                    password: '',
                    remember: false
                })
            }
        },

        methods: {
            submit() {
                this.form
                    .transform(data => ({
                        ... data,
                        remember: this.form.remember ? 'on' : ''
                    }))
                    .post(this.route('login'), {
                        onFinish: () => this.form.reset('password'),
                    })
            }
        }
    }
</script>
